@color-primary: #586bf3;
@color-main:  #007aff;

@color-white: #fff;
@color-black: #000;

@color-success: ;
@color-warning: ;
@color-danger: ;
@color-info: ;

@color-bg-primary: #f1f; //整体背景
@color-bg-regular: #444; //@color-white; // card
@color-bg-reverse: #fff;

@color-text-primary: #fff; // @color-black; //主要
@color-text-regular: #ddd; // 常规
@color-text-secondary: #bbb; // 次要 label
@color-text-placeholder: #999; // 占位
@color-text-reverse: #000; // 翻转色  如header中文字色

@color-border-base: ; //一级边框
@color-border-light: ; // 二级
@color-border-lighter: ; // 三级
@color-border-extra-light: ; // 四级

@color-tabbar-text: green;

@color-bg-input-active: #444;
