<div class="page page-fade zoom-wrapper" ng-controller="ImageZoomCtrl">
    <div class="zoom-wrapper" id="zoomTarget">
        <img ng-src="{{link}}" class="zoom-obj" style="width: 100%;">
    </div>
    <div class="mui-popover mui-popover-action mui-popover-bottom" ng-class="{'mui-active': menuVisible}">
        <ul class="mui-table-view">
            <li class="mui-table-view-cell">
                <a ng-click="saveImage()">保存报告</a>
            </li>
        </ul>
        <ul class="mui-table-view">
            <li class="mui-table-view-cell">
                <a ng-click="menuVisible=false" style="color: #aaaaaa;"><b>取消</b></a>
            </li>
        </ul>
    </div>
    <div class="mui-backdrop mui-backdrop-action" ng-class="{'mui-active': menuVisible}" ng-show="menuVisible"></div>
</div>