<ul class="image-list" id="imageList" ng-controller="ImageUploaderCtrl">
    <li class="image-item" ng-repeat="file in images" ng-click="openGallery($index)">
        <div class="content">
            <a class="img-file" style="background-image: url({{file}})"></a>
        </div>
    </li>
    <li class="upload-item">
        <div class="content">
            <div class="image-uploader">
                <input class="add-btn" type="file" accept="image/*" name="upload" multiple ng-model="chosenFile" onchange="angular.element(this).scope().chooseImage(this.files)" ng-if="!useMobileGallery">
                <input class="add-btn" name="upload" ng-model="chosenFile" ng-click="openMobileGallery()" ng-if="useMobileGallery">
            </div>
        </div>
    </li>
</ul>