
<!-- build:js -->
<script type="text/javascript" src="../components/libs/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../components/angular/angular.min.js"></script>
<script type="text/javascript" src="../components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="text/javascript" src="../components/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src="../components/angular-ui-router/release/stateEvents.min.js"></script>
<script src="../components/moment.min.js"></script>
<script src="../components/echart/echarts.min-3.x.js"></script>
<script src="../components/mui/js/mui.min.js"></script>
<script src="../components/mui/js/mui.picker.min.js"></script>
<script src="../components/fastclick-master/lib/fastclick.js"></script>
<script src="../components/dropload-gh-pages/dist/dropload.min.js"></script>

<script type="text/javascript" src="../js/app/utils.js"></script>
<script type="text/javascript" src="../js/app/app.js"></script>
<script type="text/javascript" src="../js/service/appstore.js"></script>
<script type="text/javascript" src="../js/service/cloudApi.js"></script>
<script type="text/javascript" src="../js/service/router-service.js"></script>
<script type="text/javascript" src="../js/service/common-service.js"></script>
<script type="text/javascript" src="../js/service/varData.js"></script>
<script type="text/javascript" src="../js/router/router.js"></script>

<script type="text/javascript" src="../js/controller/device.js"></script>
<script type="text/javascript" src="../js/controller/dts.js"></script>
<script type="text/javascript" src="../js/controller/energy.js"></script>
<script type="text/javascript" src="../js/controller/ipc.js"></script>
<script type="text/javascript" src="../js/controller/kanban.js"></script>
<script type="text/javascript" src="../js/controller/login.js"></script>
<script type="text/javascript" src="../js/controller/monitor.js"></script>
<script type="text/javascript" src="../js/controller/setting.js"></script>
<script type="text/javascript" src="../js/controller/site-monitor.js"></script>
<script type="text/javascript" src="../js/controller/sites.js"></script>
<script type="text/javascript" src="../js/controller/static-devices.js"></script>
<script type="text/javascript" src="../js/controller/task.js"></script>
<script type="text/javascript" src="../js/controller/user-energy.js"></script>
<script type="text/javascript" src="../js/controller/site/maintenance-checks.js"></script>
<script type="text/javascript" src="../js/controller/site/security_evaluate.js"></script>

<script src="../js/my/image-uploader.js"></script>
<script src="../js/my/notify.js"></script>

<script type="text/javascript" src="../js/lib/jwt/jsrsasign-all-min.js"></script>
<script type="text/javascript" src="../js/lib/datatables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../js/lib/datatables/dataTables.fixedColumns.min.js"></script>
<script type="text/javascript" src="../js/lib/datatables/dataTables.fixedHeader.min.js"></script>
<script type="text/javascript" src="../js/lib/circleChart.es5.min.js"></script>
<!-- endbuild -->