<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <!--&lt;!&ndash; build.css &ndash;&gt;-->
    <!--<link rel="stylesheet" href="../css/login.css">-->
    <!--<link rel="stylesheet" href="../css/iconfont/iconfont.css">-->
    <!--&lt;!&ndash; endbuild &ndash;&gt;-->

    <!--build:css -->
    <link rel="stylesheet" href="/css/all.css">
    <!--endbuild -->
    <!-- build:lib -->
    <script type="text/javascript" src="../lib/jquery-3.5.0.min.js"></script>
    <script type="text/javascript" src="../lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="../lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="../lib/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="/lib/angular-translate.min.js"></script>
    <script type="text/javascript" src="../lib/angular-ui-router/release/stateEvents.min.js"></script>
    <!-- endbuild -->
<body class="box-vertical-center" ng-app="myApp" ng-cloak ng-controller="LoginCtrl" ng-class="isDark ? 'dark-login' : 'light-login'">
    <img class="main-icon" src="../img/login/login-icon.png" ng-if="!isDark">
    <div style="color: rgba(255, 255, 255, 0.6);font-size: 25px;margin-top: 15%;" ng-if="isDark">欢迎使用</div>
    <div style="color: #FFF; font-size: 2rem;line-height: 3.5rem;" ng-if="isDark">{{appName}}</div>
    <div class="login-area">
        <div class="login-form">
            <div class="form-item" ng-show="platformCodeVisible">
                <label>{{ 'login.code' | translate}}</label>
                <input type="text" placeholder="{{'login.code.placeholder' | translate}}" ng-model="platformCode" ng-change="inputChange('platformCode')"></div>
            <div class="form-item">
                <label>{{ 'login.account' | translate }}</label>
                <input type="text" ng-model="username" ng-change="inputChange('username')" placeholder="{{ 'login.account.placeholder' | translate }}">
            </div>
            <div class="form-item">
                <label>{{ 'login.pwd' | translate }}</label>
                <input type="password" ng-model="password" ng-change="inputChange('password')" placeholder="{{ 'login.pwd.placeholder' | translate }}" ng-show="!passwordVisible">
                <i class="iconfont anticon-password-not-seen" ng-if="!passwordVisible" ng-click="togglePasswordVisible()"></i>
                <input type="text" ng-model="password" ng-change="inputChange('password')" placeholder="{{ 'login.pwd.placeholder' | translate }}" ng-show="passwordVisible">
                <i class="iconfont anticon-password-seen" ng-if="passwordVisible" ng-click="togglePasswordVisible()"></i>
            </div>
            <div class="login-btn" ng-class="{'enable': enable}" ng-click="login()">
                <span ng-if="!isLogin">{{ 'login' | translate}}</span>
                <span ng-if="isLogin">{{'login.submitting' | translate }}...</span>
            </div>
        </div>
    </div>
    <!-- build:js -->
    <script type="text/javascript" src="/js/app/utils.js"></script>
    <script type="text/javascript" src="/config/config.js"></script>
    <script type="text/javascript" src="../lib/jwt/jsrsasign-all-min.js"></script>
    <script type="text/javascript" src="../js/app/app.js"></script>
    <script type="text/javascript" src="../js/service/common-service.js"></script>
    <script src="../lib/fastclick-master/lib/fastclick.js"></script>
    <script src="../js/my/notify.js"></script>
    <script type="text/javascript" src="../js/controller/login.js"></script>
    <!-- endbuild -->
</body>
</html>