<div class="page page-left" style="background-color: #fff;">
    <img class="login-icon" src="img/login/login-icon.png">
    <div class="login-area" ng-controller="LoginCtrl">
        <div class="login-form">
            <div class="form-item">
                <label>平台</label>
                <input type="text" placeholder="请输入平台编号" ng-model="platformCode" ng-change="inputChange('platformCode')"></div>
            <!--<div class="error">{{platformError}}</div>-->
            <div class="form-item">
                <label>用户名</label>
                <input type="text" ng-model="username" ng-change="inputChange('username')" placeholder="请输入账号">
            </div>
            <div class="form-item">
                <label>密码</label>
                <input type="password" ng-model="password" ng-change="inputChange('password')" placeholder="请输入密码">
            </div>
            <!--<div class="error">{{error}}</div>-->
            <div class="login-btn" ng-class="{'enable': enable}" ng-click="login()">
                <span ng-if="!isLogin">登录</span>
                <span ng-if="isLogin">正在登录...</span>
            </div>
        </div>
    </div>
</div>