<div class="page page-left" ng-app="myApp">
    <header class="mui-bar bg-header">
        <a class="mui-icon mui-icon-left-nav mui-pull-left text-white" onclick="pageBack()"></a>
        <h1 class="mui-title" id="head_title">{{stationName}}</h1>
    </header>
    <div>
        <div class="mui-content bg-white" style="padding: 0" ng-class="{'page-bottom': canHandle}" ng-controller="mapCtrl" ng-cloak>
            <div style="padding: 8px 12px;font-size: 14px;">
                <span id="stationAddress">{{siteData.address}}</span>
                <span class="text-red mui-pull-right" style="color: #007aff;">{{distance}}</span>
            </div>
            <div style="height: 100%;width: 100%;">
                <div id="stationMap" style="width: 100%;height: 100%;"></div>
            </div>
            <div style="position: fixed;bottom: 0px;width: 100%;text-align: center;" ng-if="enableNavigate">
                <button type="button" class="mui-btn mui-btn-primary mui-icon mui-btn-block " style="width: 50%;" ng-click="openThirdMap()">
                    <span style="position: relative;display: inline-block;line-height: 24px;"><i class="icon icon-20 icon-navigate mui-pull-left"></i>导航</span>

                </button>
            </div>
        </div>
    </div>
</div>
