<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>站点位置</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!--build:css -->
    <link rel="stylesheet" href="/css/all.css">
    <!--endbuild -->
    <style>

        .icon{
            display: inline-block;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50%;
        }
        .icon-20{
            height: 20px;
            width: 20px;
        }
        .icon-navigate{
            background-image: url("../img/light/64X64/navigator.png");
        }

    </style>
    <!-- build:lib -->
    <script type="text/javascript" src="/lib/jquery-3.5.0.min.js"></script>
    <script type="text/javascript" src="/js/app/utils.js"></script>
    <script type="text/javascript" src="/components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/components/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="/components/angular-ui-router/release/stateEvents.min.js"></script>
    <script type="text/javascript" src="/lib/angular-translate.min.js"></script>
    <script type="text/javascript" src="/components/baidu/map/MarkerManager-1.2.min.js"></script>
    <!-- endbuild -->
</head>

<body class="mui-android mui-android-5 mui-android-5-1 mui-android-5-1-1 mui-segmented-control-vertical" ng-app="myApp" ng-cloak>
<header class="mui-bar bg-header">
    <a class="mui-icon  mui-icon-left-nav mui-pull-left btn-back" onclick="pageBack()"></a>
    <h1 class="mui-title" id="head_title">{{'station.location' | translate}}</h1>
</header>
<div>
    <div class="body-content bg-white" style="padding: 0" ng-class="{'page-bottom': canHandle}" ng-controller="mapCtrl" ng-cloak>
        <div style="padding: 8px 12px;font-size: 14px;">
            <span id="stationAddress">{{siteData.address}}</span>
            <a class="text-red mui-pull-right">{{distance}}</a>
        </div>
        <div style="height: 100%;width: 100%;">
            <div id="map" style="width: 100%;height: 100%;"></div>
        </div>
        <div style="position: fixed;bottom: 0px;width: 100%;text-align: center;" ng-if="enableNavigate">
            <button type="button" class="mui-btn mui-btn-primary mui-icon mui-btn-block " style="width: 50%;" ng-click="openThirdMap()">
                <span style="display: inline-block;line-height: 24px;"><i class="iconfont anticon-navigate mui-pull-left"></i>{{'navigate' | translate}}</span>

            </button>
        </div>
    </div>
</div>
<!-- build:js -->
<script type="text/javascript" src="/config/config.js"></script>
<script src="/js/my/notify.js"></script>
<script type="text/javascript" src="/js/app/utils.js"></script>
<script type="text/javascript" src="/js/app/app.js"></script>
<script type="text/javascript" src="/js/service/common-service.js"></script>
<!-- endbuild -->
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ITbaaCqA7nMWRjEIycEpddoUW1AvZvRq"></script>
<script>

    $("#head_title").html(GetQueryString('name'));

    app.controller('mapCtrl', ['$scope', '$translate', function ($scope, $translate) {
        var sn = GetQueryString('stationSn');

        $scope.siteData = {};
        $scope.distance = '';
        $scope.enableNavigate = false;
        function getSite() {
            var host = JSON.parse(getStorageItem('latestPlatform')).url;
            $.ajax({
                url: host + '/stations/' + sn,
                xhrFields: {
                    withCredentials: true
                },
                crossDomain: true,
                headers: {
                    Authorization: 'Bearer' + (getStorageItem('accountToken') || ''),
                    credentials: 'include',
                    mode: 'cors'
                },
                success: function (data) {
                    data.address = (data.address_province?data.address_province:'') + (data.address_city?data.address_city:'')
                        + (data.address_district?data.address_district:'') + (data.address ? data.address : '');
                    $scope.siteData = data;
                    $scope.$apply();
                    if (data.longitude && data.latitude) {
                        drawMap(data);
                    } else {
                        $.notify.toast($translate.instant('station.noaddress'));
                    }
                },
                error: function (a, b, c) {
                    $.notify.error($translate.instant('station.getdetail.failed'));
                    console.log('login fail');
                }
            });
        }

        function drawMap(siteData) {
            var map = new BMap.Map("map");          // 创建地图实例
            if (!map){ return; }
            // 导航
            var driving = new BMap.DrivingRoute(map, {
                renderOptions: {
                    map   : map,
                    panel : "results",
                    autoViewport: true
                },
                onSearchComplete: function (result) {
                    if (result){
                        $scope.distance = result.getPlan(0).getDistance();
                        $scope.$apply();
                    }
                }
            });
            var end = new BMap.Point(siteData.longitude, siteData.latitude);
            // 添加标注
            map.centerAndZoom(end, 13);
            map.enableScrollWheelZoom();
            var marker = new BMap.Marker(end);
            var mgr = new BMapLib.MarkerManager(map,{
                maxZoom: 15,
                trackMarkers: true
            });
            mgr.addMarker(marker,1, 15);
            mgr.showMarkers();
            if (window.android && window.android.gotoThirdMap) {
                $scope.enableNavigate = true;
            }

            $scope.$apply();
            apiLocation.start(function (longtitude, latitude) {
                //如果获取不到用户的定位，则直接显示站点的位置
                if (longtitude && latitude){
                    // 添加标注
                    var start = new BMap.Point(longtitude, latitude);
                    // 坐标转换
                    var convertor = new BMap.Convertor();
                    var pointArr = [start];
                    convertor.translate(pointArr, 3, 5, function (data) {   //3: gcj02坐标，5：百度坐标
                        driving.search(data.points[0], end);
                        map.centerAndZoom(end, 15);                 // 初始化地图，设置中心点坐标和地图级别
                    });
                }
            });

        }

        // 打开第三方地图
        $scope.openThirdMap = function () {
            if (window.android && window.android.gotoThirdMap){
                var sitePoint = new BMap.Point($scope.siteData.longitude, $scope.siteData.latitude);

                var convertor = new BMap.Convertor();
                var pointArr = [sitePoint];
                convertor.translate(pointArr, 5, 3, function (data) {   //3: gcj02坐标，5：百度坐标
                    window.android.gotoThirdMap($scope.siteData.latitude, $scope.siteData.longitude, data.points[0].lat, data.points[0].lng);
                });
            }
        };
        getSite();
    }]);




</script>
</body>

</html>