<div id="topPopover" class="mui-popover mui-active" style="display: none; top: 64px; right: 4px;" onclick="hideTopMenu();">
    <div class="mui-popover-arrow" style="left:auto;right:6px;"></div>
    <div class="mui-scroll-wrapper" data-scroll="1" style="position: static;">
        <div class="mui-scroll" style="transform: translate3d(0px, 0px, 0px) translateZ(0px);position: static;">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                    <a href="/templates/task/add-task.html" style="margin-bottom:-6px;"><i class="icon icon-ms icon-add" style="float: left;width:18px;height:18px;margin-right:6px;"></i>报修</a>
                </li>
                <li class="mui-table-view-cell">
                    <a onclick="startCaptureQR()" style="margin-top:-6px;"><i class="icon icon-ms icon-scan" style="float: left;width:18px;height:18px;margin-right:6px;"></i>扫描</a>
                </li>
            </ul>
        </div>
        <div class="mui-scrollbar mui-scrollbar-vertical">
            <div class="mui-scrollbar-indicator" style="transition-duration: 0ms; display: none; height: 8px; transform: translate3d(0px, -8px, 0px) translateZ(0px);"></div>
        </div>
    </div>
</div>
<div class="mui-backdrop mui-active" style="display: none;" onclick="hideTopMenu();"></div>
<script>
    /*
    * 扫描二维码
    * */
    function showTopMenu() {
    $(".mui-popover").show().next().show();
    }
    function hideTopMenu() {
    $(".mui-popover").hide().next().hide();

    }
    function startCaptureQR() {
        window.android && window.android.openQRCapturePage();
    }

    function openDeviceFromQR(data) {   //根据扫码结果打开设备详情
        var stationSn = data.sn.substring(0, data.sn.indexOf("_"));
        window.location.href = '/templates/site/device-monitor.html?stationSn=' + stationSn + '&deviceSn=' + data.sn;
    }
</script>