<div class="mui-poppicker my-picker" ng-class="{'mui-active': visible}">
    <div class="mui-poppicker-header">
        <button class="mui-btn mui-poppicker-btn-cancel" ng-click="hide()">{{ 'cancel' | translate }}</button>
        <button class="mui-btn mui-btn-blue mui-poppicker-btn-ok" ng-click="confirm()">{{ 'submit' | translate }}</button>
        <div class="mui-poppicker-clear"></div>
    </div>
    <div class="mui-poppicker-body">
        <div style="font-size: 13px;text-align: center;padding-top: 10px;">{{title || '请选择运维工'}}</div>
        <div class="teams-selector">
            <div ng-repeat="user in users" ng-click="onToggleCheck(user.account)">
                <label ng-class="{'selected': isSelected(user.account)}">{{getNameAndPhone(user)}}</label>
            </div>
        </div>
    </div>
</div>
<div class="mui-backdrop" style="opacity:1;" ng-click="hide()" ng-if="visible"></div>