
<!-- 运维公司信息 -->
<div class="mui-page" ng-controller="CompanyCtrl">
    <header class="mui-bar bg-header">
        <button type="button" class="mui-left mui-btn mui-btn-link mui-btn-nav mui-pull-left" onclick="history.back()" style="color: #fff;">
            <span class="mui-icon mui-icon-left-nav"></span>我的
        </button>
        <h1 class="mui-center mui-title">运维公司</h1>
    </header>
    <div class="mui-content">
        <ul class="mui-table-view">
            <li class="mui-table-view-cell light-border">
                <a>公司名称<i class="mui-pull-right update" style="width: calc(100% - 50px);text-align: left; margin-right: -50px;white-space: normal;">{{company.name}}</i></a>
            </li>
            <li class="mui-table-view-cell light-border">
                <a>地址<i class="mui-pull-right update" style="width: calc(100% - 50px);text-align: left; margin-right: -50px;white-space: normal;">{{company.full_address}}</i></a>
            </li>
            <li class="mui-table-view-cell light-border">
                <a>负责人<i class="mui-pull-right update" style="width: calc(100% - 50px);text-align: left; margin-right: -50px;">{{company.owner}}</i></a>
            </li>
            <li class="mui-table-view-cell light-border">
                <a>联系电话<i class="mui-pull-right update" style="width: calc(100% - 50px);text-align: left; margin-right: -50px;">{{company.owner_cellphone}}</i></a>
            </li>
        </ul>
    </div>
</div>