<div class="mui-page">
    <div class="top-base">
        <img src="/img/profile-top.png" style="width: 100%;">
        <div class="mask"></div>
        <div class="portrait">
            <img src="/img/portrait-default.png">
        </div>
        <div class="base-info">
            <div class="account-info" style="float: left">
                <div class="name">{{user.name}}<label class="role" ng-if="user.user_groups.length">{{user.user_groups[0].description}}</label> </div>
                <div class="account">{{user.account}}</div>
            </div>
        </div>
    </div>
    <div style="position: static;">
        <ul class="mui-table-view mui-table-view-chevron no-out-border bg-regular">
            <li class="mui-table-view-cell light-border" ng-if="company && company.id">
                <a ui-sref="index.company({company: company})" class="mui-navigate-right">{{'ops.company' | translate}} <i class="mui-pull-right update mui-ellipsis" style="max-width: 60%;">{{company.name}}</i></a>
            </li>
            <li class="mui-table-view-cell light-border">
                <a class="mui-navigate-right" ui-sref="index.share">{{'share' | translate}} <i class="mui-pull-right update"></i></a>
            </li>
            <li class="mui-table-view-cell light-border">
                <a>{{'version' | translate}} <i class="mui-pull-right update">{{version}}</i></a>
            </li>
        </ul>
        <ul class="mui-table-view mt20 no-border bg-regular">
            <li class="mui-table-view-cell mui-segmented-control-vertical" ui-sref="index.setting">
                <a class="mui-navigate-right">{{'setting' | translate}}</a>
            </li>
        </ul>
    </div>
</div>
<!--<div class="page page-left" ui-view></div>-->