
<!--密码修改-->
<div class="mui-page">
    <header class="bg-header mui-bar" style="z-index: 1;">
        <button type="button" class="mui-left mui-btn mui-btn-link mui-btn-nav mui-pull-left" id='accountBackBtn' onclick="history.back()">
            <span class="mui-icon mui-icon-left-nav"></span>{{'setting' | translate}}
        </button>
        <h1 class="mui-center mui-title">{{'setting.pwd.change' | translate}}</h1>
    </header>
    <div class="body-content" style="top: 0;">
        <div class="bg-white" style="padding-top: 72px; height: 100%;">
            <form class="">
                <div class="mui-input-row">
                    <label>{{'setting.pwd.new' | translate}}</label>
                    <input type="password" placeholder="{{'setting.pwd.tip.input' | translate}}" id="password1" ng-model="pwd1" ng-change="pwdError=''" ng-blur="onBlur()">
                </div>
                <div class="mui-input-row">
                    <label>{{'setting.pwd.confirm' | translate}}</label>
                    <input type="password" placeholder="{{'setting.pwd.tip.inputagain' | translate}}" id="password2" ng-model="pwd2" ng-change="pwdError=''" ng-blur="onBlur()">
                </div>
                <div class="error" style="margin-bottom:8px;" ng-if="pwdError"><span style="font-size:14px;margin-left: 35%;color: red;">{{pwdError}}</span></div>
                <div class="mui-button-row" style="height: 60px;margin-top: 16px;">
                    <button type="button" class="mui-btn mui-btn-primary" ng-click="savePassword()" style="width: 50%;height: 40px;">{{'submit' | translate}}</button>&nbsp;&nbsp;
                </div>
            </form>
        </div>
    </div>
</div> <!--账号与安全设置页-->