
<!--密码修改-->
<div class="mui-page">
    <header class="bg-header mui-bar">
        <button type="button" class="mui-left mui-btn mui-btn-link mui-btn-nav mui-pull-left" id='accountBackBtn' onclick="history.back()" style="color: #ffffff;">
            <span class="mui-icon mui-icon-left-nav"></span>我的
        </button>
        <h1 class="mui-center mui-title">修改密码</h1>
    </header>
    <div class="mui-content" style="margin-top: 16px;">
        <form class="mui-input-group">
            <div class="mui-input-row">
                <label style="padding: 16px 15px;">新密码</label>
                <input type="password" placeholder="请填写新密码" id="password1" ng-model="pwd1" ng-change="pwdError=''" ng-blur="(pwd1 && pwd2 && pwd1!=pwd2)?pwdError='两次输入的密码不一致':''">
            </div>
            <div class="mui-input-row">
                <label style="padding: 16px 15px;">确认密码</label>
                <input type="password" placeholder="请再次输入新密码" id="password2" ng-model="pwd2" ng-change="pwdError=''" ng-blur="(pwd1 && pwd2 && pwd1!=pwd2)?pwdError='两次输入的密码不一致':''">
            </div>
            <div class="error" style="margin-bottom:8px;" ng-if="pwdError"><span style="font-size:14px;margin-left: 35%;color: red;">{{pwdError}}</span></div>
            <div class="mui-button-row" style="height: 60px;margin-top: 16px;">
                <button type="button" class="mui-btn mui-btn-primary" ng-click="savePassword()" style="width: 50%;height: 40px;">确认</button>&nbsp;&nbsp;
            </div>
        </form>
    </div>
</div> <!--账号与安全设置页-->