<!--分享-->
<div id="share" class="mui-page" ng-controller="AppShareCtrl">
    <header class="mui-navbar-inner mui-bar" style="box-shadow: none">
        <button type="button" class="mui-left mui-btn mui-btn-link mui-btn-nav mui-pull-left" onclick="history.back()">
            <span class="mui-icon mui-icon-left-nav"></span>设置
        </button>
        <h1 class="mui-center mui-title">应用分享</h1>
    </header>
    <div class="mui-content" style="text-align: center;margin-top: 80px;padding: 0 15%;">
        <h4>请在手机浏览器中扫码下载
        </h4>
        <img ng-src="{{src}}" style="max-width: 250px;">
        <div style="color: #777;">
            （注：不支持微信扫码下载）
        </div>
    </div>
</div> <!--分享-->