<!--分享-->
<div id="share" class="mui-page page" ng-controller="AppShareCtrl">
    <header class="mui-bar bg-header" style="z-index: 1;">
        <button type="button" class="mui-left mui-btn mui-btn-link mui-btn-nav mui-pull-left" onclick="history.back()">
            <span class="mui-icon mui-icon-left-nav"></span>{{'tab.me' | translate}}
        </button>
        <h1 class="mui-center mui-title">{{'setting.share' | translate}}</h1>
    </header>
    <div class="body-content" style="top: 0; text-align: center; padding: 0 15%;">
        <h4 style="margin-top: 152px;">{{'setting.share.tip.scan' | translate}}
        </h4>
        <img ng-src="{{src}}" style="max-width: 250px;">
        <div class="text-secondary">
            {{'setting.share.tip.browser' | translate}}
        </div>
    </div>
</div> <!--分享-->