<table id="siteHistoryTable" class="stripe row-border order-column dataTable no-footer">
    <thead>
    <th ng-repeat="item in tableHeader">
        {{item.name}}<br ng-if="item.unit"/><span ng-if="item.unit">({{item.unit}})</span>
    </th>
    </thead>
    <tbody>
    <tr ng-repeat="item in tableBodyData">
        <td ng-repeat="col in item" rowspan="{{col.rowSpan || 1}}" colspan="{{col.colSpan || 1}}" ng-style="{backgroundColor: col.backgroundColor}">
            {{col.value}}
        </td>
    </tr>
    </tbody>
</table>