<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>派单</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!--标准mui.css-->
    <link rel="stylesheet" href="../../components/mui/css/mui.min.css">
    <link rel="stylesheet" href="../../components/mui/css/mui.picker.min.css">
    <link rel="stylesheet" href="../../css/my.css" />
    <link rel="stylesheet" href="../../css/task.css" />
    <script type="text/javascript" src="../../components/libs/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="../../components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <!--<script type="text/javascript" src="components/ui-router-extras/release/ct-ui-router-extras.js"></script>-->
    <script type="text/javascript" src="../../components/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="../../components/angular-ui-router/release/stateEvents.min.js"></script>
    <script type="text/javascript" src="../../js/app/utils.js"></script>
    <script type="text/javascript" src="../../js/app/app.js"></script>
    <script type="text/javascript" src="../../js/controller/task.js"></script>
    <style>
        .mui-input-row label{
            width: 160px;
        }
        .mui-input-row .mui-btn{
            width: calc(100% - 160px);
            outline: none;
            background: transparent;
            border: none;
        }
        .mui-input-row label~input, .mui-input-row label~select, .mui-input-row label~textarea{
            width: calc(100% - 160px);
        }
        .mui-input-group:before{
            display: none;
        }
        .mui-input-group:after{
            display: none;
        }
        .disabled label{
            color: #ccc;
        }
        .disabled input::-webkit-input-placeholder{
            color: #ccc;
        }
        /*.mui-input-row lab */
        .mui-input-group .mui-input-row{
            min-height: 40px;
            height: auto;
        }
        .mui-input-row label.error{
            width: 100%;
        }
        .error{
            color: red;
            margin-left: 146px;
            font-size: 12px;
            margin-top: -16px;
        }
        .mui-btn-block{
            margin-bottom: 0;
        }
        form input{
            position: absolute;
        }
    </style>
</head>

<body class="mui-android mui-android-5 mui-android-5-1 mui-android-5-1-1" ng-app="myApp">
<header class="mui-bar bg-header mui-segmented-control-vertical">
    <a class="mui-icon  mui-icon-left-nav mui-pull-left text-white btn-back" onclick="pageBack()"></a>
    <h1 class="mui-title">派单</h1>
</header>
<div class="mui-content bg-white" ng-controller="TaskCreateCtrl" ng-cloak="" ng-submit="submitForm()" id="main">
    <form class="mui-input-group task-create-rows" name="myForm" novalidate >
        <div class="mui-input-row">
            <label class="label">任务名称<span style="color:red">*</span></label>
            <input type="text" name="name" ng-model="taskData.name" placeholder="请输入任务名称" required>
            <label class="error" ng-show="myForm.name.$invalid && (myForm.name.$dirty || myForm.$submitted)">
                <span ng-show="myForm.name.$error.required">任务名称不能为空</span>
            </label>
        </div>
        <div class="mui-input-row">
            <label class="label">任务类型<span style="color:red">*</span></label>
            <input type="text" name="taskTypeName" ng-model="taskTypeName" placeholder="选择任务类型" required>
            <button id="taskTypePicker" class="mui-btn mui-btn-block" type="button">&nbsp; </button>
            <label class="error" ng-show="myForm.taskTypeName.$invalid && (myForm.taskTypeName.$dirty || myForm.$submitted)">
                <span ng-show="myForm.taskTypeName.$error.required">任务类型不能为空</span>
            </label>
        </div>
        <div class="mui-input-row">
            <label class="label">期望完成时间<span style="color:red">*</span></label>
            <input type="text" name="expect_complete_time" ng-model="taskData.expect_complete_time" placeholder="选择任务处理截止时间" required>
            <button type="button" id='expectedTime' data-options='{}' class="btn mui-btn mui-btn-block">&nbsp;</button>
            <label class="error" ng-show="myForm.expect_complete_time.$invalid && (myForm.expect_complete_time.$dirty || myForm.$submitted)">
                <span ng-show="myForm.expect_complete_time.$error.required">任务截止时间不能为空</span>
            </label>
        </div>
        <div class="mui-input-row">
            <label class="label">站点</label>
            <input type="text" style="position: absolute;" ng-model="stationName" placeholder="可不填">
            <button type="button" id='stationPicker' data-options='{}' class="btn mui-btn mui-btn-block">&nbsp;</button>
        </div>
        <div class="mui-input-row">
            <label class="label">设备</label>
            <input type="text" style="position: absolute;" ng-model="deviceName" placeholder="可不填">
            <button type="button" id='devicePicker' data-options='{}' class="btn mui-btn mui-btn-block">&nbsp;</button>
        </div>
        <div class="mui-input-row">
            <label class="label">是否抢单任务</label>
            <div class="mui-switch mui-switch-blue mui-switch-mini" style="float: none;left:160px;margin-top: 10px;">
                <div class="mui-switch-handle"></div>
            </div>
        </div>
        <div class="mui-input-row">
            <label style="line-height: 28px;">责任人</label>
            <input type="text" style="position: absolute;" ng-model="handlerName" placeholder="选择任务责任人">
            <button type="button" id='handlerPicker' data-options='{}' class="btn mui-btn mui-btn-block">&nbsp;</button>
            <label class="error" ng-show="handlerIsInvalid(myForm)">
                <span>责任人不能为空</span>
            </label>
        </div>
        <div class="mui-input-row" ng-if="linkEventInfo">
            <label class="label">关联事件</label>
            <span style="position: absolute;">{{linkEventInfo}}</span>
        </div>
        <div class="mui-input-row" style="margin: 10px 5px;height: auto;">
            <textarea rows="3" placeholder="任务具体描述" name="desp" ng-model="taskData.desp"></textarea>
        </div>
        <div class="mui-button-row" style="padding: 8px 16px;">
            <button type="submit" class="mui-btn mui-btn-primary mui-btn-block"
                    style="background-color: rgba(88,107,243,0.88);border-color: rgba(88,107,243,0.88);height: 42px;">确认发布</button>
        </div>
    </form>
</div>
<script src="../../components/mui/js/mui.min.js"></script>
<script src="../../components/fastclick-master/lib/fastclick.js"></script>
<script src="../../components/mui/js/mui.picker.min.js"></script>
<script src="../../components/mui/js/mui.poppicker.js"></script>
<script src="../../js/my/notify.js"></script>
<script>

    mui.init({
        swipeBack:true //启用右滑关闭功能
    });
    document.getElementsByClassName('mui-switch')[0].addEventListener('toggle', function(event) {
        var scope = $('div[ng-controller="TaskCreateCtrl"]').scope();
        //event.detail.isActive 可直接获取当前状态
        if (event.detail.isActive){ //开关打开，为抢单任务
            var handlerBtn = document.getElementById('handlerPicker');
            handlerBtn.disabled = true;
            $(handlerBtn.parentNode).addClass('disabled');
            scope.toggleTaskType();
            // 抢单任务没有责任人

        }else{
            var handlerBtn = document.getElementById('handlerPicker');
            handlerBtn.disabled = false;
            $(handlerBtn.parentNode).removeClass('disabled');
            scope.toggleTaskType();
        }
    });
</script>
</body>

</html>