<div class="mui-page" ng-controller="TaskCreateCtrl">
    <header class="mui-bar bg-header">
        <a class="mui-icon  mui-icon-left-nav mui-pull-left btn-back" onclick="history.back()"></a>
        <h1 class="mui-title">{{'task.new' | translate}}</h1>
    </header>
    <div class="body-content bg-white" ng-cloak="" ng-submit="submitForm()" id="main">
        <form class="mui-input-group task-create-rows" name="myForm" novalidate >
            <div class="mui-input-row">
                <label class="label required">{{'task.param.name' | translate}}</label>
                <textarea type="text" name="name" ng-model="taskData.name" placeholder="{{'please.input task.param.name' | myTranslate}}" required></textarea>
                <label class="error" ng-show="myForm.name.$invalid && (myForm.name.$dirty || myForm.$submitted)">
                    <span ng-show="myForm.name.$error.required">{{'task.param.name cannotempty' | myTranslate }}</span>
                </label>
            </div>
            <div class="mui-input-row">
                <label class="label required">{{'task.param.type' | translate}}</label>
                <input type="text" name="taskTypeName" ng-model="taskTypeName" placeholder="{{'please select task.param.type' | myTranslate}}" required>
                <button id="taskTypePicker" class="mui-btn mui-btn-block" type="button">&nbsp; </button>
                <label class="error" ng-show="myForm.taskTypeName.$invalid && (myForm.taskTypeName.$dirty || myForm.$submitted)">
                    <span ng-show="myForm.taskTypeName.$error.required">{{'please select task.param.type' | myTranslate}}</span>
                </label>
            </div>
            <div class="mui-input-row" ng-if="!isEnglish">
                <label class="label">{{'task.time.expected' | translate}}</label>
                <input type="text" name="expect_complete_time" ng-model="taskData.expect_complete_time" placeholder="{{'please.select task.time.expected' | myTranslate}}">
                <button type="button" id='expectedTime' data-options='{}' class="btn mui-btn mui-btn-block">&nbsp;</button>
            </div>
            <div class="mui-input-row">
                <label class="label required">{{'station' | translate}}</label>
                <input type="text" style="position: absolute;" name="stationName" ng-model="stationName" placeholder="{{'please.select station' | myTranslate}}" required>
                <button type="button" id='stationPicker' data-options='{}' class="btn mui-btn mui-btn-block">&nbsp;</button>
                <label class="error" ng-show="myForm.stationName.$invalid && (myForm.stationName.$dirty || myForm.$submitted)">
                    <span ng-show="myForm.stationName.$error.required">{{'please.select station' | myTranslate}}</span>
                </label>
            </div>
            <div class="mui-input-row">
                <label class="label">{{'device' | translate}}</label>
                <input type="text" style="position: absolute;" ng-model="deviceName" placeholder="{{'please.select device' | myTranslate}}">
                <button type="button" ng-click="openDeviceSelector()" data-options='{}' class="btn mui-btn mui-btn-block">&nbsp;</button>
            </div>
            <div class="mui-input-row" style="display: none;">
                <label class="label">是否抢单任务</label>
                <div class="mui-switch mui-switch-blue mui-switch-mini" style="float: none;left:160px;margin-top: 10px;">
                    <div class="mui-switch-handle"></div>
                </div>
            </div>
            <div class="mui-input-row" ng-if="needResign">
                <label class="label required">{{'task.team' | translate}}</label>
                <input type="text" name="operatorTeam" ng-model="operatorTeam" placeholder="{{'please.select task.team' | myTranslate}}" required>
                <button type="button" class="btn mui-btn mui-btn-block" ng-click="showTeamSelector()">&nbsp;</button>
                <!--<div id='teamPicker' class="value"></div>-->
                <label class="error" ng-show="myForm.operatorTeam.$invalid && (myForm.operatorTeam.$dirty || myForm.$submitted)">
                    <span ng-show="myForm.operatorTeam.$error.required">{{'please.select task.team' | myTranslate}}</span>
                </label>
            </div>
            <div class="mui-input-row" ng-if="needResign">
                <label class="label">{{'task.repairer' | translate}}</label>
                <textarea name="handlerName" ng-model="handlerName" placeholder="{{'please.select task.repairer' | myTranslate}}" rows="{{handlerRowSpan}}"></textarea>
                <button type="button" data-options='{}' class="btn mui-btn mui-btn-block" ng-click="showHandlerSelector()" style="position: absolute;top: 0;left: 130px;bottom: 0;">&nbsp;</button>
                <!--<label class="error" ng-show="myForm.handlerName.$invalid && (myForm.handlerName.$dirty || myForm.$submitted)">-->
                    <!--<span ng-show="myForm.handlerName.$error.required">请选择维修工</span>-->
                <!--</label>-->
                <div class="help" ng-if="!handlerName">{{'task.tip.tograb' | translate}}</div>
            </div>
            <div class="mui-input-row" ng-if="linkEventInfo" style="display: none;">
                <label class="label">关联事件</label>
                <span style="position: absolute;">{{linkEventInfo}}</span>
            </div>
            <div class="mui-input-row" style="margin-bottom: 5px;height: auto;">
                <textarea rows="2" placeholder="{{'task.param.desp' | translate}}" name="desp" ng-model="taskData.desp"></textarea>
            </div>
            <image-uploader images="imageList" style="margin-left: 12px;"></image-uploader>
            <div class="mui-button-row" style="padding: 8px 16px;">
                <button type="submit" class="mui-btn mui-btn-primary mui-btn-block" style="height: 42px;">{{'submit' | translate}}</button>
            </div>
        </form>
        <operator-team-selector teams="teams" visible="teamVisible" callback="onSelectedTeam"></operator-team-selector>
        <handlers-selector users="teamUsers" multiple visible="handlerVisible" callback="onSelectedUsers"></handlers-selector>
    </div>
</div>