<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>报修</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!--标准mui.css-->
    <link rel="stylesheet" href="../../components/mui/css/mui.min.css">
    <link rel="stylesheet" href="../../components/mui/css/mui.picker.min.css">
    <link rel="stylesheet" href="../../css/my.css" />
    <link rel="stylesheet" href="../../css/task.css" />
    <script type="text/javascript" src="../../components/libs/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../../components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <!--<script type="text/javascript" src="components/ui-router-extras/release/ct-ui-router-extras.js"></script>-->
    <script type="text/javascript" src="../../components/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="../../components/angular-ui-router/release/stateEvents.min.js"></script>
    <script type="text/javascript" src="/lib/angular-translate.min.js"></script>
    <script type="text/javascript" src="../../js/app/utils.js"></script>
    <script type="text/javascript" src="../../js/app/app.js"></script>
    <script type="text/javascript" src="../../js/service/common-service.js"></script>
    <script type="text/javascript" src="../../js/controller/task.js"></script>
    <script type="text/javascript" src="../../js/service/cloudApi.js"></script>
</head>

<body class="mui-android mui-android-5 mui-android-5-1 mui-android-5-1-1" ng-app="myApp" ng-cloak>
<header class="mui-bar bg-header mui-segmented-control-vertical">
    <a class="mui-icon  mui-icon-left-nav mui-pull-left text-white btn-back" onclick="pageBack()"></a>
    <h1 class="mui-title">{{'task.new' | translate}}</h1>
</header>
<div class="body-content bg-white" ng-controller="TaskCreateCtrl" ng-cloak="" ng-submit="submitForm()" id="main">
    <form class="mui-input-group task-create-rows" name="myForm" novalidate >
        <div class="mui-input-row">
            <label class="label required">{{'task.param.name' | translate}}</label>
            <textarea type="text" name="name" ng-model="taskData.name" placeholder="{{'please.input task.param.name' | myTranslate}}" required></textarea>
            <label class="error" ng-show="myForm.name.$invalid && (myForm.name.$dirty || myForm.$submitted)">
                <span ng-show="myForm.name.$error.required">{{'task.param.name cannotempty' | myTranslate }}</span>
            </label>
        </div>
        <div class="mui-input-row">
            <label class="label required">{{'task.param.type' | translate}}</label>
            <input type="text" name="taskTypeName" ng-model="taskTypeName" placeholder="{{'please select task.param.type' | myTranslate}}" required>
            <button id="taskTypePicker" class="mui-btn mui-btn-block" type="button">&nbsp; </button>
            <label class="error" ng-show="myForm.taskTypeName.$invalid && (myForm.taskTypeName.$dirty || myForm.$submitted)">
                <span ng-show="myForm.taskTypeName.$error.required">{{'please select task.param.type' | myTranslate}}</span>
            </label>
        </div>
        <div class="mui-input-row" ng-if="!isEnglish">
            <label class="label">{{'task.time.expected' | translate}}</label>
            <input type="text" name="expect_complete_time" ng-model="taskData.expect_complete_time" placeholder="{{'please.select task.time.expected' | myTranslate}}">
            <button type="button" id='expectedTime' data-options='{}' class="btn mui-btn mui-btn-block">&nbsp;</button>
        </div>
        <div class="mui-input-row">
            <label class="label required">{{'station' | translate}}</label>
            <input type="text" style="position: absolute;" name="stationName" ng-model="stationName" placeholder="{{'please.select station' | myTranslate}}" required>
            <button type="button" id='stationPicker' data-options='{}' class="btn mui-btn mui-btn-block">&nbsp;</button>
            <label class="error" ng-show="myForm.stationName.$invalid && (myForm.stationName.$dirty || myForm.$submitted)">
                <span ng-show="myForm.stationName.$error.required">{{'please.select station' | myTranslate}}</span>
            </label>
        </div>
        <div class="mui-input-row">
            <label class="label">{{'device' | translate}}</label>
            <input type="text" style="position: absolute;" ng-model="deviceName" placeholder="{{'please.select device' | myTranslate}}">
            <button type="button" ng-click="openDeviceSelector()" data-options='{}' class="btn mui-btn mui-btn-block">&nbsp;</button>
        </div>
        <div class="mui-input-row" style="display: none;">
            <label class="label">是否抢单任务</label>
            <div class="mui-switch mui-switch-blue mui-switch-mini" style="float: none;left:160px;margin-top: 10px;">
                <div class="mui-switch-handle"></div>
            </div>
        </div>
        <div class="mui-input-row" ng-if="needResign">
            <label class="label required">{{'task.team' | translate}}</label>
            <input type="text" name="operatorTeam" ng-model="operatorTeam" placeholder="{{'please.select task.team' | myTranslate}}" required>
            <button type="button" class="btn mui-btn mui-btn-block" ng-click="showTeamSelector()">&nbsp;</button>
            <!--<div id='teamPicker' class="value"></div>-->
            <label class="error" ng-show="myForm.operatorTeam.$invalid && (myForm.operatorTeam.$dirty || myForm.$submitted)">
                <span ng-show="myForm.operatorTeam.$error.required">{{'please.select task.team' | myTranslate}}</span>
            </label>
        </div>
        <div class="mui-input-row" ng-if="needResign">
            <label class="label">{{'task.repairer' | translate}}</label>
            <textarea name="handlerName" ng-model="handlerName" placeholder="{{'please.select task.repairer' | myTranslate}}" rows="{{handlerRowSpan}}"></textarea>
            <button type="button" data-options='{}' class="btn mui-btn mui-btn-block" ng-click="showHandlerSelector()" style="position: absolute;top: 0;left: 130px;bottom: 0;">&nbsp;</button>
            <!--<label class="error" ng-show="myForm.handlerName.$invalid && (myForm.handlerName.$dirty || myForm.$submitted)">-->
                <!--<span ng-show="myForm.handlerName.$error.required">请选择维修工</span>-->
            <!--</label>-->
            <div class="help" ng-if="!handlerName">{{'task.tip.tograb' | translate}}</div>
        </div>
        <div class="mui-input-row" ng-if="linkEventInfo" style="display: none;">
            <label class="label">关联事件</label>
            <span style="position: absolute;">{{linkEventInfo}}</span>
        </div>
        <div class="mui-input-row" style="margin-bottom: 5px;height: auto;">
            <textarea rows="2" placeholder="{{'task.param.desp' | translate}}" name="desp" ng-model="taskData.desp"></textarea>
        </div>
        <image-uploader images="imageList" style="margin-left: 12px;"></image-uploader>
        <div class="mui-button-row" style="padding: 8px 16px;">
            <button type="submit" class="mui-btn mui-btn-primary mui-btn-block" style="height: 42px;">{{'submit' | translate}}</button>
        </div>
    </form>
    <operator-team-selector teams="teams" visible="teamVisible" callback="onSelectedTeam"></operator-team-selector>
    <handlers-selector users="teamUsers" multiple visible="handlerVisible" callback="onSelectedUsers"></handlers-selector>
</div>
<script src="../../components/mui/js/mui.min.js"></script>
<script src="../../components/fastclick-master/lib/fastclick.js"></script>
<script src="../../components/mui/js/mui.picker.min.js"></script>
<script src="../../components/mui/js/mui.poppicker.js"></script>
<script src="../../components/slides-playing/js/jquery.slides.js"></script>
<script src="../../js/my/notify.js"></script>
<script>

    mui.init({
        swipeBack:true //启用右滑关闭功能
    });
    document.getElementsByClassName('mui-switch')[0].addEventListener('toggle', function(event) {
        var scope = $('div[ng-controller="TaskCreateCtrl"]').scope();
        //event.detail.isActive 可直接获取当前状态
        if (event.detail.isActive){ //开关打开，为抢单任务
            var handlerBtn = document.getElementById('handlerPicker');
            handlerBtn.disabled = true;
            $(handlerBtn.parentNode).addClass('disabled');
            scope.toggleTaskType();
            // 抢单任务没有责任人

        } else{
            var handlerBtn = document.getElementById('handlerPicker');
            handlerBtn.disabled = false;
            $(handlerBtn.parentNode).removeClass('disabled');
            scope.toggleTaskType();
        }
    });
</script>
</body>

</html>