<div class="page page-fade" ng-controller="TaskDevicesHandlerCtrl" id="xunjianTaskDevices">
    <header class="mui-bar bg-header" style="box-shadow: none;background: #f5f5f5;">
        <a class="mui-icon text-white" onclick="history.back()" style="color: #9a9a9a;font-size: 16px;margin-top: 6px;margin-left: 6px;">取消</a>
        <h1 class="mui-title" style="color: #444;">设备列表</h1>
    </header>
    <div class="mui-content" ng-cloak style="background-color: #fff;top: 60px;">
        <ul class="no-border static-device-list" style="margin-top: 0;" ng-style="{'padding-bottom': canHandle ? '48px' : '10px'}">
            <li class="box-horizontal box-vertical-middle mui-navigate-right" ng-repeat="record in device_record" ng-click="openDeviceCheckPage(record)">
                <div class="device-body box-horizontal box-vertical-middle">
                    <div class="mui-checkbox mui-left checkbox-square" ng-if="canHandle">
                        <a class="checkbox" ng-class="{checked: record.checked}" ng-click="checkDevice($event, record_device_sn)"></a>
                    </div>
                    <i class="icon icon-20 icon-static-device" style="margin-right: 8px;"></i>
                    <div style="width: 100%; padding-right: 70px;">
                        <div class="box-horizontal">
                            <label>{{record.device_name}}</label>
                            <label class="status normal" ng-if="record.status === '1'">正常</label>
                            <label class="status danger" ng-if="record.status === '2'">异常</label>
                            <label class="status undo" ng-if="!record.status">未巡检</label>
                        </div>
                        <h5 style="margin: 6px 0 0 0;font-size: 12px;" class="ng-binding mui-ellipsis">{{record.device_path}}
                        </h5>
                    </div>
                </div>
            </li>
        </ul>

    </div>
    <nav class="mui-bar mui-bar-tab" style="z-index: 0;background-color: #fff;border-top: #efefef 1px solid;" ng-if="canHandle">
        <a class="mui-tab-item mui-active mui-segmented-control-vertical mui-checkbox checkbox-square" style="padding-left: 10px;text-align: left;padding-top: 6px;">
            <label class="checkbox" ng-class="{checked: checkAll}" ng-click="toggleCheckAll()" style="color: #03a9f4"><span style="margin-left: 8px;">全选</span></label>
        </a>
        <a class="mui-tab-item mui-active mui-segmented-control-vertical" href="javascript:void(0)" style="padding-right: 10px;">
            <button type="button" class="mui-btn mui-btn-primary mui-btn-block mui-btn-outlined mui-control-item task-btn"
                    ng-click="setStatusOk()" ng-disabled="isSubmitting">设备正常</button>
        </a>
        <a class="mui-tab-item mui-active mui-segmented-control-vertical" href="javascript:void(0)" style="display: none;">
            <button type="button" class="mui-btn mui-btn-danger mui-btn-block mui-btn-outlined mui-control-item task-btn"
                    style="border-color: #E54A59;background-color: #E54A59"
                    ng-click="openDtsPage()">提交缺陷</button>
        </a>
    </nav>
</div>