<div class="mui-page" ng-controller="TaskDeviceCheckCtrl">
    <header class="mui-bar bg-header">
        <a class="mui-icon  mui-icon-left-nav mui-pull-left btn-back" onclick="history.back()"></a>
        <h1 class="mui-title">{{ 'inspect.device.detail' | translate }}</h1>
    </header>
    <div class="body-content" ng-style="{'padding-bottom': canEdit ? '50px' : '10px'}">
        <div class="bg-white" style="padding: 12px;font-size: 15px;">
            <label style="font-weight: bold;">{{ 'inspect.device' | translate }}：</label>
            <label>{{deviceName}}</label>
        </div>
        <div ng-include="'/templates/task/inspect-device-check-result.html'"></div>

        <nav class="mui-bar mui-bar-tab inspect-device-tab" ng-if="canEdit" style="padding: 0 12px;">
            <button type="button" class="mui-btn mui-btn-primary mui-btn-block task-btn" ng-click="saveDeviceResult()" style="padding: 8px 0;">
                <span ng-if="!autoSubmitDts">{{'save' | translate}}</span>
                <span ng-if="autoSubmitDts">{{'saveAndCreateDts' | translate}}</span>
            </button>
        </nav>
    </div>
</div>