<div ng-controller="CompetitionTaskListCtrl">
    <header class="mui-bar bg-header">
        <h1 class="mui-title">抢单</h1>
    </header>
    <div class="scroll-wrapper" style="top: 60px;" id="competition_tasks_scroll">
        <div class="mui-scroll1" style="padding-top: 7px">
            <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed card-view task-list no-out-border" ng-if="tasks.length">
                <li class="mui-table-view-cell task-item" ng-repeat="task in tasks" data-id="{{task.id}}" ng-click="openTask(task)">
                    <div class="main-body">
                        <img class="mui-pull-left task-icon" src="img/task_type_{{task.task_type_id}}@2x.png">
                        <div class="mui-media-body task-main">
                            <h4 class="mui-ellipsis task-title" style="margin-top: 0">
                                <strong class="task-type" ng-class="{'ergent': task.task_type_id===3}">{{task.task_type_name}}单</strong>
                            </h4>
                        </div>
                    </div>
                    <div class="sub-body">
                        <p class="task-name">
                            {{task.name}}
                        </p>
                        <div style="padding-bottom: 10px" ng-if="task.create_time_desp">
                            <!-- <i class="icon icon-xs icon-station"></i>{{task.station_name}} -->
                            <span class="task-info-label">发布时间</span><span class="task-info-value">{{task.create_time_desp}}</span>
                        </div>
                        <div style="padding-bottom: 10px" ng-if="task.station_name">
                            <!-- <i class="icon icon-xs icon-station"></i>{{task.station_name}} -->
                            <span class="task-info-label">站点名称</span><span class="task-info-value">{{task.station_name}}</span>
                        </div>
                        <div style="padding-bottom: 10px" ng-if="task.expect_complete_time">
                            <!-- <i class="icon icon-xs icon-clock"></i>{{task.last_modified_time.substring(0,16)}} -->
                            <span class="task-info-label">限定时间</span><span class="task-info-value" style="color:#dd524d">{{task.expect_complete_time}}前</span>
                        </div>
                    </div>
                    <div class="task-btn-grab" ng-controller="GrabTaskCtrl" ng-click="postGrabAction($event, task.id)"><label>抢单</label></div>
                </li>
            </ul>
            <div class="page-alert-wrapper" ng-if="tasks.length==0 && !isLoading">
                <div class="page-alert">
                    <i class="alert-icon nodata-info"></i>
                    <div class="alert-text info">无发布任务</div>
                </div>
            </div>
        </div>
        <div class="page-alert-wrapper" ng-if="isLoading">
            <div class="page-alert">
                <span class="mui-spinner"></span>
                <div class="alert-text info">正在加载...</div>
            </div>
        </div>
    </div>
</div>