<div class="inner-page" id="handlePage" ng-controller="TaskHandlerUpload">
    <header class="mui-bar mui-bar-transparent mui-segmented-control-vertical" style=" -webkit-box-shadow: none;box-shadow: none;position: relative;">
        <a class="mui-icon mui-pull-left mui-control-item" style="font-size: 16px;margin-left: 6px;color: #9e9e9e;top:10px;" ng-click="cancel()">
            {{'cancel' | translate}}
        </a>
        <a class="mui-icon mui-action-menu mui-pull-right mui-control-item" style="font-size: 16px;margin-right: 6px;top:10px;" ng-click="submitAndBack()">{{'submit' | translate}}</a>
    </header>
    <div class="mui-input-group create-form no-border" style="padding: 12px;">
        <div class="label" style="font-size: 14px;margin: 8px 4px 4px 4px;">{{'task.update.desp.title' | translate}}</div>
        <div class="task-result info-group">
            <textarea rows="3" placeholder="{{'task.update.desp.placeholder' | translate}}..." name="description" ng-model="description"></textarea>
            <div class="mui-input-row" ng-if="audioVideoEnabled">
                <label class="label" style="width: auto;">{{'voice' | translate}}</label>
                <audio-recorder audio="audioUrl" duration="audioDuration" on-update="onUpdateVoice" can-edit="true" class="right-placeholder"></audio-recorder>
            </div>
            <div class="label" style="font-size: 14px;margin: 0 4px 4px 10px;">{{'photos' |translate}}</div>
            <image-uploader images="images" style="margin-left: 10px;"></image-uploader>
            <div class="label" style="font-size: 14px;margin: 0 4px 4px 10px;" ng-if="audioVideoEnabled">{{'video' | translate}}</div>
            <video-uploader video="videoUrl" on-update="onUpdateVideo" can-edit="true" ng-if="audioVideoEnabled" style="margin-left: 10px;"></video-uploader>
        </div>
    </div>
</div>
<div ui-view id="updater"></div>