<div ng-controller="TaskListCtrl">
<div id="task_types" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted" style="margin-left: 0;position: fixed;top:60px;background-color: #fff;box-shadow: 0 0 1px #ccc;">
    <a class="mui-control-item mui-active" ng-click="changeTaskType('$event', 'todo')" ng-class="{'mui-active': showType=='todo'}">
        待办({{todoCount}})
    </a>
    <a class="mui-control-item" ng-click="changeTaskType($event, 'all')" ng-class="{'mui-active': showType=='all'}">所有</a>
    <!--<a class="mui-control-item" href="#open">未关闭</a>-->
    <a class="mui-control-item" ng-click="changeTaskType($event, 'closed')" ng-class="{'mui-active': showType=='closed'}">
        已关闭
    </a>
</div>
<div id="taskList" style="top:36px;" class="scroll-wrapper">
    <div class="mui-scroll1">
        <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed task-list" ng-if="tasks.length">
            <li class="mui-table-view-cell mui-media task-item" ng-repeat="task in tasks"
                ng-click="openTask(task.id)" ng-class="{'closed': task.stage_id == TaskStatus.Closed}">
                <div ng-if="task.task_type_id===3" class="triangle-topleft"><div class="label">修</div></div>
                <img class="mui-media-object mui-pull-left task-icon" src="/img/task_type_{{task.task_type_id}}.png">
                <div class="mui-media-body task-main">
                    <h4 class="mui-ellipsis task-title" style="margin-top: 0">
                        <strong class="task-type" ng-class="{'ergent': task.task_type_id===3}">{{task.task_type_name}}</strong>: {{ task.name }}
                    </h4>
                    <p>
                        {{task.desp}}
                    </p>
                </div>
                <div class="task-progress" ng-class="{'timeout': task.isTimeout}">
                    <div class="task-status">{{task.stage}}</div>
                    <div class="task-deadline">
                        <i class="icon icon-xs icon-clock"></i>{{task.last_modified_time.substring(5,16)}}
                    </div>
                </div>
                <div class="task-bottom" ng-if="task.station_name">
                    <h5 class="info-list site" ng-if="task.station_name">
                        <span class="mui-ellipsis" style="font-size: 14px;">
                            <i class="mui-icon-extra footer-icon sites icon-xs mr8"></i>{{task.station_name}}
                        </span>
                    </h5>
                </div>
            </li>
        </ul>
        <div class="page-alert-wrapper" ng-if="tasks.length==0 && !isLoading">
            <div class="page-alert">
                <i class="alert-icon nodata-info"></i>
                <div class="alert-text info">无任务信息</div>
            </div>
        </div>
    </div>
</div>
<div class="page-alert-wrapper" ng-if="isLoading">
    <div class="page-alert">
        <span class="mui-spinner"></span>
        <div class="alert-text info">正在加载...</div>
    </div>
</div>
</div>