<div class="mui-scroll1" ng-if="tasks.length">
    <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed task-list">
        <li class="mui-table-view-cell mui-media task-item" ng-repeat="task in tasks"
            ng-click="openTask(task.id)">
            <img class="mui-media-object mui-pull-left task-icon" src="./img/task_type_{{task.task_type_id}}.png">
            <div class="mui-media-body task-main">
                <h4 class="mui-ellipsis task-title" style="margin-top: 0">
                    <strong class="task-type" ng-class="{'ergent': task.task_type_id===3}">{{task.task_type_name}}</strong>: {{ task.name }}
                </h4>
                <p>
                    {{task.desp}}
                </p>
            </div>
            <div class="task-progress" ng-class="{'timeout': task.isTimeout}">
                <div class="task-status ">{{task.stage}}</div>
                <div class="task-deadline">
                    <i class="icon icon-xs icon-clock"></i>{{task.expect_complete_time.substring(5,16)}}
                </div>
            </div>
            <div class="task-bottom" ng-if="task.station_name">
                <h5 class="info-list site" ng-if="task.station_name">
                    <span class="mui-ellipsis" style="font-size: 14px;">
                        <i class="mui-icon-extra footer-icon sites icon-xs mr8"></i>{{task.station_name}}
                    </span>
                </h5>
                <!--
                <button class="mui-pull-right mui-btn mui-btn-primary mui-btn-outlined" ng-if="task.stage_id == TaskStatus.Accepted" style="margin: 6px 0 -6px 0;padding: 2px 6px;" ng-click="taskHandler.gotoSpot($event, task.id)">现在出发</button>
                <button class="mui-pull-right mui-btn mui-btn-primary mui-btn-outlined" ng-if="task.stage_id == TaskStatus.Coming" style="margin: 6px 0 -6px 0;padding: 2px 6px;" ng-click="taskHandler.setArrived($event, task.id, task.station_longitude, task.station_latitude)">到达现场</button>
                -->
            </div>
        </li>
    </ul>
</div>
<div class="page-alert-wrapper" ng-if="isLoading">
    <div class="page-alert">
        <span class="mui-spinner"></span>
        <div class="alert-text info">正在加载...</div>
    </div>
</div>
<div class="page-alert-wrapper" ng-if="tasks.length==0 && !isLoading">
    <div class="page-alert">
        <i class="alert-icon nodata-info"></i>
        <div class="alert-text info">暂无待办任务</div>
    </div>
</div>
<script>
    function openTask(taskId) {
        location.href = '/templates/task/task-detail.html?id=' + taskId;
    }
</script>