<div class="mui-scroll1">
    <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed card-view grab-task-list">
        <li class="mui-table-view-cell task-item" ng-repeat="task in tasks" data-id="{{task.id}}" ng-click="openTask(task.id)">
            <div ng-if="task.task_type_id===3" class="triangle-topleft"><div class="label">修</div></div>
            <div class="mui-table">
                <div class="mui-table-cell mui-col-xs-10">
                    <h4 class="mui-ellipsis">
                        <img src="/img/task_type_{{task.task_type_id}}.png">
                        <label>{{ task.task_type_name }}单</label>
                        <span class="header-time">{{ task.create_time }}</span>
                        <span class="header-location" ng-if="task.distance"><i class="icon icon-ms location"></i><span class="text-red" style="margin-right: 2px;">{{task.distance}}</span>公里</span>
                    </h4>
                    <h5 style="color: #444;">{{task.name}}</h5>
                    <h5 ng-if="task.station_name"><i class="icon icon-xs icon-site-blue" style="margin-right: 6px;"></i>{{task.station_name}}</h5>
                    <h5><i class="icon icon-xs clock"></i><span style="color:#dd524d"> {{ task.expect_complete_time }}</span> 前完成</h5>
                </div>
                <div class="btn-grab" ng-controller="GrabTaskCtrl" ng-click="postGrabAction($event, task.id)"><label>抢单</label></div>
            </div>
        </li>
    </ul>
    <div class="page-alert-wrapper" ng-if="tasks.length==0 && !isLoading">
        <div class="page-alert">
            <i class="alert-icon nodata-info"></i>
            <div class="alert-text info">无发布任务</div>
        </div>
    </div>
</div>
<div class="page-alert-wrapper" ng-if="isLoading">
    <div class="page-alert">
        <span class="mui-spinner"></span>
        <div class="alert-text info">正在加载...</div>
    </div>
</div>