<div class="page page-fade" ng-controller="TaskCloseRejectCtrl">
    <header class="mui-bar mui-bar-transparent" style=" -webkit-box-shadow: none;box-shadow: none;position: relative;">
        <a class=" mui-icon mui-pull-left" style="font-size: 18px;margin-left: 6px;color: #9e9e9e;top:10px;" ng-click="cancel()">取消</a>
        <a class="mui-icon mui-action-menu mui-pull-right" style="font-size: 18px;margin-right: 6px;top:10px;" ng-click="submit()">确认</a>
    </header>
    <div class="mui-content" style="top:0px;padding: 0;position: relative" >
        <div class="task-result">
            <div class="mui-input-row" style="padding: 10px 5px;">
                <textarea rows="4" placeholder="请输入驳回理由..." name="description" ng-model="description"></textarea>
            </div>
        </div>
    </div>
</div>