<div class="mui-page" ng-controller="TaskBaseCtrl" ng-cloak>
    <!-- endbuild -->
    <style>
        html,
        body {
            height: 100%;
            overflow: hidden;
        }

        .mui-bar {
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body {
            height: 18px;
        }

        strong {
            height: 18px;
            display: inline-block;
        }

        .mui-bar-tab {
            box-shadow: none;
        }

        .device-list {
            margin-left: 60px;
        }

        .device-list .device {
            display: block;
        }

        .info-group > li {
            line-height: 24px;
        }

        .info-group .title {
            width: auto;
        }

        .info-group .value {
            margin-left: 0;
        }

        .mui-input-row .mui-btn {
            width: calc(100% - 160px);
            outline: none;
            background: transparent;
            border: none;
        }

        .create-form input {
            position: absolute;
        }

        .create-form .mui-input-row label ~ input, .create-form .mui-input-row label ~ select, .create-form .mui-input-row label ~ textarea {
            width: calc(100% - 160px);
            right: 0;
        }
    </style>
    <header class="mui-bar bg-header">
        <a class="mui-icon  mui-icon-left-nav mui-pull-left btn-back" onclick="history.back()"></a>
        <h1 class="mui-title">{{'task.order detail' | myTranslate}}</h1>
    </header>
    <div style="margin-top: 62px;" ng-class="{english: isEnglish}" ng-controller="TaskDetailCtrl" ng-cloak id="taskDetail">
        <!-- 正在处理的任务单 -->
        <div class="body-content" ng-class="{'page-bottom': canHandle}"
             ng-style="{'padding-bottom': actions.length>0 ? '50px' : ''}">
            <div class="xunjian-devices-area horizontal" ng-if="xunjianStage === 'toStart'">
                <div class="name">{{ 'inspect.count.device' | translate }}</div>
                <div class="count">{{taskData.device_record.length}}</div>
                <button ng-click="gotoDeviceHandlerPage()">{{ "inspect.device.view" | translate}}</button>
            </div>
            <div class="xunjian-devices-area vertical" ng-if="xunjianStage === 'toHandle' || xunjianStage==='toClose'">
                <div style="height: 80px;display: -webkit-box;">
                    <div class="item">
                        <span class="count" style="color: #FD6D27;">{{taskData.device_record.length}}</span>
                        <span class="name">{{ 'inspect.count.device' | translate }}</span>
                    </div>
                    <div class="item">
                        <span class="count">{{checkedDeviceCount}}</span>
                        <span class="name">{{ 'inspect.count.device.checked' | translate }}</span>
                    </div>
                    <div class="item">
                        <span class="count" style="color: #FD6D27;">{{exceptionDeviceCount}}</span>
                        <span class="name">{{ 'inspect.count.device.unusual' | translate }}</span>
                    </div>
                    <div class="item" ng-if="xunjianStage === 'toClose' && taskData.dts_count && false">
                        <span class="count" style="color: #FD6D27;">{{taskData.resolved_dts_count}}</span>
                        <span class="name">{{'staticdevice.count.defects.resolved' | translate}}</span>
                    </div>
                </div>
                <button ng-click="gotoDeviceHandlerPage()" ng-if="!canHandle">{{'inspect.device.view' |
                    translate}}
                </button>
            </div>
            <div class="mui-card card" style="box-shadow: none;margin-top: 6px;">
                <div class="mui-card-content">
                    <div class="mui-card-content-inner" style="padding: 2px 0;">
                        <div class="task-desp mui-ellipsis">
                            <span class="task-type" ng-class="{'ergent': taskData.task_type_id===3}">{{taskData.task_type_name}}:</span>
                            <span style="font-size: 14px;">{{taskData.no}}</span>

                            <label class="btn-status" style="float: right;"
                                   ng-class="{running: taskData.stage_id!==TaskStatus.Closed, closed: taskData.stage_id===TaskStatus.Closed}">
                                {{taskData.isToStart ? ('task.status.toStart' | translate) : taskData.stage_name}}
                            </label>
                        </div>
                        <ul class="task-detail-info-group" ng-if="taskData.task_type_id !== TaskTypes.Xunjian">
                            <li>
                                <label class="title">{{ 'task.person.creator' | translate}}</label><span class="value">{{taskData.creater_name}}</span>
                            </li>
                            <li>
                                <label class="title">{{ 'task.time.created' | translate }}</label><span class="value">{{taskData.create_time}}</span>
                            </li>
                            <li ng-if="taskData.expect_complete_time">
                                <label class="title">{{ 'task.time.expected' | translate}}</label><span class="value">{{taskData.expect_complete_time}}</span>
                            </li>
                            <li ng-if="taskData.current_handler">
                                <label class="title">{{ 'task.person.current' | translate }}</label>
                                <div class="value" style="padding-left: 80px;">
                                    <div ng-repeat="user in taskData.current_handler_users"
                                         ng-click="callPhone(user.phone)">
                                        {{user.name}}
                                    </div>
                                </div>
                            </li>
                            <li>
                                <label class="title">{{ 'task.team' | translate }}</label><span class="value">{{taskData.operator_team_name}}</span>
                            </li>
                            <li ng-if="taskData.operator">
                                <label class="title">{{ 'task.repairer' | translate }}</label>
                                <span class="value" style="margin-left: 80px;">
                                        <div ng-repeat="user in taskData.operator_users"
                                             ng-click="callPhone(user.phone)">
                                            {{user.name}}
                                        </div>
                                    </span>
                            </li>
                            <li ng-if="taskData.finish_time">
                                <label class="title">{{ 'task.time.finished' | translate }}</label>
                                <span class="value">{{taskData.finish_time.substring(0, 16)}}</span>
                            </li>
                        </ul>
                        <ul class="task-detail-info-group" ng-if="taskData.task_type_id === TaskTypes.Xunjian">
                            <li>
                                <label class="title">{{'inspection name' | myTranslate}}</label><span class="value">{{taskData.name}}</span>
                            </li>
                            <li ng-if="!taskData.riplan_create_time">
                                <label class="title">{{ 'task.time.created' | translate }}</label><span class="value">{{taskData.create_time}}</span>
                            </li>
                            <li ng-if="taskData.riplan_create_time">
                                <label class="title">{{ 'task.time.start' | translate }}</label><span class="value">{{taskData.create_time.substring(0,16)}}</span>
                            </li>
                            <li ng-if="taskData.expect_complete_time">
                                <label class="title">{{ 'task.time.expected' | translate }}</label><span class="value">{{taskData.expect_complete_time}}</span>
                            </li>
                            <li>
                                <label class="title">{{ 'station' | translate }}</label>
                                <span class="value" ng-click="openMap()">
                                        <a>{{taskData.station_name}}<i class="iconfont anticon-location"></i></a>
                                    </span>
                            </li>
                            <li>
                                <label class="title">{{ 'owner' | translate }}</label>
                                <span class="value" style="padding-left: 80px;"
                                      ng-click="callPhone(taskData.creater_user.phone)">
                                        {{taskData.creater_user.name}}
                                    </span>
                            </li>
                            <li>
                                <label class="title">{{'inspect.team' | translate}}</label><span class="value">{{taskData.operator_team_name}}</span>
                            </li>
                            <li ng-if="taskData.operator">
                                <label class="title">{{'inspect.repairer' | translate}}</label>
                                <span class="value" style="padding-left: 80px;">
                                        <div ng-repeat="user in taskData.operator_users"
                                             ng-click="callPhone(user.phone)">
                                            {{user.name}}
                                        </div>
                                    </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mui-card card" style="box-shadow: none;margin-top: 6px;"
                 ng-if="taskData.task_type_id !== TaskTypes.Xunjian">
                <div class="mui-card-content">
                    <div class="mui-card-content-inner" style="padding: 0;">
                        <div style="font-size: 13px;">{{taskName}} {{'description' | translate}}：</div>
                        <ul class="task-detail-info-group">
                            <li>
                                <!--<label class="title" style="width: 50px;">{{ 'description' | translate }}</label>-->
                                <span class="value" style="float: none;">{{taskData.name}}</span>
                            </li>
                            <li ng-if="taskData.desp">
                                <label class="title" style="width: 50px;">{{ 'remark' | translate }}：</label>
                                <span class="value" style="padding-left: 50px;float: none;">{{taskData.desp}}</span>
                            </li>
                            <li>
                                <label class="title" style="width: 50px;">{{ 'station' | translate}}：</label>
                                <span class="value" ng-click="openMap()" style="padding-left: 50px;float: none;">
                                        <a>{{taskData.station_name}}<i class="iconfont anticon-location"></i></a>
                                    </span>
                            </li>
                            <li ng-if="taskData.device_record && taskData.device_record.length">
                                <label class="title" style="width: 50px;">{{ 'device' | translate }}：</label>
                                <span class="value" style="padding-left: 50px;float: left;">
                                        <div ng-repeat="record in taskData.device_record" ng-click="gotoDevice(record)">
                                            <a>{{record.device_name}}</a>
                                        </div>
                                    </span>
                            </li>
                            <div ng-if="requestPictures" style="padding: 0 12px;font-size: 13px;">
                                <div>{{taskName}} {{ 'pictures' | translate }}</div>
                                <image-grid-list images="requestPictures" ng-if="requestPictures"></image-grid-list>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card"
                 ng-if="taskData.task_type_id === TaskTypes.Xunjian && canHandle && taskData.stage_id === TaskStatus.Arrived">
                <div class="mui-card-content">
                    <div>{{ 'task.signin' | translate }}</div>
                    <image-uploader images="inspectUploadImages"></image-uploader>
                </div>
            </div>
            <div class="mui-card card" style="box-shadow: none;margin-top: 6px;" ng-if="handleResult">
                <div class="mui-card-content">
                    <div class="mui-card-content-inner" style="padding: 0;">
                        <div ng-if="handleResult && taskData.task_type_id !== TaskTypes.Xunjian">
                            <div style="font-size: 13px;">{{ 'task.repair.result' | translate }}：</div>
                            <div style="padding: 0 12px;">
                                <div style="font-size: 13px;" class="text-secondary">{{handleResult.desp}}</div>
                                <image-grid-list images="handleResult.picture_list"
                                                 ng-if="handleResult.picture_list"></image-grid-list>
                            </div>
                        </div>
                        <div ng-if="handleResult && taskData.task_type_id === TaskTypes.Xunjian">
                            <div style="font-size: 13px;">{{ 'task.signin' | translate }}：</div>
                            <image-grid-list images="handleResult.picture_list"
                                             ng-if="handleResult.picture_list"></image-grid-list>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mui-card card" ng-if="taskComment != null">
                <div class="mui-card-content">
                    <div class="mui-card-content-inner task-comment" style="padding: 0;">
                        <div class="comment-title">{{ 'task.evaluate' | translate }}：
                            <div class="stars small">
                                   <span ng-repeat="i in [1,2,3,4,5]" class="star"
                                         ng-class="{'empty': !taskComment.score || score < i, 'full': taskComment.score >= i}">
                                    </span>
                                <span class="desp">{{getScoreDesp()}}</span>
                            </div>
                            <a ng-click="taskHandler.commentTask()" class="iconfont anticon-edit"></a>
                        </div>
                        <div ng-if="taskComment.update_by" class="task-comment-user">
                            <img ng-src="{{getUserHeadImage(taskComment.update_user)}}" class="head"/>
                            <span class="name">{{taskComment.update_user.name}}</span>
                            <span class="time">{{taskComment.update_time}}</span>
                        </div>
                        <div ng-if="!taskComment.update_by" class="task-comment-user">
                            <img ng-src="{{getUserHeadImage(taskComment.post_user)}}" class="head"/>
                            <span class="name">{{taskComment.post_user.name}}</span>
                            <span class="time">{{taskComment.post_time}}</span>
                        </div>
                        <div class="comment">{{taskComment.comment}}</div>
                        <image-grid-list images="taskComment.picture_list"
                                         ng-if="taskComment.picture_list"></image-grid-list>
                    </div>
                </div>
            </div>
            <!-- 安全评测 -->
            <div class="mui-card card" ng-if="taskData.task_type_id===1" ng-click="gotoHandleTask()">
                <div class="mui-card-content mui-navigate-right">
                    <div class="mui-card-content-inner" style="padding: 2px 6px;">
                        <i class="iconfont anticon-app-security app-icon orange pull-left"
                           style="margin-top:8px;margin-right:8px;"></i>
                        <div class="mui-media-body" style="line-height: 40px;font-size: 1.2em;">
                            {{ 'task.security.report.view' | translate }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- 停电维护 -->
            <div class="mui-card card" ng-if="taskData.task_type_id===6" ng-click="gotoHandleTask()">
                <div class="mui-card-content mui-navigate-right">
                    <div class="mui-card-content-inner" style="padding: 2px 6px;">
                        <i class="iconfont anticon-app-poweroff app-icon orange pull-left"
                           style="margin-top:8px;margin-right:8px;"></i>
                        <div class="mui-media-body" style="line-height: 40px;font-size: 1.2em;">
                            {{ 'task.poweroff.report.view' | translate }}
                        </div>
                    </div>
                </div>
            </div>
            <div ng-include="'/templates/task/task-update-history.html'"></div>
            <nav class="mui-bar mui-bar-tab bg-transparent task-btn-bottom" ng-if="actions.length"
                 style="height: 40px;">
                <a ng-repeat="action in actions">
                    <button type="button"
                            class="mui-btn mui-btn-primary mui-btn-block mui-btn-outlined mui-control-item task-btn"
                            ng-click="taskHandler.execute(action.id)" ng-style="{'backgroundColor': action.color}">
                        {{action.name}}
                    </button>
                </a>
            </nav>
            <team-and-handler-selector ng-if="taskData.stage_id === TaskStatus.ToAssign"
                                       on-hide="taskHandler.assignHandlers"
                                       visible="assignPickerVisible" teams="teams"
                                       callback="onAssignHandlers"></team-and-handler-selector>
            <handlers-selector ng-if="taskData.stage_id === TaskStatus.ToAccept" on-hide="taskHandler.acceptTaskAssign"
                               visible="acceptPickerVisible" callback="onAccept" users="toAcceptUsers"
                               title="{{ 'task.tip.select.repair.accept' | translate }}"
                               default-users="toAcceptUsers"></handlers-selector>
            <handlers-selector ng-if="taskData.stage_id === TaskStatus.Competition" on-hide="taskHandler.grabTask"
                               visible="acceptPickerVisible" callback="onGrabTask" users="toAcceptUsers"
                               title="'{{ 'task.tip.select.repair.accept' | translate }}'"
                               default-users="toAcceptUsers"></handlers-selector>
            <handlers-selector ng-if="taskData.stage_id === TaskStatus.ToAccept" on-hide="taskHandler.transferHandler"
                               visible="transferPickerVisible" callback="onTransferUsers" users="toTransferUsers"
                               title="{{ 'task.tip.select.repair.transfer' | translate }}"></handlers-selector>
        </div>

        <div ui-view></div>
    </div>
</div>