
<!-- 抢单 -->
<div class="mui-content" style="padding: 0;" ng-class="{'page-bottom': canHandle}" ng-if="taskData.stage_id == TaskStatus.Competition">
    <header class="mui-bar bg-header">
        <h1 class="mui-title">所有任务</h1>
        <a onclick="showTopMenu()" class="mui-action-menu mui-icon mui-pull-right" ><i class="header-icon white icon-add"></i></a>
    </header>
    <ul class="mui-table-view" style="margin-top: 0px;">
        <li class="mui-table-view-cell">
            <div class="task-desp">[{{taskData.id}}] {{taskData.name}}</div>
        </li>
    </ul>
    <div class="mui-card" style="box-shadow: none;margin: 0;">
        <div class="mui-card-content">
            <div class="mui-card-content-inner" style="padding-top: 0px;">
                <ul class="mui-table-view mui-grid-view task-detail" style="padding-bottom: 0px;margin-top: 0px;">
                    <li class="task-info mui-table-view-cell mui-media mui-col-xs-12 mui-col-sm-12" ng-if="taskData.station_name">
                        <div class="mui-media-body"><div style="display: inline-block;font-weight: 700;line-height: 18px;">站点</div>：{{taskData.station_name}}</div>
                    </li>
                    <li class="task-info mui-table-view-cell mui-media mui-col-xs-12 mui-col-sm-12">
                        <div class="mui-media-body"><div style="display: inline-block;font-weight: 700;line-height: 18px;">事件类型</div>：{{taskData.task_type_name}}</div>
                    </li>
                    <li class="task-info mui-table-view-cell mui-media mui-col-xs-12 mui-col-sm-12">
                        <div class="mui-media-body"><div style="display: inline-block;font-weight: 700;line-height: 18px;">创建时间</div>：{{taskData.create_time}}</div>
                    </li>
                    <li class="task-info mui-table-view-cell mui-media mui-col-xs-12 mui-col-sm-12">
                        <div class="mui-media-body"><div style="display: inline-block;font-weight: 700;line-height: 18px;">截止日期</div>：{{taskData.expect_complete_time.substring(0,10)}}</div>
                    </li>
                    <li class="task-info mui-table-view-cell mui-media mui-col-xs-12 mui-col-sm-12" ng-if="taskData.desp">
                        <div class="mui-media-body" style="height: auto;"><div style="display: inline-block;font-weight: 700;line-height: 18px;">任务描述</div>：{{taskData.desp}}</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <ul class="mui-table-view" ng-click="openMap()">
        <li class="mui-table-view-cell">
            <i class="icon icon-ms location mui-pull-left" style="position: absolute;top:8px;"></i>
            <a style="font-size: 14px;margin-left:18px" >{{taskData.station_address}}</a>
        </li>
        <div style="width: 100%;height: 300px;position: relative;">
            <div id="map" style="width: 100%;height: 300px;"></div>
            <div style="position: absolute;top:0;left: 0;width: 100%;height: 100%;"></div>
        </div>

    </ul>
    <nav class="mui-bar mui-bar-tab" style="box-shadow: none;background-color: #efeff4;">
        <a class="mui-tab-item mui-active mui-segmented-control-vertical" href="#" style="padding: 8px;" ng-controller="GrabTaskCtrl">
            <button type="button" class="mui-btn mui-btn-primary mui-btn-block mui-btn-outlined mui-control-item accept"
                    style="margin-bottom: 6px;background-color: #f0ad4e;color: #fff;border: #f0ad4e;padding: 8px;"
                    ng-click="toGrabTask($event, taskData)">抢单</button>
        </a>
    </nav>
</div>      <!-- 抢单 end -->