
<div class="mui-popup mui-popup-in android-dialog" style="display: block;">
    <div class="mui-popup-inner">
        <div class="mui-popup-title">
            <label class="mui-ellipsis">{{name}}</label>
        </div>
        <div class="mui-popup-text">
            <h5><i class="icon icon-xs map"></i>{{station_name}}</h5>
            <h5><i class="icon icon-xs clock"></i> {{expect_complete_time}}前完成</h5>
        </div>
    </div>
    <button type="button" class="mui-btn mui-btn-primary mui-btn-block" data-role="accept">接单</button>
    <button type="button" class="mui-btn mui-btn-block" data-role="cancel">取消</button>
</div>
<div class="mui-popup-backdrop mui-active" style="display: block;"></div>