<div ng-controller="GalleryCtrl">
    <div id="slides" class="slides">
        <div class="img-container" ng-repeat="image in images">
            <div>
                <img ng-src="{{image}}"  ng-click="hide()">
            </div>
        </div>
        <!--<div class="mui-slider-indicator">-->
            <!--<div class="mui-indicator" ng-repeat="image in images" ng-class="{'mui-active': $index==index}"></div>-->
        <!--</div>-->

        <div class="weui-gallery__opr" ng-if="canDelete">
            <a href="javascript:" class="weui-gallery__del" ng-click="deleteImage()">
                <i class="weui-icon-delete weui-icon_gallery-delete fa fa-trash-o"></i>
            </a>
        </div>

    </div>
</div>