<div class="inner-page" id="handlePage" ng-controller="TaskHandlerUpload">
    <header class="mui-bar mui-bar-transparent mui-segmented-control-vertical" style=" -webkit-box-shadow: none;box-shadow: none;position: relative;">
        <a class="mui-icon mui-pull-left mui-control-item" style="font-size: 18px;margin-left: 6px;color: #9e9e9e;top:10px;" ng-click="cancel()">取消</a>
        <a class="mui-icon mui-action-menu mui-pull-right mui-control-item" style="font-size: 18px;margin-right: 6px;top:10px;" ng-click="submitAndBack()">确认</a>
    </header>
    <div class="mui-content" style="top:0px;padding: 0;position: relative" >
        <div class="task-result">
            <div class="mui-input-row" style="padding: 10px 5px;">
                <textarea rows="3" placeholder="请添加描述..." name="description" ng-model="description"></textarea>
            </div>
            <image-uploader images="images" on-update="onUpdateImages"></image-uploader>
        </div>
    </div>
</div>
<div ui-view id="updater"></div>