<div class="page page-left" ng-controller="TaskCloseRejectCtrl">
    <header class="mui-bar bg-header">
        <a class="mui-icon ng-binding" onclick="history.back()" style="font-size: 16px;margin-top: 6px;margin-left: 6px;">
            {{'cancel' | translate}}
        </a>
        <a class="mui-icon mui-action-menu mui-pull-right mui-control-item text-link" style="font-size: 16px;margin-right: 6px;top:6px;" ng-click="submit()">{{'submit' | translate}}</a>
    </header>
    <div class="body-content" style="top:0px;padding: 0;position: relative" >
        <div class="task-result">
            <div class="mui-input-row" style="padding: 10px 5px;">
                <textarea rows="4" placeholder="{{'task.tip.reason.reject' | translate}}..." name="description" ng-model="description"></textarea>
            </div>
        </div>
    </div>
</div>