<div id="taskList" class="scroll-wrapper" style="position: relative;height: 100%;">
    <div class="filter-btn" ng-click="toggleFilter()">
        筛选<label class="iconfont anticon-filter" style="font-size: 13px;"></label>
    </div>
    <div class="mui-scroll1" ng-if="!isLoading && !loadingFailed" style="margin-top: 38px;">
        <ul class="mui-table-view-striped mui-table-view-condensed task-list no-out-border" ng-if="tasks.length">
            <li class="mui-table-view-cell mui-media task-item" ng-repeat="task in tasks"
                ng-click="openTask(task)" ng-class="{'closed': task.stage_id == TaskStatus.Closed}">
                <div ng-if="task.task_type_id !== 11">
                    <div class="main-body">
                        <div class="mui-media-body task-main">
                            <h4 class="mui-ellipsis task-title" style="margin-top: 0">
                                <img class="mui-pull-left task-icon" src="/img/task_type_{{task.task_type_id}}@2x.png">
                                <strong class="task-type" ng-class="{'ergent': task.task_type_id===3}">{{task.task_type_name}}</strong>
                            </h4>
                        </div>
                    </div>
                    <div class="sub-body">
                        <p class="task-name">
                            {{task.name}}
                        </p>
                        <div ng-if="task.station_name">
                            <span class="task-info-label">站点名称</span><span class="task-info-value">{{task.station_name}}</span>
                        </div>
                        <div ng-if="task.stage_id !== 5">
                            <span class="task-info-label" style="padding-right: 0;">期望完成时间：</span>
                            <span class="task-info-value" ng-class="{'timeout': task.isTimeout}">{{task.expect_complete_time}}</span>
                        </div>
                        <div ng-if="task.stage_id === 5">
                            <span class="task-info-label" style="padding-right: 0;">完成时间：</span>
                            <span class="task-info-value" ng-class="{'timeout': task.isTimeout}">{{task.last_modified_time}}</span>
                        </div>
                    </div>
                    <div class="task-status">
                        <!--<span style="color: #6f6f6f;margin: 0 2px;">{{task.current_handler_name}}</span>{{task.stage_name}}-->
                        <span ng-if="!isMyself" style="color: #6f6f6f;">{{task.stage_name}}</span>
                        <span ng-if="isMyself">{{task.stage_name}}</span>
                    </div>
                </div>
                <div ng-if="task.task_type_id === 11">
                    <div class="main-body">
                        <div class="mui-media-body task-main">
                            <h4 class="mui-ellipsis task-title" style="margin-top: 0">
                                <img class="mui-pull-left task-icon" src="/img/task_type_{{task.task_type_id}}@2x.png">
                                <strong class="task-type" ng-class="{'ergent': task.task_type_id===3}">{{task.task_type_name}}</strong>
                            </h4>
                        </div>
                    </div>
                    <div class="sub-body">
                        <p class="task-name">
                            {{task.name}}
                        </p>
                        <div ng-if="task.operator_name">
                            <span class="task-info-value" style="padding-right: 0;">巡检人：</span>
                            <span class="task-info-value">{{task.operator_name}}</span>
                        </div>
                        <div ng-if="task.device_record.desp">
                            <span class="task-info-label" style="padding-right: 0;">结论：</span>
                            <span class="task-info-value">{{task.device_record.desp}}</span>
                        </div>
                        <div ng-if="!isDeviceOps && (task.stage_id === 4 || task.stage_id === 5)">
                            <span class="task-info-value">
                                巡检设备：{{task.device_record.length}}，发现缺陷数：{{task.dts_count}}
                                <span ng-if="task.dts_count">，已解决缺陷：{{task.resolved_dts_count}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="task-status" ng-if="isDeviceOps">
                        <span style="margin: 0 2px;" class="text-{{task.device_record.status_name}}">{{task.device_record.status}}</span>
                    </div>
                    <div class="task-status" ng-if="!isDeviceOps">
                        <!--<span style="color: #6f6f6f;margin: 0 2px;">{{task.current_handler_name}}</span>{{task.stage_name}}-->
                        <span ng-if="!isMyself" style="color: #6f6f6f;">{{task.stage_name}}</span>
                        <span ng-if="isMyself">{{task.stage_name}}</span>
                    </div>
                </div>
            </li>
        </ul>
        <div class="page-alert-wrapper" ng-if="tasks.length==0 && !isLoading && !loadingFailed">
            <div class="page-alert">
                <i class="alert-icon no-task"></i>
                <div class="alert-text info">无记录</div>
            </div>
        </div>
    </div>
    <div class="page-alert-wrapper" ng-if="isLoading">
        <div class="page-alert">
            <img src="../../img/page-loading.gif" class="loading-img">
            <div class="alert-text info">正在加载...</div>
        </div>
    </div>
    <div class="page-alert-wrapper" ng-if="loadingFailed">
        <div class="page-alert">
            <i class="alert-icon warning"></i>
            <div class="alert-text info">加载失败，请检查网络</div>
            <div class="alert-reload" ng-click="getDataList()">重新加载</div>
        </div>
    </div>
    <div class="dropdown-filter-wrapper" ng-if="showFilter">
        <div class="filter-mask" ng-click="toggleFilter(false)"></div>
        <div class="filter-inner">
            <div class="filter-body">
                <div class="group" ng-repeat="group in filterItems">
                    <div class="title">{{group.title}}</div>
                    <div class="items">
                        <label class="item" ng-repeat="item in group.items" ng-class="{'checked': tmpSelectedFilter[item.id]}"
                               ng-click="toggleFilterItem(item.id)">{{item.name}}</label>
                    </div>
                </div>
            </div>
            <div class="filter-footer">
                <div class="btn default" ng-click="clearFilter()">重置</div>
                <div class="btn primary" ng-click="confirmFilter()">查询</div>
            </div>
        </div>
    </div>
</div>