<div ng-controller="TaskListCtrl">
    <header class="mui-bar bg-header">
        <h1 class="mui-title">{{'all task.services' | myTranslate}}</h1>
        <a ng-click="toCreateTask()" class="mui-action-menu mui-icon mui-pull-right" ><i class="iconfont anticon-plus"></i></a>
    </header>
    <div style="top:61px;margin-bottom: 56px;" class="body-content" id="taskListWrapper">
        <div class="filter-btn" ng-click="toggleFilter()">
            {{'filter' | translate}}<label class="iconfont anticon-filter" style="font-size: 13px;"></label>
        </div>
        <div ng-include="'/templates/task/task-list-common.html'" style="margin-top: 32px;"></div>
        <div class="dropdown-filter-wrapper" ng-if="showFilter">
            <div class="filter-mask" ng-click="toggleFilter(false)"></div>
            <div class="filter-inner">
                <div class="filter-body">
                    <div class="group" ng-repeat="group in filterItems">
                        <div class="title">{{group.title}}</div>
                        <div class="items">
                            <label class="item" ng-repeat="item in group.items" ng-class="{'checked': tmpSelectedFilter[item.id]}"
                                   ng-click="toggleFilterItem(item.id)">{{item.name}}</label>
                        </div>
                    </div>
                </div>
                <div class="filter-footer">
                    <div class="btn default" ng-click="clearFilter()">{{'reset' | translate}}</div>
                    <div class="btn primary" ng-click="confirmFilter()">{{'query' | translate}}</div>
                </div>
            </div>
        </div>
    </div>
</div>