<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>应用中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <link rel="stylesheet" href="../../css/iconfont/iconfont.css">
    <link rel="stylesheet" href="../../components/mui/css/mui.min.css">
    <link rel="stylesheet" href="../../components/mui/css/mui.picker.min.css">
    <link rel="stylesheet" href="../../css/icon.css">
    <link rel="stylesheet" href="../../css/my.css">
    <link rel="stylesheet" type="text/css" href="../../js/lib/datatables/jquery.dataTables.min.css">
    <script type="text/javascript" src="../../components/libs/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../../components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/js/lib/angular-translate.min.js"></script>
    <script type="text/javascript" src="../../components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="../../components/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="../../components/angular-ui-router/release/stateEvents.min.js"></script>
    <script type="text/javascript" src="../../js/app/utils.js"></script>
    <script type="text/javascript" src="../../js/app/app.js"></script>
    <script type="text/javascript" src="../../js/service/appstore.js"></script>
</head>
<body ng-app="myApp" ng-cloak ng-controller="AppStoreCtrl" class="box-vertical-center app-store-page">
<header class="mui-bar bg-header mui-segmented-control-vertical bg-transparent" ng-if="!isEditing">
    <a class="mui-icon mui-icon-left-nav mui-pull-left text-white btn-back" onclick="pageBack()" ng-if="!isEditing"></a>
    <h1 class="mui-title">{{'all apps' | myTranslate}}</h1>
</header>
<header class="mui-bar bg-header mui-segmented-control-vertical bg-transparent" ng-if="isEditing">
    <a class="mui-icon mui-pull-left text-white" style="font-size: 16px;top: 6px;" ng-if="isEditing" ng-click="toggleEdit()">{{'cancel' | translate}}</a>
    <h1 class="mui-title">{{'app.edit' | translate}}</h1>
    <a class="mui-action-menu mui-icon mui-pull-right" style="font-size: 16px;line-height: 28px;margin-right: 6px;" ng-click="onSave()">{{'save' | translate}}</a>
</header>
<div class="body-content">
    <div class="card round-card apps" ng-class="{'apps-selector': isEditing}" style="padding: 2px 0;margin: 0 0 8px 0;">
        <div style="padding: 10px 12px 4px 12px;font-size: 14px;height: 40px;">
            <label class="mui-pull-left card-title">{{'app.my' | translate}}</label>
            <ul class="mui-pull-left" style="margin-left: 16px;width: calc(100% - 110px);height: 22px;overflow-y: hidden;" ng-if="!isEditing">
                <!--<li ng-repeat="app in selectedApps" class="mui-icon icon icon-20 {{app.icon}}" style="margin-right: 6px;"></li>-->
                <li ng-repeat="app in selectedApps" class="app-icon iconfont anticon-{{app.icon}} {{app.color}} mui-pull-left" style="margin-right: 6px;"></li>
            </ul>
            <a class="mui-pull-right" ng-click="toggleEdit()" ng-if="!isEditing">{{'app.edit' | translate}}</a>
        </div>
        <ul class="mui-table-view mui-grid-view mui-grid-9 no-border app-grid-bg" ng-if="isEditing">
            <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3 no-padding no-border" ng-repeat="app in selectedApps">
                <a class="app">
                    <!--<span class="mui-icon icon icon-20 {{app.icon}}"></span>-->
                    <i class="app-icon iconfont anticon-{{app.icon}} {{app.color}}"></i>
                    <div class="mui-media-body">{{app.name}}</div>
                    <label class="btn-editor delete" ng-click="onAddOrDelete(app)"></label>
                </a>
            </li>
            <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3 no-padding no-border" ng-if="isEditing">
                <a class="app app-edit">
                </a>
            </li>
        </ul>
    </div>
    <div style="padding: 6px 10px;font-size: 14px;">{{'all apps' | myTranslate}}</div>
    <div class="card round-card apps" ng-class="{'apps-selector': isEditing}" ng-repeat="appGroup in allApps" style="padding: 0;margin: 0;">
        <div style="padding: 10px 0 4px 12px;" class="card-title">{{appGroup.name}}</div>
        <ul class="mui-table-view mui-grid-view mui-grid-9 no-border app-grid-bg">
            <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3 no-padding no-border" ng-repeat="app in appGroup.children">
                <a class="app">
                    <!--<span class="mui-icon icon icon-20 {{app.icon}}"></span>-->
                    <i class="app-icon iconfont anticon-{{app.icon}} {{app.color}}"></i>
                    <div class="mui-media-body">{{app.name}}</div>
                    <label class="btn-editor" ng-class="app.selected ? 'delete' : 'add'" ng-click="onAddOrDelete(app)"></label>
                </a>
            </li>
        </ul>
    </div>
</div>

<script src="../../components/fastclick-master/lib/fastclick.js"></script>
</body>
</html>