
<div class="page page-left" ng-controller="MaintenanceChecklistCtrl">
    <header class="mui-bar mui-bar-nav">
        <a class="mui-icon mui-icon-left-nav mui-pull-left text-white" onclick="history.back()"></a>
        <h1 class="mui-title">电房及设备停电维护作业表</h1>
        <a class="mui-action-menu mui-icon mui-pull-right" style="font-size: 16px;line-height: 28px;" ng-click="save()" ng-if="canEdit">保存</a>
    </header>
    <div class="mui-content" ng-cloak style="display: -webkit-box;-webkit-box-align: stretch;">
        <div class="left-panel" style="background-color: #FFFFFF;width: 35%;box-shadow: 0 0 2px #ccc;">
            <ul class="check-list">
                <li class="check-item" ng-repeat="item in recordData.template" ng-class="{'active': currentIndex===$index}">
                    <a class="mui-navigate-right" href="#" ng-click="chooseItem($index)">
                        <i class="icon icon-16 icon-circle-grey"></i>
                        {{item.name}}
                    </a>
                </li>
            </ul>

        </div>
        <div class="right-panel" style="-webkit-box-flex: 2;">
            <h5 class="mui-text-center" style="color: #444;padding: 4px;">{{currentItem.name}}</h5>
            <div style="padding: 0 8px;">
                <ul class="check-box-list">
                    <li class="check-box-item" ng-repeat="item in currentItem.checklist">
                        <div class="name">
                            <label>{{item.name}}</label>
                            <div class="mui-pull-right mui-checkbox">
                                <div>
                                    <input name="checkbox{{item.id}}" type="checkbox" ng-click="checkThis(item, 1)" ng-if="!item.value">
                                    <input name="checkbox{{item.id}}" type="checkbox" checked ng-click="checkThis(item, 0)" ng-if="item.value">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>