
<div ng-controller="MaintenanceCheckRecordItemCtrl" class="page page-left" id="powerOffHandler">
    <style>

        .poweroff-info-list .mui-table-view-cell {
            padding: 8px 2px;
        }
    </style>
    <header class="mui-bar bg-header" style="z-index:1;box-shadow: 0 0 1px rgba(239, 237, 237, 0.85);">
        <a class="mui-icon mui-icon-left-nav mui-pull-left text-white btn-back" ng-click="gotoPrevPage()"></a>
        <h1 class="mui-title">电房及设备停电维护作业表</h1>
        <a class="mui-action-menu mui-icon mui-pull-right" style="font-size: 16px;line-height: 28px;color: #fff;" ng-click="save()" ng-if="canEdit">保存</a>
    </header>
    <div class="mui-content" ng-cloak style="background-color: #FFFFFF;">
        <div class="card no-padding">
            <ul class="mui-table-view info-group mui-input-group poweroff-info-list" style="font-size: 14px;padding-left: 16px;">
                <li class="mui-table-view-cell">
                    <label class="title dark">站点名称：</label><span class="value">{{recordData.station_name}}</span>
                </li>
                <li class="mui-table-view-cell" ng-if="canEdit">
                    <label class="title dark">配变容量：</label>
                    <input class="font-14" type="text" placeholder="请输入" ng-model="recordData.power_capacity" style="width: calc(100% - 98px);padding: 0px;height: 22px;">
                </li>
                <li class="mui-table-view-cell" ng-if="!canEdit">
                    <label class="title dark">配变容量：</label>
                    <span class="name">{{recordData.power_capacity}}</span>
                </li>
                <li class="mui-table-view-cell" ng-if="canEdit">
                    <label class="title dark">供电线路：</label>
                    <input class="font-14" type="text" placeholder="请输入" ng-model="recordData.power_circuit" style="width: calc(100% - 98px);padding: 0px;height: 22px;">
                </li>
                <li class="mui-table-view-cell" ng-if="!canEdit">
                    <label class="title dark">供电线路：</label>
                    <span class="name">{{recordData.power_circuit}}</span>
                </li>
                <li class="mui-table-view-cell">
                    <label class="title dark">维护日期：</label><span class="name">{{recordData.create_time.substring(0, 10)}}</span>
                </li>
                <li class="mui-table-view-cell">
                    <label class="title dark">责任人：</label><span class="name">{{recordData.creator_name}}</span>
                </li>
            </ul>
            <div class="card" style="text-align: center;">
                <button class="mui-btn mui-btn-primary" ng-click="gotoCheckListPage()">查看检查项</button>
            </div>
        </div>
        <div class="font-14" style="border-top: #eee 1px solid;margin: 0px 16px;padding: 12px 0 4px 0;">
            <div class="info-group"><span class="title dark" style="float: none;">维护前照片：</span>
                <div class="icon icon-20 icon-camera" style="position: absolute;" ng-if="canEdit">
                    <div class="image-uploader">
                        <input type="file" accept="image/*" name="upload" multiple="" style="width: 25px;overflow: hidden;padding-left: 25px;"
                               onchange="angular.element(this).scope().chooseImage('image_before_check', this)" ng-if="!useMobileGallery">
                        <input name="upload" ng-if="useMobileGallery" ng-click="setCurrentImageModel('image_before_check')" style="width: 25px;overflow: hidden;padding-left: 25px;background: none;border: none;">
                    </div>
                </div>
            </div>

            <ul class="image-list">
                <li class="image-item" ng-repeat="file in recordData.image_before_check"
                    ng-click="openGallery($index, recordData.image_before_check)">
                    <div class="content">
                        <a class="img-file" style="background-image: url({{file}})"></a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="card font-14" style="border-top: #eee 1px solid;margin: 0px 16px;padding: 12px 0 4px 0;">
            <div class="info-group"><span class="title dark" style="float: none;">维护过程照片：</span>
                <div class="icon icon-20 icon-camera" style="position: absolute;" ng-if="canEdit">
                    <div class="image-uploader">
                        <input type="file" accept="image/*" name="upload" multiple=""
                               onchange="angular.element(this).scope().chooseImage('image_in_check', this)" ng-if="!useMobileGallery" style="width: 25px;overflow: hidden;padding-left: 25px;">
                        <input name="upload" ng-if="useMobileGallery" ng-click="setCurrentImageModel('image_in_check')" style="width: 25px;overflow: hidden;padding-left: 25px;background: none;border: none;">
                    </div>
                </div>
            </div>

            <ul class="image-list">
                <li class="image-item" ng-repeat="file in recordData.image_in_check"
                    ng-click="openGallery($index, recordData.image_in_check)">
                    <div class="content">
                        <a class="img-file" style="background-image: url({{file}})"></a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="card font-14" style="border-top: #eee 1px solid;margin: 0px 16px;padding: 12px 0 4px 0;">
            <div class="info-group"><span class="title dark" style="float: none;">维护后照片：</span>
                <div class="icon icon-20 icon-camera" style="position: absolute;" ng-if="canEdit">
                    <div class="image-uploader">
                        <input type="file" accept="image/*" name="upload" multiple="" style="width: 25px;overflow: hidden;padding-left: 25px;"
                               onchange="angular.element(this).scope().chooseImage('image_after_check', this)" ng-if="!useMobileGallery">
                        <input name="upload" ng-if="useMobileGallery" ng-click="setCurrentImageModel('image_after_check')" style="width: 25px;overflow: hidden;padding-left: 25px;background: none;border: none;">
                    </div>
                </div>
            </div>

            <ul class="image-list">
                <li class="image-item" ng-repeat="file in recordData.image_after_check"
                    ng-click="openGallery($index, recordData.image_after_check)">
                    <div class="content">
                        <a class="img-file" style="background-image: url({{file}})"></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>