<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>派单</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!--标准mui.css-->
    <link rel="stylesheet" href="../components/mui/css/mui.min.css">
    <link rel="stylesheet" href="../components/mui/css/mui.picker.min.css">
    <link rel="stylesheet" href="../css/my.css" />
    <script type="text/javascript" src="../components/libs/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="../components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../js/app/app.js"></script>
    <script type="text/javascript" src="../js/controller/task.js"></script>
    <style>
        .mui-input-row label{
            width: 140px;
        }
        .mui-input-row .mui-btn{
            width: calc(100% - 140px);
            outline: none;
            background: transparent;
            border: none;
        }
        .mui-input-row label~input, .mui-input-row label~select, .mui-input-row label~textarea{
            width: calc(100% - 140px);
        }
        .mui-input-group:before{
            display: none;
        }
        .mui-input-group:after{
            display: none;
        }
        .disabled label{
            color: #ccc;
        }
        .disabled input::-webkit-input-placeholder{
            color: #ccc;
        }
        .mui-input-row label {
            color: #404040;
        }
    </style>
</head>

<body class="mui-android mui-android-5 mui-android-5-1 mui-android-5-1-1" ng-app="myApp">
<header class="mui-bar mui-bar-nav bg-header mui-segmented-control-vertical">
    <a class="mui-icon mui-action-back mui-icon-left-nav mui-pull-left text-white"></a>
    <h1 class="mui-title">派单</h1>
</header>
<div class="mui-content" ng-cloak style="top:0px;margin-top:20px;background-color: #fff;">
    <form class="mui-input-group" ng-controller="TaskCreateCtrl" name="myForm" novalidate="novalidate">
        <div class="mui-input-row">
            <label>任务名称</label>
            <input type="text" name="name" ng-model="taskData.name" placeholder="请输入任务名称" required>

            <span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
                <span ng-show="myForm.name.$error.required">用户名是必须的。</span>
            </span>
        </div>
        <div class="mui-input-row">
            <label>任务类型</label>
            <input type="text" style="position: absolute;" ng-model="taskTypeName" placeholder="选择任务类型">
            <button id="taskTypePicker" class="mui-btn mui-btn-block" type="button">&nbsp; </button>
        </div>
        <div class="mui-input-row">
            <label>期望完成时间</label>
            <input type="text" style="position: absolute;" ng-model="taskData.expect_complete_time" placeholder="选择任务处理截止时间">
            <button id='expectedTime' data-options='{}' class="btn mui-btn mui-btn-block">&nbsp;</button>
        </div>
        <div class="mui-input-row">
            <label>站点</label>
            <input type="text" style="position: absolute;" ng-model="stationName" placeholder="可不填">
            <button id='stationPicker' data-options='{}' class="btn mui-btn mui-btn-block">&nbsp;</button>
        </div>
        <div class="mui-input-row">
            <label>设备</label>
            <input type="text" style="position: absolute;" ng-model="deviceName" placeholder="可不填">
            <button id='devicePicker' data-options='{}' class="btn mui-btn mui-btn-block">&nbsp;</button>
        </div>
        <div class="mui-input-row">
            <label>是否抢单任务</label>
            <div class="mui-switch mui-switch-blue" style="float: none;left:140px;">
                <div class="mui-switch-handle"></div>
            </div>
        </div>
        <div class="mui-input-row">
            <label>责任人</label>
            <input type="text" style="position: absolute;" ng-model="handlerName" placeholder="选择任务责任人">
            <button id='handlerPicker' data-options='{}' class="btn mui-btn mui-btn-block">&nbsp;</button>
        </div>
        <div class="mui-input-row" style="margin: 10px 5px;height: auto;">
            <textarea rows="3" placeholder="任务描述，必填" ng-model="taskData.desp"></textarea>
        </div>
        <div class="mui-button-row" style="padding: 8px 16px;">
            <button type="submit" class="mui-btn mui-btn-primary mui-btn-block">派单</button>
        </div>
    </form>
</div>
<script src="../components/mui/js/mui.min.js"></script>
<script src="../components/fastclick-master/lib/fastclick.js"></script>
<script src="../components/mui/js/mui.picker.min.js"></script>
<script src="../components/mui/js/mui.poppicker.js"></script>
<script src="../js/my/notify.js"></script>
<script>

    mui.init({
        swipeBack:true //启用右滑关闭功能
    });
    document.getElementsByClassName('mui-switch')[0].addEventListener('toggle', function(event) {
        //event.detail.isActive 可直接获取当前状态
        if (event.detail.isActive){ //开关打开，为抢单任务
            var handlerBtn = document.getElementById('handlerPicker');
            handlerBtn.disabled = true;
            $(handlerBtn.parentNode).addClass('disabled');
        }else{
            var handlerBtn = document.getElementById('handlerPicker');
            handlerBtn.disabled = false;
            $(handlerBtn.parentNode).removeClass('disabled');
        }
    });
</script>
</body>

</html>