<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>设备列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!--标准mui.css-->
    <link rel="stylesheet" href="../components/mui/css/mui.min.css">
    <link rel="stylesheet" href="../css/my.css" />
    <script type="text/javascript" src="../components/libs/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="../components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../js/app/app.js"></script>
    <script type="text/javascript" src="../js/controller/sites.js"></script>
</head>

<body class="mui-android mui-android-5 mui-android-5-1 mui-android-5-1-1" ng-app="myApp">
<header class="mui-bar mui-bar-nav bg-header mui-segmented-control-vertical">
    <a class="mui-icon mui-action-back mui-icon-left-nav mui-pull-left text-white"></a>
    <h1 class="mui-title">所有设备</h1>
</header>
<div id="main" class="mui-content" ng-controller="DeviceListCtrl" ng-cloak style="top:0px;margin-top:0px;">
    <ul class="mui-table-view mui-table-view-chevron" id="device_list">
        <li class="mui-table-view-cell mui-media" ng-repeat="device in deviceList">
            <a class="mui-navigate-right" href="device-detail.html?station_sn={{sn}}&device={{device.device.nameEncoded}}&device_sn={{device.device.sn}}">
                <i class="mui-media-object mui-pull-left dev-status bg-{{device.status}}" ng-if="device.status"></i>
                <div class="mui-media-body">
                    <span style="font-size: 16px;">{{ device.device.name }}</span>
                    <h5 class="site-var " ng-if="device.important_realtime_datas[0]">{{device.important_realtime_datas[0].name}}:
                        <label class="no-margin"><span class="value">{{device.important_realtime_datas[0].data}}</span><span class="unit">{{device.important_realtime_datas[0].unit}}</span></label>
                    </h5>
                    <h5 class="site-var" ng-if="device.important_realtime_datas[1]">{{device.important_realtime_datas[1].name}}:
                        <label class="no-margin"><span class="value">{{device.important_realtime_datas[1].data}}</span><span class="unit">{{device.important_realtime_datas[1].unit}}</span></label>
                    </h5>
                </div>
            </a>
        </li>
    </ul>
    <div class="page-alert-wrapper" ng-if="deviceLoading">
        <div class="page-alert">
            <span class="mui-spinner"></span>
            <div class="alert-text info">正在加载...</div>
        </div>
    </div>
    <div class="page-alert-wrapper" ng-if="!deviceList.length && !deviceLoading">
        <div class="page-alert">
            <div class="page-alert">
                <i class="alert-icon nodata"></i>
                <div class="alert-text info">站点无设备</div>
            </div>
        </div>
    </div>
</div>
<script src="../components/mui/js/mui.min.js"></script>
<script src="../components/fastclick-master/lib/fastclick.js"></script>
<script src="../components/dropload-gh-pages/dist/dropload.min.js"></script>
<script src="../js/my/notify.js"></script>
<script>
    $(function () {
        angular.element('#main').scope().getDataList();
    });
    initScroll('.mui-content');

</script>
</body>

</html>