<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>站点详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!--标准mui.css-->
    <link rel="stylesheet" href="../components/mui/css/mui.min.css">
    <link rel="stylesheet" href="../components/libs/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/my.css" />
    <!--<link rel="stylesheet" href="./components/slides-playing/css/example.css">-->
    <script type="text/javascript" src="../components/libs/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="../components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="../components/me-lazyimg-master/me-lazyimg.js"></script>
    <script type="text/javascript" src="../js/app/app.js"></script>
    <!--<script type="text/javascript" src="./js/router/router.js"></script>-->
    <script type="text/javascript" src="../js/controller/task.js"></script>
    <style>
        html,
        body {
            height: 100%;
            overflow: hidden;
        }
        .mui-bar {
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .mui-content{
            top:70px;
        }
        .mui-media-body{
            height: 16px;
        }
        .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body{
            height: 18px;
        }
        strong{
            height: 18px;
            display: inline-block;
        }
        .task-info{
            padding-top: 0px !important;
            margin-top: 2px;
        }
    </style>
</head>

<body class="mui-android mui-android-5 mui-android-5-1 mui-android-5-1-1 mui-segmented-control-vertical" ng-app="myApp" ng-controller="TaskBaseCtrl">
<header class="mui-bar bg-header">
    <a class="mui-icon mui-action-back mui-icon-left-nav mui-pull-left text-white"></a>
    <h1 class="mui-title" id="head_title">任务详情</h1>
</header>
<div  ng-controller="TaskDetailCtrl" ng-cloak>
    <!-- 抢单 -->
    <div class="mui-content" style="padding: 0;" ng-class="{'page-bottom': canHandle}" ng-if="taskData.stage_id == TaskStatus.Competition">
        <ul class="mui-table-view" style="margin-top: 0px;">
            <li class="mui-table-view-cell">
                <div class="task-desp">[{{taskData.id}}] {{taskData.name}}</div>
            </li>
        </ul>
        <div class="mui-card" style="box-shadow: none;margin: 0;">
            <div class="mui-card-content">
                <div class="mui-card-content-inner" style="padding-top: 0px;">
                    <ul class="mui-table-view mui-grid-view task-detail" style="padding-bottom: 0px;margin-top: 0px;">
                        <li class="task-info mui-table-view-cell mui-media mui-col-xs-12 mui-col-sm-12" ng-if="taskData.station_name">
                            <div class="mui-media-body"><div style="display: inline-block;font-weight: 700;line-height: 18px;">站点</div>：{{taskData.station_name}}</div>
                        </li>
                        <li class="task-info mui-table-view-cell mui-media mui-col-xs-12 mui-col-sm-12">
                            <div class="mui-media-body"><div style="display: inline-block;font-weight: 700;line-height: 18px;">事件类型</div>：{{taskData.task_type_name}}</div>
                        </li>
                        <li class="task-info mui-table-view-cell mui-media mui-col-xs-12 mui-col-sm-12">
                            <div class="mui-media-body"><div style="display: inline-block;font-weight: 700;line-height: 18px;">创建时间</div>：{{taskData.create_time}}</div>
                        </li>
                        <li class="task-info mui-table-view-cell mui-media mui-col-xs-12 mui-col-sm-12">
                            <div class="mui-media-body"><div style="display: inline-block;font-weight: 700;line-height: 18px;">截止日期</div>：{{taskData.expect_complete_time.substring(0,10)}}</div>
                        </li>
                        <li class="task-info mui-table-view-cell mui-media mui-col-xs-12 mui-col-sm-12" ng-if="taskData.desp">
                            <div class="mui-media-body" style="height: auto;"><div style="display: inline-block;font-weight: 700;line-height: 18px;">任务描述</div>：{{taskData.desp}}</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="mui-table-view" ng-click="openMap()">
            <li class="mui-table-view-cell">
                <i class="icon icon-ms location mui-pull-left" style="position: absolute;top:8px;"></i>
                <a style="font-size: 14px;margin-left:18px" >{{taskData.station_address}}</a>
            </li>
            <div style="width: 100%;height: 300px;position: relative;">
                <div id="map" style="width: 100%;height: 300px;"></div>
                <div style="position: absolute;top:0;left: 0;width: 100%;height: 100%;"></div>
            </div>

        </ul>
        <nav class="mui-bar mui-bar-tab" style="box-shadow: none;background-color: #efeff4;">
            <a class="mui-tab-item mui-active mui-segmented-control-vertical" href="#" style="padding: 8px;" ng-controller="GrabTaskCtrl">
                <button type="button" class="mui-btn mui-btn-primary mui-btn-block mui-btn-outlined mui-control-item accept"
                        style="margin-bottom: 6px;background-color: #f0ad4e;color: #fff;border: #f0ad4e;padding: 8px;"
                        ng-click="toGrabTask($event, taskData)">抢单</button>
            </a>
        </nav>
    </div>      <!-- 抢单 end -->

    <!-- 正在处理的任务单 -->
    <div class="mui-content" style="top: 58px;" ng-class="{'page-bottom': canHandle}" ng-if="taskData.stage_id != TaskStatus.Competition">
        <div class="steps" ng-if="taskData.stage_id != TaskStatus.ToAssign">
            <div class="progress-bar">
                <div class="progress" style="width: {{taskData.progress}};"></div>
                <i class="icon icon-ms motorbike" ng-if="taskData.stage_id == TaskStatus.Coming"></i>
            </div>
            <div class="step" ng-class="{'active': taskData.activeIndex==0, 'finished': taskData.finishIndex>=0}">
                <div class="icon">1</div>
                <div class="desc">新任务</div>
            </div>
            <div class="step" ng-class="{'active': taskData.activeIndex==1, 'finished': taskData.finishIndex>=1}">
                <div class="icon">2</div>
                <div class="desc">处理</div>
            </div>
            <div class="step" ng-class="{'active': taskData.activeIndex==2, 'finished': taskData.finishIndex>=2}">
                <div class="icon">3</div>
                <div class="desc">审批</div>
            </div>
            <div class="step" ng-class="{'active': taskData.activeIndex==3, 'finished': taskData.finishIndex>=3}">
                <div class="icon">4</div>
                <div class="desc">关闭</div>
            </div>
        </div>
        <div ng-if="taskData.stage_id==2">
            <div class="alert alert-warning alert-dismissable">
                <i class="fa fa-info pr10"></i>
                <strong>任务被拒绝，请重新指派!</strong>
            </div>
        </div>
        <div class="mui-card" style="box-shadow: none;margin-top: 4px;">
            <div class="mui-card-content">
                <div class="mui-card-content-inner">
                    <div class="task-desp">[{{taskData.id}}] {{taskData.name}}</div>
                    <ul class="mui-table-view mui-grid-view task-detail" style="padding-bottom: 0px;">
                        <li class="task-info mui-table-view-cell mui-media mui-col-xs-12 mui-col-sm-12" ng-if="taskData.station_name">
                            <div class="mui-media-body"><div style="display: inline-block;color:#949494;line-height: 18px;">站点：</div>
                                <a href="site-detail.html?site={{taskData.station_name}}&sn={{taskData.station_sn}}">{{taskData.station_name}}</a>
                            </div>
                        </li>
                        <li class="task-info mui-table-view-cell mui-media mui-col-xs-12 mui-col-sm-12">
                            <div class="mui-media-body"><div style="display: inline-block;color:#949494;line-height: 18px;">创建时间：</div>{{taskData.create_time}}</div>
                        </li>
                        <li class="task-info mui-table-view-cell mui-media mui-col-xs-12 mui-col-sm-12">
                            <div class="mui-media-body"><div style="display: inline-block;color:#949494;line-height: 18px;">截止时间：</div>{{taskData.expect_complete_time}}</div>
                        </li>
                        <li class="task-info mui-table-view-cell mui-media mui-col-xs-12 mui-col-sm-12" ng-if="taskData.desp">
                            <div class="mui-media-body" style="height: auto;"><div style="display: inline-block;color:#949494;line-height: 18px;">任务描述：</div>{{taskData.desp}}</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="map" style="width: 1px;height: 1px;"></div>
        <div style="font-size: 14px;margin-left: 16px;color: #444;">任务进程</div>
        <ul class="timeline-vertical" lazy-container>
            <li class="timeline-one" ng-repeat="item in history" ng-class="{'active': $index == 0}">
                <div class="time" ng-if="item.update_time"><span>{{ item.update_time }}</span></div>
                <span class="time-icon"  ng-class="{'handle-item': item.action_name=='更新进展'}" ng-if="item.action_id != TaskAction.Comment"></span>
                <div class="timeline-content" ng-class="{'text-red': item.event=='refuse'}" ng-if="item.event != 'handle'">
                    <span class="handler" ng-class="{'is-msg': item.action_id == TaskAction.Comment}">
                        <i class="icon icon-ms msg" ng-if="item.action_id == TaskAction.Comment"></i> {{item.handler}}
                    </span>{{item.action_id==TaskAction.Comment ? item.desp : item.action_name}}
                </div>
                <div class="timeline-comment" ng-if="item.desp != null && item.desp != '' && item.action_id != TaskAction.Comment">
                    {{ item.desp }}
                </div>
                <ul class="image-list" style="padding: 0;">
                    <li class="image-item" ng-repeat="imageIndex in imageScope" ng-if="item['picture'+imageIndex]" ng-click="showImageGallery(item, imageIndex)">
                        <div class="content">
                            <img src="{{host + item['picture'+imageIndex]}}" alt="" animate-visible="true" animate-speed="0.5s" >
                        </div>
                    </li>
                </ul>
            </li>
        </ul>

        <nav class="mui-bar mui-bar-tab" style="box-shadow: none;background-color: #efeff4;" ng-if="canHandle && taskData.stage_id===TaskStatus.ToAccept">
            <a class="mui-tab-item mui-active mui-segmented-control-vertical" href="#" style="padding: 8px;">
                <button type="button" class="mui-btn mui-btn-primary mui-btn-block mui-btn-outlined mui-control-item accept" style="margin-bottom: 6px;"
                        ng-click="taskHandler.acceptTaskAssign()">接受</button>
            </a>
            <a class="mui-tab-item mui-active mui-segmented-control-vertical" href="#" style="padding: 8px;">
                <button type="button" class="mui-btn mui-btn-danger mui-btn-block mui-btn-outlined mui-control-item refuse " style="margin-bottom: 6px;"
                        ng-click="taskHandler.refuseTaskAssign()">拒绝</button>
            </a>
        </nav>
        <nav class="mui-bar mui-bar-tab" style="box-shadow: none;background-color: #efeff4;" ng-if='canHandle && taskData.stage_id===TaskStatus.Accepted'>
            <a class="mui-tab-item mui-segmented-control-vertical" style="padding: 8px;">
                <button type="button" class="mui-btn mui-btn-primary mui-btn-block mui-btn-outlined mui-control-item" style="margin-bottom: 6px;"
                        ng-click="taskHandler.gotoSpot()">现在出发</button>
            </a>
        </nav>
        <nav class="mui-bar mui-bar-tab" style="box-shadow: none;background-color: #efeff4;" ng-if='canHandle && taskData.stage_id===TaskStatus.Coming'>
            <a class="mui-tab-item mui-segmented-control-vertical" style="padding: 8px;">
                <button type="button" class="mui-btn mui-btn-primary mui-btn-block mui-btn-outlined mui-control-item" style="margin-bottom: 6px;"
                        ng-click="taskHandler.setArrived()">已到达，开始处理</button>
            </a>
        </nav>
        <nav class="mui-bar mui-bar-tab" style="box-shadow: none;background-color: #efeff4;" ng-if='canHandle && taskData.stage_id===TaskStatus.Arrived'>
            <a class="mui-tab-item mui-segmented-control-vertical" style="padding: 8px;">
                <button type="button" class="mui-btn mui-btn-primary mui-btn-block mui-control-item" style="margin-bottom: 6px;"
                        ng-click="taskHandler.showHandlePage('#handlePage', TaskAction.Update)">上传处理结果</button>
            </a>
            <a class="mui-tab-item mui-segmented-control-vertical" style="padding: 8px;">
                <button type="button" class="mui-btn mui-btn-warning mui-btn-block mui-control-item" style="margin-bottom: 6px;"
                        ng-click="taskHandler.requestTaskComplete()">任务已完成</button>
            </a>
        </nav>
        <nav class="mui-bar mui-bar-tab" style="box-shadow: none;background-color: #efeff4;" ng-if='canHandle && taskData.stage_id===TaskStatus.ToClose'>
            <a class="mui-tab-item mui-segmented-control-vertical" style="padding: 8px;">
                <button type="button" class="mui-btn mui-btn-primary mui-btn-block mui-btn-outlined mui-control-item" style="margin-bottom: 6px;"
                        ng-click="taskHandler.closeTask()">关闭任务</button>
            </a>
            <a class="mui-tab-item mui-segmented-control-vertical" style="padding: 8px;">
                <button type="button" class="mui-btn mui-btn-danger mui-btn-block mui-btn-outlined mui-control-item" style="margin-bottom: 6px;"
                        ng-click="taskHandler.showHandlePage('#commentPage', TaskAction.Reject)">驳回关闭请求</button>
            </a>
        </nav>
    </div>
    <div class="inner-page" id="handlePage" ng-controller="TaskHandlerUpload">
        <header class="mui-bar mui-bar-transparent mui-segmented-control-vertical" style=" -webkit-box-shadow: none;box-shadow: none;position: relative;">
            <a class="mui-icon mui-pull-left mui-control-item" style="font-size: 18px;margin-left: 6px;color: #9e9e9e;top:10px;" ng-click="taskHandler.hideHandlePage('#handlePage')">取消</a>
            <a class="mui-icon mui-action-menu mui-pull-right mui-control-item" style="font-size: 18px;margin-right: 6px;top:10px;" ng-click="submitAndBack()">确认</a>
        </header>
        <div class="mui-content" style="top:0px;padding: 0;position: relative" >
            <div class="task-result">
                <div class="mui-input-row" style="padding: 10px 5px;">
                    <textarea rows="3" placeholder="请添加描述..." name="description" ng-model="description"></textarea>
                </div>
                <ul class="image-list" id="imageList">
                    <li class="image-item" ng-repeat="file in files"><div class="content"><div class="img-file" style="background-image: url({{file}})" ng-click="openGallery(files, $index+1)"></div></div></li>
                    <li class="upload-item">
                        <div class="content">
                            <div class="image-uploader">
                                <input type="file" accept="image/*" name="upload" multiple ng-model="chosenFile" onchange="angular.element(this).scope().chooseImage(this.files)" ng-if="isPC">
                                <input type="file" accept="image/*" name="upload" multiple ng-model="chosenFile" ng-if="!isPC">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="inner-page" id="commentPage">
    <header class="mui-bar mui-bar-transparent" style=" -webkit-box-shadow: none;box-shadow: none;position: relative;">
        <a class="mui-action-back mui-icon mui-pull-left" style="font-size: 18px;margin-left: 6px;color: #9e9e9e;top:10px;" ng-click="taskHandler.hideHandlePage('#commentPage')">取消</a>
        <a class="mui-icon mui-action-menu mui-pull-right" style="font-size: 18px;margin-right: 6px;top:10px;" ng-click="taskHandler.submitComment('#commentPage')">确认</a>
    </header>
    <div class="mui-content" style="top:0px;padding: 0;position: relative" >
        <div class="task-result">
            <div class="mui-input-row" style="padding: 10px 5px;">
                <textarea rows="4" placeholder="请输入驳回理由..." name="description" ng-model="description"></textarea>
            </div>
        </div>
    </div>
</div>
</div>
<script src="../components/mui/js/mui.min.js"></script>
<!--<script src="./js/lib/exif.js"></script>-->
<script src="../components/fastclick-master/lib/fastclick.js"></script>
<script src="../components/slides-playing/js/jquery.slides.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ITbaaCqA7nMWRjEIycEpddoUW1AvZvRq"></script>
<script type="text/javascript" src="../components/baidu/map/MarkerManager-1.2.min.js"></script>
<script src="../js/my/notify.js"></script>
<script>
    mui.init({
        swipeBack:true //启用右滑关闭功能
    });
//    mui("#slider");
    function initSlider(){

        mui("#slider");
    }

</script>
<script src="../components/handlebars-v4.0.10.js"></script>
<script id="grab-task-template" type="text/x-handlebars-template">
    <div class="mui-popup mui-popup-in android-dialog" style="display: block;">
        <div class="mui-popup-inner">
            <div class="mui-popup-title">
                <!--<img class="icon icon-ms" src="./images/task_type_{{task_type_name}}.png">-->
                <label class="mui-ellipsis">{{name}}</label>
            </div>
            <div class="mui-popup-text">
                <!--<h5 style="color: #444;" class="mui-ellipsis-2">{{desp}}</h5>-->
                <h5><i class="icon icon-xs map"></i>{{station_name}}</h5>
                <h5><i class="icon icon-xs clock"></i> {{expect_complete_time}}前完成</h5>
            </div>
        </div>
        <button type="button" class="mui-btn mui-btn-primary mui-btn-block" data-role="accept">接单</button>
        <button type="button" class="mui-btn mui-btn-block" data-role="cancel">取消</button>
    </div>
    <div class="mui-popup-backdrop mui-active" style="display: block;"></div>
</script>
</body>

</html>