<div class="mui-page page" ng-controller="IpcPicRecordDetailCtrl">
    <header class="mui-bar bg-header">
        <a class="mui-icon  mui-icon-left-nav mui-pull-left btn-back" onclick="history.back()"></a>
        <h1 class="mui-title">{{record.createTime}}</h1>
    </header>
    <div class="body-content bg-white">
        <!--<div style="font-size: 14px;margin: 4px 0 6px 18px;">{{'create time' | myTranslate}}：{{record.createTime}}-->
            <!--<span ng-if="record.status !== '0'" class="mui-pull-right text-secondary" style="font-size: 12px;margin-right: 12px;">正在保存({{record.downCount}}/{{record.allCount}})</span>-->
        <!--</div>-->
        <div style="font-size: 16px;margin: 8px 0 0 12px;" ng-if="record.name">{{'description' | translate}}：{{record.name}}</div>
        <ul class="ipc-list col" style="margin-top: 12px;">
            <li ng-repeat="img in images" ng-click="openGallery($index)">
                <div class="ipc-wrapper">
                    <div class="bracket"></div>
                    <img class="img" ng-src="{{img}}">
                </div>
            </li>
        </ul>
        <div class="page-alert-wrapper" ng-if="isLoading">
            <div class="page-alert">
                <img src="../../img/page-loading.gif" class="loading-img">
                <div class="alert-text info">{{'loading' | translate}}...</div>
            </div>
        </div>
        <div class="page-alert-wrapper" ng-if="loadingFailed">
            <div class="page-alert">
                <i class="alert-icon warning"></i>
                <div class="alert-text info">{{'tip.load.failed.network' | translate}}</div>
                <div class="alert-reload" ng-click="getIpcList()">{{'reload' | translate}}</div>
            </div>
        </div>
    </div>
</div>