<div class="mui-page" ng-controller="IpcRecordHistoryCtrl">
    <header class="mui-bar bg-header">
        <a class="mui-icon  mui-icon-left-nav mui-pull-left btn-back" onclick="history.back()"></a>
        <h1 class="mui-title">{{'video.snapshots' | translate}}</h1>
    </header>
    <div class="body-content">
        <div ng-if="!isLoading">
            <ul class="mui-table-view no-margin no-border">
                <li class="mui-table-view-cell mui-media" ng-repeat="record in records" ng-click="openRecordDetail(record)">
                    <i class="mui-media-object mui-pull-left icon icon-md icon-ipc-record"></i>
                    <div class="mui-media-body mui-ellipsis" style="display: -webkit-box; -webkit-box-orient: vertical; -webkit-box-pack: center;height: 42px;">
                        <label>
                            {{record.createTime}}
                            <span ng-if="record.status !== '0'" class="mui-pull-right" style="font-size: 12px;color: #aaa;">{{'saving' | translate}}({{record.downCount}}/{{record.allCount}})</span>
                        </label>
                        <p class="mui-ellipsis">{{record.name}}</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="page-alert-wrapper" ng-if="!isLoading && !records.length">
            <div class="page-alert">
                <div class="page-alert">
                    <i class="alert-icon nodata"></i>
                    <div class="alert-text info">{{'video.snapshots.nodata' | translate}}</div>
                </div>
            </div>
        </div>
        <div class="page-alert-wrapper" ng-if="isLoading">
            <div class="page-alert">
                <img src="../../img/page-loading.gif" class="loading-img">
                <div class="alert-text info">{{'loading' | translate}}...</div>
            </div>
        </div>
        <div class="page-alert-wrapper" ng-if="loadingFailed">
            <div class="page-alert">
                <i class="alert-icon warning"></i>
                <div class="alert-text info">{{'tip.load.failed.network' | translate}}</div>
                <div class="alert-reload" ng-click="getRecords()">{{'reload' | translate}}</div>
            </div>
        </div>
    </div>
    <div ui-view=""></div>
</div>
