<div class="mui-page" ng-controller="VideoMonitorCtrl" id="videoMonitor" ng-cloak>
    <header class="mui-bar bg-header mui-segmented-control-vertical">
        <a class="mui-icon  mui-icon-left-nav mui-pull-left btn-back" onclick="history.back()"></a>
        <h1 class="mui-title">{{'menu.monitor.video' | translate}}</h1>
        <a class="mui-action-menu mui-icon mui-pull-right" style="font-size: 16px;line-height: 28px;" ng-click="openCaptureRecordPage()">{{'video.records' | translate}}</a>
    </header>
    <div class="body-content" style="padding-bottom: 100px;">
        <div ng-if="!isLoading && ipcs.length">
            <!--<div class="row">-->
                <!--<i class="iconfont anticon-pailie video-list-switcher" ng-if="listType==='row'" ng-click="switchListType()"></i>-->
                <!--<i class="iconfont anticon-list video-list-switcher" ng-if="listType==='col'" ng-click="switchListType()"></i>-->
            <!--</div>-->
            <ul class="ipc-list" ng-class="{row: listType === 'row', col: listType === 'col'}" style="padding-top: 4px;">
                <li ng-repeat="ipc in ipcs">
                    <div class="ipc-wrapper">
                        <div class="bracket"></div>
                        <div class="img" ng-switch="ipc.type">
                            <img class="img" ng-src="{{ipc.snapUrl}}" ng-if="!ipc.startPlay" ng-class="{'offline': !ipc.online}">
                            <a class="play" ng-if="!ipc.startPlay && ipc.online" ng-click="startPlay(ipc)"><i class="iconfont anticon-play"></i></a>
                        </div>
                    </div>
                    <div>
                        <span class="name mui-ellipsis">{{ipc.name}}</span>
                        <span class="status" ng-class="{'online': ipc.online, 'offline': !ipc.online}">{{ipc.statusName}}</span>
                    </div>
                </li>
            </ul>

            <div class="float-bottom-btn2" ng-click="switchListType()">
                <i class="iconfont" ng-class="{'anticon-list': listType==='col', 'anticon-pailie': listType==='row'}"></i>
            </div>
            <div class="float-bottom-btn" ng-click="openSnapModal()">
                <i class="iconfont anticon-camera"></i>
            </div>
        </div>
        <div class="page-alert-wrapper" ng-if="!isLoading && !ipcs.length">
            <div class="page-alert">
                <div class="page-alert">
                    <i class="alert-icon nodata"></i>
                    <div class="alert-text info">{{'video.novideo' | translate}}</div>
                </div>
            </div>
        </div>
        <div class="page-alert-wrapper" ng-if="isLoading">
            <div class="page-alert">
                <img src="../../img/page-loading.gif" class="loading-img">
                <div class="alert-text info">{{'loading' | translate}}...</div>
            </div>
        </div>
        <div class="page-alert-wrapper" ng-if="loadingFailed">
            <div class="page-alert">
                <i class="alert-icon warning"></i>
                <div class="alert-text info">{{'tip.load.failed.network' | translate}}</div>
                <div class="alert-reload" ng-click="getIpcList()">{{'reload' | translate}}</div>
            </div>
        </div>
    </div>
    <div style="position: fixed; top: 0; width: 100%; height: 100%;background-color: #000;" ng-if="playingIpc">
        <iframe class="img" ng-src="{{playingIpc.streamUrl}}" allowFullScreen width="100%" height="100%"></iframe>
    </div>
    <div ui-view=""></div>
</div>