
<div class="mui-content bg-white" ng-cloak="" ng-submit="submitForm()" id="dtsCreatePage" ng-controller="DtsCreateCtrl" style="padding-bottom: 15px;">
    <form class="mui-input-group task-create-rows dts-create-rows create-form no-border" name="myForm" novalidate style="padding: 0 12px;">
        <div class="mui-input-row" ng-if="userStations.length > 1">
            <label class="label">站点<span style="color:red">*</span></label>
            <input type="text" style="position: absolute;" name="stationName" ng-model="stationName" placeholder="选择报修站点" required>
            <button type="button" id='stationPicker' class="btn mui-btn mui-btn-block">&nbsp;</button>
            <label class="error" ng-show="myForm.stationName.$invalid && (myForm.stationName.$dirty || myForm.$submitted)">
                <span ng-show="myForm.stationName.$error.required">请选择站点</span>
            </label>
        </div>
        <div class="mui-input-row" style="padding-bottom: 8px;">
            <label class="label" style="padding-bottom: 0">设备<span style="color:red">*</span></label>
            <button class="mui-btn mui-btn-block" type="button" ng-click="openDeviceSelector()" ng-if="!isForDevice" style="font-size: 14px;text-align: left;padding-left: 0;padding-bottom: 0;min-height: 36px;">点击选择</button>
            <div class="devices">
                <a ng-repeat="d in devices" class="device-name" ng-click="showDeviceDetail(d)">{{d.name}};</a>
            </div>
            <label class="error" ng-show="deviceEmptyError" style="margin-top: 0;">
                请选择缺陷设备
            </label>
        </div>
        <div class="mui-input-row">
            <label class="label">缺陷类型</label>
            <input type="text" name="defectType" ng-model="selectedDefectType.name" placeholder="选择选择或输入缺陷类型" style="width: calc(100% - 150px);">
            <button id="defectTypePicker" class="mui-btn mui-btn-block" type="button" style="float: right;width: auto;">选择</button>
        </div>
        <div class="mui-input-row">
            <label class="label">缺陷等级<span style="color:red">*</span></label>
            <input type="text" name="taskTypeName" ng-model="taskTypeName" placeholder="选择缺陷等级" required>
            <button id="taskTypePicker" class="mui-btn mui-btn-block" type="button">&nbsp; </button>
            <label class="error" ng-show="myForm.taskTypeName.$invalid && (myForm.taskTypeName.$dirty || myForm.$submitted)">
                <span ng-show="myForm.taskTypeName.$error.required">缺陷等级不能为空</span>
            </label>
        </div>
        <div class="mui-input-row">
            <label class="label">消缺时间<span style="color:red" ng-if="needResign">*</span></label>
            <input type="text" name="expectCompleteTime" ng-model="taskData.expect_complete_time" placeholder="请选择消缺时间" ng-required="needResign">
            <button type="button" id='expectedTime' class="btn mui-btn mui-btn-block">&nbsp;</button>
            <label class="error" ng-show="myForm.expectCompleteTime.$invalid && (myForm.expectCompleteTime.$dirty || myForm.$submitted)">
                <span ng-show="myForm.expectCompleteTime.$error.required">请选择消缺时间</span>
            </label>
        </div>
        <div class="mui-input-row" ng-if="needResign">
            <label class="label">消缺人员<span style="color:red">*</span></label>
            <!--<textarea name="handlerName" ng-model="handlerName" placeholder="请选择消缺班组和人员" rows="{{handlerRowSpan}}"></textarea>-->
            <div class="right-text" ng-if="taskData.current_handler_users.length">
                <div ng-repeat="h in taskData.current_handler_users"><a ng-click="callPhone(h.phone)">{{h.name}}</a></div>
            </div>
            <div class="right-placeholder" ng-if="!taskData.current_handler_users.length">
                请选择消缺班组和人员
            </div>
            <button type="button" data-options='{}' class="btn mui-btn mui-btn-block" ng-click="toggleHandlerSelector()" style="position: absolute;top: 0;left: 115px;bottom: 0;">&nbsp;</button>
            <div class="error" style="font-size: 11px;" ng-if="currentHandlerError">请指定消缺人员</div>
        </div>
        <div class="mui-input-row" ng-if="needResign">
            <label class="label">复测人员</label>
            <div class="right-text" ng-if="taskData.recheck_users.length">
                <div ng-repeat="h in taskData.recheck_users"><a ng-click="callPhone(h.phone)">{{h.name}}</a></div>
            </div>
            <div class="right-placeholder" ng-if="!taskData.recheck_users.length">
                不指定复测人员则无复测流程
            </div>
            <button type="button" data-options='{}' class="btn mui-btn mui-btn-block" ng-click="toggleRecheckSelector()" style="position: absolute;top: 0;left: 115px;bottom: 0;">&nbsp;</button>
            <!--<div class="error" style="color: #9c9c9c;font-size: 11px;" ng-if="!handlerName">不指定维修工则为抢单任务</div>-->
        </div>
        <div class="task-result">
            <div class="label" style="color: #333;font-size: 14px;margin: 8px 4px 4px 4px;font-weight: bold;">缺陷描述<span style="color:red">*</span></div>
            <div style="background-color: #F9F9F9;">
                <textarea rows="2" placeholder="请添加缺陷描述..." name="name" ng-model="taskData.name" required></textarea>
                <label class="error" ng-show="myForm.name.$invalid && (myForm.name.$dirty || myForm.$submitted)" style="margin-left: 16px;">
                    <span ng-show="myForm.name.$error.required">缺陷描述不能为空</span>
                </label>
            </div>
            <div class="mui-input-row" ng-if="needResign">
                <label class="label">语音描述</label>
                <div class="right-placeholder" ng-click="startRecordVoice()" ng-if="!taskData.voice_src" style="float: right;display: flex;align-items: center;cursor: pointer;">
                    <i class="icon icon-16 icon-voice-record"></i> 点击录音
                </div>
                <div class="right-placeholder" ng-click="clearVoice()" ng-if="taskData.voice_src">
                    <div class="voice-record">
                        <div class="voice" ng-style="{width: (taskData.voice_duration*2) + 'px'}">5"</div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <image-uploader images="images"></image-uploader>
        </div>
        <div class="mui-button-row">
            <button type="submit" class="mui-btn mui-btn-primary mui-btn-block"
                    style="background-color: rgba(88,107,243,0.88);border-color: rgba(88,107,243,0.88);height: 42px;">确认提交</button>
        </div>
    </form>

    <operator-team-selector teams="teams" visible="teamVisible" callback="onSelectedTeam"></operator-team-selector>
    <!--<handlers-selector users="teamUsers" multiple visible="handlerVisible" callback="onSelectedUsers"></handlers-selector>-->
    <team-and-handler-selector visible="handlerVisible" teams="teams" callback="onSelectedUsers" first-title="'请先选择负责消缺的班组'" second-title="'请选择消缺的人员'"></team-and-handler-selector>
    <team-and-handler-selector visible="recheckSelectorVisible" teams="teams" callback="onSelectedRecheckHandlers" first-title="'请先选择复测的班组'" second-title="'请选择复测人员'"></team-and-handler-selector>
    <div ng-include="'/templates/dts/dts-defect-conflict-devices-warning.html'" ng-if="warningModalVisible"></div>
</div>
