<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>历史事件</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <!-- build:css -->
    <ng-include src="'/templates/css-importer.html'"></ng-include>
    <!-- endbuild -->

    <!--<script type="text/javascript" src="../../cordova.js"></script>-->
    <!--<script type="text/javascript" src="../../cordova_plugins.js"></script>-->
    <!-- build:js -->
    <script type="text/javascript" src="/js/config.js"></script>
    <script type="text/javascript" src="../../components/libs/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../../components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="../../components/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="../../components/angular-ui-router/release/stateEvents.min.js"></script>
    <script type="text/javascript" src="../../js/app/utils.js"></script>
    <script type="text/javascript" src="../../js/app/app.js"></script>
    <script type="text/javascript" src="../../js/service/appstore.js"></script>
    <script type="text/javascript" src="../../js/controller/device.js"></script>
    <script type="text/javascript" src="../../js/service/common-service.js"></script>
    <script src="../../components/fastclick-master/lib/fastclick.js"></script>
    <script src="../../js/my/notify.js"></script>
    <script src="../../components/dropload-gh-pages/dist/dropload.min.js"></script>
    <script type="text/javascript" src="../../js/controller/sites.js"></script>
    <script type="text/javascript" src="../../js/controller/device.js"></script>
    <script src="../../js/controller/monitor.js"></script>
    <script src="../../js/controller/kanban.js"></script>
    <!-- endbuild -->
    <style>
        .mui-table-view-cell:after{
            right:15px;
        }
        .offline h4, .offline span{
            color: grey;
        }
        h4.mui-ellipsis{
            font-weight: normal;
        }
        /*.mui-table-view-cell{*/
            /*padding: 6px 15px 8px 15px;*/
        /*}*/
    </style>
</head>
<body class="box-vertical-center" ng-app="myApp" ng-controller="EventListCtrl">
    <header class="mui-bar bg-header">
        <a class="mui-icon  mui-icon-left-nav mui-pull-left text-white btn-back" onclick="pageBack()"></a>
        <h1 class="mui-title">历史事件</h1>
    </header>
    <div class="mui-content" ng-cloak>
        <div class="scroll-wrapper" id="events" ng-if="!loadingFailed">
            <div class="mui-scroll" ng-if="!eventLoading && !loadingFailed">
                <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed event-list no-border"
                    ng-if="events.length" style="margin-top:0px;padding: 0 8px;">
                    <li class="mui-table-view-cell no-border" ng-repeat="e in events" data-id="{{e.id}}" style="background-color: #fff;">
                        <div class="event-title" ng-class="{'status-cleared': e.status_name==='自动恢复', 'status-handled': e.status_name==='已确认'}">
                            {{e.report_time}}
                            <label class="mui-pull-right" style="color:#97969B;">{{e.device_name}}</label>
                        </div>
                        <div class="info">
                            {{e.info}}
                        </div>
                        <div class="mui-pull-right" style="text-align: right;">
                            <label class="status-name"
                               ng-click="goToCreateTaskHtml($event, e.id, e.info)" ng-if="!e.closed_time">{{e.status_name}}</label>
                            <div class="closed-time">恢复时间：{{e.closed_time}}</div>
                        </div>
                    </li>
                </ul>
                <div class="page-alert-wrapper" ng-if="!events.length && !eventLoading && !loadingFailed">
                    <div class="page-alert">
                        <i class="alert-icon nodata-info"></i>
                        <div class="alert-text info">当前无事件</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-alert-wrapper" ng-if="eventLoading">
            <div class="page-alert">
                <img src="../../img/page-loading.gif" class="loading-img">
                <div class="alert-text info">正在加载...</div>
            </div>
        </div>
        <div class="page-alert-wrapper" ng-if="loadingFailed">
            <div class="page-alert">
                <i class="alert-icon warning"></i>
                <div class="alert-text info">加载失败，请检查网络</div>
                <div class="alert-reload" ng-click="getDataList()">重新加载</div>
            </div>
        </div>
    </div>

</body>
</html>