<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>维修历史</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="../../components/mui/css/mui.min.css">
    <link rel="stylesheet" href="../../components/mui/css/icons-extra.css">
    <link rel="stylesheet" href="../../css/my.css">
    <link rel="stylesheet" href="../../css/task.css">
    <script type="text/javascript" src="../../components/libs/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../../components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="../../components/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="../../components/angular-ui-router/release/stateEvents.min.js"></script>
    <!--<script type="text/javascript" src="../../components/me-lazyimg-master/me-lazyimg.js"></script>-->
    <script type="text/javascript" src="../../js/app/utils.js"></script>
    <script type="text/javascript" src="../../js/app/app.js"></script>
    <script type="text/javascript" src="../../js/service/common-service.js"></script>
    <!--<script type="text/javascript" src="./js/router/router.js"></script>-->
    <script type="text/javascript" src="../../js/controller/device.js"></script>
    <script type="text/javascript" src="../../js/controller/task.js"></script>
    <script type="text/javascript" src="../../js/controller/sites.js"></script>
</head>

<body ng-app="myApp" ng-controller="DeviceTaskHistoryCtrl">    <!--主界面部分-->
<!--侧滑菜单部分-->
<div id="offCanvasWrapper" class="mui-off-canvas-wrap">
    <div class="mui-inner-wrap" >
        <div class="">
            <header class="mui-bar bg-header">
                <a class="mui-icon  mui-icon-left-nav mui-pull-left text-white btn-back" onclick="pageBack()"></a>
                <h1 class="mui-title" id="header_title">维修历史</h1>
            </header>
            <div id="task_history" class="body-content no-padding mui-control-content mui-active task-list">
                <div id="task_types" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted"
                     style="margin-left: 0;position: fixed;top:60px;background-color: #fff;box-shadow: 0 0 1px #ccc;">
                    <a class="mui-control-item" ng-click="changeTaskType('open')" ng-class="{'mui-active': showType=='open'}">未关闭({{openTaskCount}})</a>
                    <a class="mui-control-item" ng-click="changeTaskType('closed')" ng-class="{'mui-active': showType=='closed'}">
                        已完成({{closedTaskCount}})
                    </a>
                </div>
                <div class="scroll-wrapper" style="position: fixed;top: 96px;bottom: 0px;overflow-y: auto;" id="task_history_scroll">
                    <div class="mui-scroll1">
                        <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed task-list" ng-if="showTasks.length">
                            <li class="mui-table-view-cell mui-media task-item" ng-repeat="task in showTasks"
                                ng-click="openTask(task)" ng-class="{'closed': task.stage_id == TaskStatus.Closed}">
                                <div ng-if="task.task_type_id===3" class="triangle-topleft"><div class="label">修</div></div>
                                <img class="mui-media-object mui-pull-left task-icon" src="/img/task_type_{{task.task_type_id}}.png">
                                <div class="mui-media-body task-main">
                                    <h4 class="mui-ellipsis task-title" style="margin-top: 0">
                                        <strong class="task-type" ng-class="{'ergent': task.task_type_id===3}">{{task.task_type_name}}</strong>: {{ task.name }}
                                    </h4>
                                    <p>
                                        {{task.desp}}
                                    </p>
                                </div>
                                <div class="task-progress" ng-class="{'timeout': task.isTimeout}">
                                    <div class="task-status">{{task.stage}}</div>
                                    <div class="task-deadline">
                                        <i class="icon icon-xs icon-clock"></i>{{task.last_modified_time.substring(5,16)}}
                                    </div>
                                </div>
                                <div class="task-bottom" ng-if="task.station_name">
                                    <h5 class="info-list site" ng-if="task.station_name">
                                        <span class="mui-ellipsis" style="font-size: 14px;">
                                            <i class="mui-icon-extra footer-icon sites icon-xs mr8"></i>{{task.station_name}}
                                        </span>
                                    </h5>
                                </div>
                            </li>
                        </ul>
                        <div class="page-alert-wrapper" ng-if="isLoading">
                            <div class="page-alert">
                                <span class="mui-spinner"></span>
                                <div class="alert-text info">{{'loading' | translate}}...</div>
                            </div>
                        </div>
                        <div class="page-alert-wrapper" ng-if="showTasks.length==0 && !isLoading">
                            <div class="page-alert">
                                <i class="alert-icon nodata-info"></i>
                                <div class="alert-text info">无记录</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<script src="../../components/fastclick-master/lib/fastclick.js"></script>
<script src="../../js/my/notify.js"></script>
<script src="../../components/dropload-gh-pages/dist/dropload.min.js"></script>
</body>

</html>