<div class="mui-page" ng-controller="DeviceMonitorListCtrl" ng-cloak>
    <header class="mui-bar bg-header">
        <a class="mui-icon  mui-icon-left-nav mui-pull-left btn-back" onclick="history.back()"></a>
        <h1 class="mui-title">{{'device.monitor' | translate}}</h1>
    </header>
    <div class="body-content bg-white" ng-cloak style="padding-left: 8px;">
        <div class="scroll-wrapper" ng-if="!isLoading && !loadingFailed">
            <device-tree-view device-list="deviceDatas" click-callback="gotoDevice" show-status="true" ng-if="hasDevice"></device-tree-view>
            <div class="page-alert-wrapper" ng-if="!hasDevice">
                <div class="page-alert">
                    <div class="page-alert">
                        <i class="alert-icon nodata"></i>
                        <div class="alert-text info">站点未配置监控设备</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-alert-wrapper" ng-if="isLoading">
            <div class="page-alert">
                <img src="../../img/page-loading.gif" class="loading-img">
                <div class="alert-text info">{{'loading' | translate}}...</div>
            </div>
        </div>
        <div class="page-alert-wrapper" ng-if="loadingFailed">
            <div class="page-alert">
                <i class="alert-icon warning"></i>
                <div class="alert-text info">{{'tip.load.failed.network' | translate}}</div>
                <div class="alert-reload" ng-click="getDataList()">{{'reload' | translate}}</div>
            </div>
        </div>
    </div>
    <div ui-view=""></div>
</div>