
<div class="page page-left" ng-controller="SiteDocsCtrl">
<header class="mui-bar bg-header">
    <a class="mui-icon mui-icon-left-nav mui-pull-left text-white" onclick="pageBack()"></a>
    <h1 class="mui-title">电子档案</h1>
    <!--<a ng-click="openTaskCreatePage()" class="mui-action-menu mui-icon mui-pull-right" ><i class="header-icon white icon-add"></i></a>-->
</header>
<div class="mui-content" ng-cloak style="padding-left: 0;padding-right: 0;">
    <div style="height: 8px;"></div>
    <div ng-repeat="group in groups" ng-if="!docLoading && !loadingFailed">
        <div class="title" style="margin: 0px 15px; color: #6d6d72; font-size: 15px;">
            {{group.name}}
        </div>
        <div class="mui-card" style="margin: 6px 0;">
            <div class="mui-card-content">
                <ul class="mui-table-view">
                    <li class="mui-table-view-cell mui-media" ng-repeat="doc in group.docs" style="padding-right: 60px;">
                        <i class="mui-media-object mui-pull-left icon icon-md {{doc.icon}}" ng-if="!doc.isImage"></i>
                        <i class="mui-media-object mui-pull-left icon icon-md" style="background-image: url({{ host + doc.src_link}});" ng-if="doc.isImage"></i>
                        <div class="mui-media-body mui-ellipsis" ng-click="open(doc)">
                            {{doc.name}}
                            <p class="mui-ellipsis">{{doc.create_time}}<span class="mui-pull-right">{{doc.creator}}</span></p>
                        </div>
                        <!--<i class="mui-pull-right icon icon-ms icon-download"></i>-->
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="page-alert-wrapper" ng-if="docLoading">
        <div class="page-alert">
            <i class="alert-icon loading-spinner"></i>
            <div class="alert-text info">正在加载...</div>
        </div>
    </div>
    <div class="page-alert-wrapper" ng-if="!loadingFailed && !docLoading && !groups.length">
        <div class="page-alert">
            <div class="page-alert">
                <i class="alert-icon nodata"></i>
                <div class="alert-text info">当前无任何电子档案</div>
            </div>
        </div>
    </div>
    <div class="page-alert-wrapper" ng-if="loadingFailed">
        <div class="page-alert">
            <i class="alert-icon warning"></i>
            <div class="alert-text info">加载失败，请检查网络</div>
            <div class="alert-reload" ng-click="getDataList()">重新加载</div>
        </div>
    </div>
</div>
</div>