
<div ng-controller="EventListCtrl">
    <header class="mui-bar bg-header">
        <a class="mui-icon mui-icon-left-nav mui-pull-left text-white" onclick="pageBack()"></a>
        <h1 class="mui-title">所有事件</h1>
        <a class="mui-action-menu mui-icon mui-pull-right" style="font-size: 14px;line-height: 28px;color: #fff;margin-right: 6px;"
           ng-click="openEventHistory()">历史事件</a>
    </header>
    <div class="mui-content" ng-cloak>
        <div class="scroll-wrapper" id="events" ng-if="!loadingFailed">
            <div class="mui-scroll" ng-if="!eventLoading && !loadingFailed">
                <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed event-list no-border"
                    ng-if="events.length" style="margin-top:0px;padding: 0 8px;">
                    <li class="mui-table-view-cell" ng-repeat="e in events" data-id="{{e.id}}" style="background-color: #fff;">
                        <div class="event-title">
                            {{e.report_time}}
                            <label class="mui-pull-right" style="color:#97969B;">{{e.device_name}}</label>
                        </div>
                        <div class="info">
                            {{e.info}}
                        </div>
                        <div style="font-size: 13px;">
                            <a class="event-task" ng-click="goToCreateTaskHtml($event, e.id, e.info)">发布任务</a>
                            <a class="close" ng-click="postCheckEventAction($event, e.id)">确认</a>
                            <div style="clear: both"></div>
                        </div>
                    </li>
                </ul>
                <div class="page-alert-wrapper" ng-if="!events.length && !eventLoading && !loadingFailed">
                    <div class="page-alert">
                        <i class="alert-icon nodata-info"></i>
                        <div class="alert-text info">当前无事件</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-alert-wrapper" ng-if="eventLoading">
            <div class="page-alert">
                <i class="alert-icon loading-spinner"></i>
                <div class="alert-text info">正在加载...</div>
            </div>
        </div>
        <div class="page-alert-wrapper" ng-if="loadingFailed">
            <div class="page-alert">
                <i class="alert-icon warning"></i>
                <div class="alert-text info">加载失败，请检查网络</div>
                <div class="alert-reload" ng-click="getDataList()">重新加载</div>
            </div>
        </div>
    </div>
</div>