<div ng-controller="MonitorDetailCtrl" style="height: 100%; width: 100%; padding: 0; margin: 0; background-color: {{background || '#fff'}};" class="page page-left">
    <div style="position:relative;width: 100%;height: 100%;overflow: hidden;">
        <div id="targetObj" style="width: 100%;height: 100%;position:relative;transform-origin:center;"  >
            <div style="width: 100%;height: 100%;">
                <div style="width: 100%;height: 100%;">
                    <iframe id="iframe" style="border: 0; width: 100%; height: 100%; position: fixed; top: 0; left: 0;"></iframe>
                </div>
            </div>
        </div>
        <div style="position: fixed;right: 6px;top: 6px;width: 36px;height: 36px;padding: 6px;" ng-click="back()" ng-if="!clickedBack">
            <div style="background-color: rgba(232, 232, 232, 0.65);opacity: 0.7;width: 24px;height: 24px;">
                <img src="/img/light/64X64/close.png" style="width: 16px;height: 16px;margin: 4px 0 0 4px;display: inline-block;">
            </div>
        </div>
        <div style="position: fixed;right: 6px;top: 6px;width: 36px;height: 36px;padding: 6px;" ng-if="clickedBack">
            <div style="background-color: rgba(232, 232, 232, 0.65);opacity: 0.7;width: 24px;height: 24px;">
                <img src="/img/light/64X64/close.png" style="width: 16px;height: 16px;margin: 4px 0 0 4px;display: inline-block;">
            </div>
        </div>
    </div>
</div>