<div class="mui-page" ng-controller="SiteReportsCtrl" ng-cloak>
    <header class="mui-bar bg-header">
        <a class="mui-icon  mui-icon-left-nav mui-pull-left btn-back" onclick="history.back()"></a>
        <h1 class="mui-title">{{'menu.station.report' | translate}}</h1>
    </header>
    <div class="body-content" id="reports" ng-if="!loadingFailed" ng-cloak>
        <ul class="mui-table-view margin-table-view" style="margin-top: 0;background: none;">
            <li class="mui-table-view-cell" ng-repeat="r in reports">
                <a class="text-primary" ng-click="openReport(r.name, r.output_src_link)" style="white-space: normal;">
                    {{r.name}}
                    <h5 style="margin: 6px 0 0 0;position: relative;" class="ng-binding">{{'create time' | myTranslate}}：{{r.output_created.substring(0,11)}}
                    </h5>
                    <div class="icon-report-download" ng-click="download($event, r.output_src_link)">
                        <i class="iconfont anticon-download"></i>
                    </div>
                </a>
            </li>
        </ul>
        <div class="page-alert-wrapper" ng-if="!loadingFailed && reports.length==0 && !isLoading">
            <div class="page-alert">
                <i class="alert-icon nodata"></i>
                <div class="alert-text info">当前无报告</div>
            </div>
        </div>
    </div>
    <div class="page-alert-wrapper" ng-if="isLoading">
        <div class="page-alert">
            <img src="../../img/page-loading.gif" class="loading-img">
            <div class="alert-text info">{{'loading' | translate}}...</div>
        </div>
    </div>
    <div class="page-alert-wrapper" ng-if="loadingFailed">
        <div class="page-alert">
            <i class="alert-icon warning"></i>
            <div class="alert-text info">{{'tip.load.failed.network' | translate}}</div>
            <div class="alert-reload" ng-click="getDataList()">{{'reload' | translate}}</div>
        </div>
    </div>
    <div id="zoomObj"></div>
    <div ui-view=""></div>
</div>