<div ng-controller="SiteListCtrl">
<div class="mui-scroll1" style="margin-top:6px;">
    <div class="card" ng-repeat="site in sites" ng-click="gotoSite(site.station.sn, site.station.name)" ng-if="sites.length">
        <div class="card-header">{{site.station.name}}</div>
        <div class="card-content">
            <div class="mui-media" style="display: -webkit-box;-webkit-box-align: center;">
                <img class="mui-media-object media-lg" src="../../img/site-default.png" style="display: block;">
                <div class="mui-media-body box-vertical-center" style="position: relative;-webkit-box-flex:1;">
                    <h5 class=" site-var" ng-if="site.important_realtime_datas.length">
                        <span style="display: block">
                            <span class="mui-ellipsis" style="display: inline-block;width:calc(100% - 90px);">{{site.important_realtime_datas[0].name}}</span>
                            <label>
                                <span class="value">{{site.important_realtime_datas[0].data}}</span>
                                <span class="unit">{{site.important_realtime_datas[0].unit && site.important_realtime_datas[0].unit}}</span>
                            </label>
                        </span>
                        <span style="display: block;margin-top: 6px;" ng-if="site.important_realtime_datas[1]">
                            <span class="mui-ellipsis" style="display: inline-block;width:calc(100% - 90px);">{{site.important_realtime_datas[1].name}}</span>
                            <label>
                                <span class="value">{{site.important_realtime_datas[1].data}}</span>
                                <span class="unit">{{site.important_realtime_datas[1] && site.important_realtime_datas[1].unit}}</span>
                            </label>
                        </span>
                        <span style="display: block;margin-top: 6px;" ng-if="site.important_realtime_datas[2]">
                            <span class="mui-ellipsis" style="display: inline-block;width:calc(100% - 90px);">{{site.important_realtime_datas[2].name}}</span>
                            <label>
                                <span class="value">{{site.important_realtime_datas[2].data}}</span>
                                <span class="unit">{{site.important_realtime_datas[2] && site.important_realtime_datas[2].unit}}</span>
                            </label>
                        </span>
                    </h5>
                    <h5 class="site-var" ng-if="!site.important_realtime_datas || site.important_realtime_datas.length === 0">
                        <span>无关键数据</span>
                    </h5>
                    <div style="position: absolute;right: 0;top: 50%;margin-top: -10px;font-size: 12px;">
                        <i class="icon icon-xs task-history"></i>{{site.unclosed_task_amount}}
                        <i class="icon icon-xs icon-events"></i>{{site.unclosed_envet_amount}}
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-status status-top-right">正常</div>
    </div>
    <div class="page-alert-wrapper" ng-if="sites.length==0 && !isLoading">
        <div class="page-alert">
            <i class="alert-icon nodata"></i>
            <div class="alert-text info">没有站点信息</div>
        </div>
    </div>
</div>

<div class="page-alert-wrapper" ng-if="isLoading">
    <div class="page-alert">
        <span class="mui-spinner"></span>
        <div class="alert-text info">正在加载...</div>
    </div>
</div>
</div>
<div ui-view="" class="page-left"></div>