
<div style="height: 100%;">
    <div class="site-header">
        <header class="mui-bar bg-header bg-transparent" style="box-shadow: none;position: static;">
            <a class=" mui-pull-left site-popover" ng-click="openSiteSelectPage()" ng-show="sites.length > 1" ng-if="!isSiteDetail">站点选择</a>
            <a class="mui-icon  mui-icon-left-nav mui-pull-left text-white" onclick="pageBack()" ng-if="isSiteDetail"></a>
            <h1 class="mui-title" style="font-size: 18px;left: 70px;right: 70px;">{{currentSite.name}}</h1>
            <a class="mui-pull-right" href="/templates/site/event-list.html?sn={{currentSite.sn}}" style="position: relative;margin-right: 8px;">
                <i class="icon white icon-events" style="width: 18px;height: 18px;">
                </i>
                <span class="mui-badge mui-badge-danger" ng-if="currentSite.unclosed_envet_amount"
                      style="position: absolute;font-size: 9px;top:-8px;left: 10px;font-weight: 300;">
                    {{currentSite.unclosed_envet_amount}}
                </span>
            </a>
        </header>
        <div class="site-img-wrapper">
            <div class="img-border">
                <img ng-src="{{currentSite.site_image}}" style="width: 100%;height: 100%;border-radius: 8px;">
            </div>
            <div class="status-line">
                <div class="status {{currentSite.status}}"><i class="site-status {{currentSite.status}}"></i> {{currentSite.status_name}}</div>
            </div>
        </div>
    </div>
    <div class="card round-card" style="padding: 4px 0 8px 0;">
        <ul class="mui-table-view mui-grid-view mui-grid-9 no-border entrance-list">
            <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3 no-padding no-border">
                <a href="/templates/site/kanban.html?sn={{currentSite.sn}}" style="padding: 6px 0 0 0;">
                    <span class="mui-icon icon icon-36 icon-kanban"></span>
                    <div class="mui-media-body">看板</div>
                </a>
            </li>
            <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3 no-padding no-border">
                <a href="/templates/site/monitor-list.html?sn={{currentSite.sn}}" style="padding: 6px 0 0 0;">
                    <span class="mui-icon icon icon-36 icon-monitor"></span>
                    <div class="mui-media-body">画面</div>
                </a>
            </li>
            <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3 no-padding no-border">
                <a href="/templates/site/device-monitor-list.html?sn={{currentSite.sn}}" style="padding: 6px 0 0 0;">
                    <span class="mui-icon icon icon-36 icon-device-monitor"></span>
                    <div class="mui-media-body">设备监测</div>
                </a>
            </li>
            <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3 no-padding no-border">
                <a href="/templates/site/static-devices/device-home.html?sn={{currentSite.sn}}&name={{currentSite.name}}" style="padding: 6px 0 0 0;">
                    <span class="mui-icon icon icon-36 icon-archives"></span>
                    <div class="mui-media-body">设备档案</div>
                </a>
            </li>
            <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3 no-padding no-border">
                <a href="/templates/site/docs.html?sn={{currentSite.sn}}" style="padding: 6px 0 0 0;">
                    <span class="mui-icon icon icon-36 icon-docs"></span>
                    <div class="mui-media-body">电子档案</div>
                </a>
            </li>
            <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3 no-padding no-border">
                <a href="/templates/site/reports.html?sn={{currentSite.sn}}&name={{currentSite.name}}" style="padding: 6px 0 0 0;">
                    <span class="mui-icon icon icon-36 icon-reports"></span>
                    <div class="mui-media-body">月度报告</div>
                </a>
            </li>
            <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3 no-padding no-border">
                <a href="/templates/evaluate/evaluate-history.html?sn={{currentSite.sn}}&name={{currentSite.name}}" style="padding: 6px 0 0 0;">
                    <span class="mui-icon icon icon-36 icon-security"></span>
                    <div class="mui-media-body">安全评测</div>
                </a>
            </li>
            <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3 no-padding no-border">
                <a href="/templates/maintenance-check/check-history.html?sn={{currentSite.sn}}&name={{currentSite.name}}" style="padding: 6px 0 0 0;">
                    <span class="mui-icon icon icon-36 icon-poweroff"></span>
                    <div class="mui-media-body">停电维护</div>
                </a>
            </li>
        </ul>
    </div>
    <div class="card round-card">
        <div class="card-header" style="margin: 0 -4px; border-bottom: rgb(239,238,238) 1px solid;">
            站点信息
        </div>
        <div class="card-content">

            <ul class="mui-table-view no-border info-group" style="font-size: 14px;margin-top:0px;">
                <li class="mui-table-view-cell">
                    <label class="title">站点地址</label>
                    <span class="value" ng-click="openMap()" ng-if="currentSite.longitude">
                        {{currentSite.address}}
                        <i class="icon icon-location" style="width: 18px; height: 18px; float: right"></i>
                    </span>
                    <span class="value" ng-if="!currentSite.longitude">
                        {{currentSite.address}}
                    </span>
                </li>
                <li class="mui-table-view-cell">
                    <label class="title">联系电话</label>
                    <span class="value">{{currentSite.fix_line_telephone}}</span>
                </li>
                <li class="mui-table-view-cell">
                    <label class="title">额定1容量</label>
                    <span class="value">{{currentSite.capacity}}KVA</span>
                </li>
                <li class="mui-table-view-cell">
                    <label class="title">供电类型</label>
                    <span class="value">{{currentSite.power_supply_type}}</span>
                </li>
                <li class="mui-table-view-cell">
                    <label class="title">电压等级</label>
                    <span class="value">{{currentSite.voltage_class}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="page-alert-wrapper" ng-if="isLoading">
    <div class="page-alert">
        <img src="../../img/page-loading.gif" class="loading-img">
        <div class="alert-text info">正在加载...</div>
    </div>
</div>
<!-- 站点选择对话框 -->
<div class="popover-mask" ng-if="popup_visible" ng-click="closePopover()"></div>
<div class="mui-popover dark-popover mui-active" ng-if="popup_visible"
     style="display: block; top: 57px; left: 16px;width: calc(100% - 32px);background-color: #323234;padding-bottom: 8px;">
    <div class="mui-popover-arrow" style="left:10px"></div>
    <div class="site-search-comp">
        <div class="search-wrapper">
            <i class="icon icon-search"></i>
            <input placeholder="支持名称和站点编号搜索" oninput="angular.element(this).scope().searchInputChange(this)">
        </div>
    </div>
    <ul class="mui-table-view">
        <li class="mui-table-view-cell" ng-repeat="site in searchSiteResult" ng-click="chooseSite(site)">
            <i class="site-status {{site.status}}"></i>{{site.name}}
            <label ng-if="site.unclosed_envet_amount" class="site-event">{{site.unclosed_envet_amount}}</label>
        </li>
    </ul>
</div>