<div ng-controller="SiteListCtrl">
<div class="mui-scroll1" style="margin-top:6px;">
    <div class="card" ng-repeat="site in sites" ng-click="gotoSite(site.station.sn, site.station.name)" ng-if="sites.length">
        <div class="card-header">{{site.station.name}}</div>
        <div class="card-content">
            <div class="mui-media" style="display: -webkit-box;-webkit-box-align: center;">
                <img class="mui-media-object media-lg" style="width: 100px; height: 75px;" ng-src="{{site.site_image}}" style="display: block;">
                <div class="mui-media-body box-vertical-center" style="position: relative;-webkit-box-flex:1;padding-left: 14px">
                    <div><span>额定负载</span><span style="padding-left: 14px; color: rgb(153, 153, 153)">100KW</span></div>
                    <div style="padding-top: 5px">
                        <span style="padding-left: 0px; color: rgb(153, 153, 153); font-size: 14px;"><i class="icon icon-28 icon-history-1" ></i><span style="padding-left: 8px;">{{site.unclosed_task_amount}}</span></span>
                        <span style="padding-left: 20px; color: rgb(153, 153, 153); font-size: 14px;"><i class="icon icon-28 icon-events-1"></i><span style="padding-left: 8px;">{{site.unclosed_envet_amount}}</span></span>
                    </div>
                    <div style="padding-top: 5px"><span style="color: rgb(153, 153, 153); font-size: 14px;">{{site.station.address}}</span></div>
                </div>
            </div>
        </div>
        <div class="bg-status status-top-right">正常</div>
    </div>
    <div class="page-alert-wrapper" ng-if="sites.length==0 && !isLoading">
        <div class="page-alert">
            <i class="alert-icon nodata"></i>
            <div class="alert-text info">没有站点信息</div>
        </div>
    </div>
</div>

<div class="page-alert-wrapper" ng-if="isLoading">
    <div class="page-alert">
        <span class="mui-spinner"></span>
        <div class="alert-text info">正在加载...</div>
    </div>
</div>
</div>
<div ui-view="" class="page-left"></div>