<div ng-controller="SiteListCtrl" style="height: 100%;">
    <div style="height: 100%;">
        <div class="site-header">
            <header class="mui-bar bg-header bg-transparent" style="box-shadow: none;position: static;">
                <a class=" mui-pull-left" ng-click="showPopover()" ng-show="sites.length > 1">站点切换</a>
                <h1 class="mui-title" style="font-size: 18px;left: 70px;right: 70px;">{{currentSite.station.name}}</h1>
                <a class="mui-pull-right" href="/templates/site/event-list.html?sn={{currentSite.station.sn}}">
                    <i class="icon white icon-events" style="width: 18px;height: 18px;">
                        <i class="mark" ng-if="currentSite.unclosed_envet_amount"></i>
                    </i>
                </a>
            </header>
            <div class="site-img-wrapper">
                <div class="img-border">
                    <img src="../../img/site-default.png" style="width: 100%;height: 100%;border-radius: 8px;">
                </div>
                <div class="status-line">
                    <div class="status {{currentSite.status}}"><i class="site-status {{currentSite.status}}"></i> {{currentSite.status_name}}</div>
                </div>
            </div>
        </div>
        <div class="card round-card" >
            <ul class="mui-table-view mui-grid-view mui-grid-9 no-border">
                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3 no-padding no-border">
                    <a href="/templates/site/monitor-list.html?sn={{currentSite.station.sn}}" style="padding: 6px 0 0 0;">
                        <span class="mui-icon icon icon-36 icon-monitor"></span>
                        <div class="mui-media-body no-margin">画面</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3 no-padding no-border">
                    <a href="/templates/site/docs.html?sn={{currentSite.station.sn}}" style="padding: 6px 0 0 0;">
                        <span class="mui-icon icon icon-36 icon-docs"></span>
                        <div class="mui-media-body no-margin">电子档案</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3 no-padding no-border">
                    <a href="/templates/evaluate/evaluate-history.html?sn={{currentSite.station.sn}}&name={{currentSite.station.name}}" style="padding: 6px 0 0 0;">
                        <span class="mui-icon icon icon-36 icon-security"></span>
                        <div class="mui-media-body no-margin">安全评测</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3 no-padding no-border">
                    <a href="/templates/site/reports.html?sn={{currentSite.station.sn}}&name={{currentSite.station.name}}" style="padding: 6px 0 0 0;">
                        <span class="mui-icon icon icon-36 icon-reports"></span>
                        <div class="mui-media-body no-margin">月度报告</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="layout-center">
            <div class="card round-card" style="width: 45%;-webkit-box-flex: 1;">
                <a href="/templates/site/kanban.html?sn={{currentSite.station.sn}}">
                    <div class="card-title big-card-title">站点看板</div>
                    <div class="card-content">
                        <img src="/img/site-kanban-big-icon@2x.png" style="width: 70%; float: right;margin: 4px -12px -6px 0;">
                    </div>
                </a>
            </div>
            <div class="card round-card" style="width: 45%;-webkit-box-flex: 1;margin-left: 0;">
                <a href="/templates/site/kanban.html?sn={{currentSite.station.sn}}">

                    <div class="card-title big-card-title">设备监测</div>
                    <div class="card-content" href="/templates/site/device-monitor-list.html?sn={{currentSite.station.sn}}">
                        <img src="/img/device-monitor-big-icon@2x.png" style="width: 70%; float: right;margin: 4px -12px -6px 0;">
                    </div>
                </a>
            </div>
            <div style="clear: both"></div>
        </div>
        <div class="card round-card">
            <div class="card-header" style="margin: 0 -4px; border-bottom: rgb(239,238,238) 1px solid; color: rgb(253,96,10);">
                站点信息
            </div>
            <div class="card-content">

                <ul class="mui-table-view no-border info-group" style="font-size: 14px;margin-top:0px;">
                    <li class="mui-table-view-cell">
                        <label class="title">站点地址</label>
                        <span class="value">{{currentSite.station.address}}</span>
                    </li>
                    <li class="mui-table-view-cell">
                        <label class="title">额定容量</label>
                        <span class="value">{{currentSite.station.capacity}}KVA</span>
                    </li>
                    <li class="mui-table-view-cell">
                        <label class="title">供电类型</label>
                        <span class="value">{{currentSite.station.power_supply_type}}</span>
                    </li>
                    <li class="mui-table-view-cell">
                        <label class="title">电压等级</label>
                        <span class="value">{{currentSite.station.voltage_class}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <!--<div class="page-alert-wrapper" ng-if="sites.length==0 && !isLoading">-->
            <!--<div class="page-alert">-->
                <!--<i class="alert-icon nodata"></i>-->
                <!--<div class="alert-text info">没有站点信息</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>

    <div class="page-alert-wrapper" ng-if="isLoading">
        <div class="page-alert">
            <span class="mui-spinner"></span>
            <div class="alert-text info">正在加载...</div>
        </div>
    </div>
    <!-- 站点选择对话框 -->
    <div class="popover-mask" ng-if="popup_visible" ng-click="closePopover()"></div>
    <div class="mui-popover dark-popover mui-active" ng-if="popup_visible"
         style="display: block; top: 57px; left: 16px;width: auto;min-width: 200px;">
        <div class="mui-popover-arrow" style="left:10px"></div>
        <ul class="mui-table-view">
            <li class="mui-table-view-cell" ng-repeat="site in sites" ng-click="chooseSite(site)">
                <i class="site-status {{site.status}}"></i>{{site.station.name}}
                <label ng-if="site.unclosed_envet_amount" class="site-event">{{site.unclosed_envet_amount}}</label>
            </li>
        </ul>
    </div>
</div>
<div ui-view="" class="page-left"></div>