<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>任务详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!--build:css -->
    <link rel="stylesheet" href="/css/all.css">
    <!-- endbuild -->
    <style>
        html,
        body {
            height: 100%;
            overflow: hidden;
        }
        .mui-bar {
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body{
            height: 18px;
        }
        strong{
            height: 18px;
            display: inline-block;
        }
        .mui-bar-tab{
            box-shadow: none;
            background-color: transparent;
        }
        .mui-bar-tab>a{
            padding: 8px;
        }
        .mui-bar-tab>a>button{
            margin-bottom: 6px !important;
        }
        .device-list{
            margin-left: 88px;
        }
        .device-list .device{
            display: block;
        }
        .info-group>li{
            line-height: 24px;
        }
        .info-group .title {
            width: auto;
        }
        .info-group .value {
            margin-left: 0;
        }
    </style>

    <!--  build:lib -->
    <script type="text/javascript" src="/lib/jquery-3.5.0.min.js"></script>
    <script type="text/javascript" src="/components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/components/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="/components/angular-ui-router/release/stateEvents.min.js"></script>
    <script type="text/javascript" src="/lib/angular-translate.min.js"></script>
    <script src="/components/fastclick-master/lib/fastclick.js"></script>
    <script src="/components/moment.min.js"></script>
    <script src="/components/echart/echarts.min-3.x.js"></script>
    <script src="/components/mui/js/mui.min.js"></script>
    <script src="/components/mui/js/mui.picker.min.js"></script>
    <script src="/components/mui/js/mui.poppicker.js"></script>
    <script src="/components/slides-playing/js/jquery.slides.js"></script>
    <script src="/components/dropload-gh-pages/dist/dropload.min.js"></script>
    <script type="text/javascript" src="/lib/datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/lib/datatables/dataTables.fixedColumns.min.js"></script>
    <script type="text/javascript" src="/lib/datatables/dataTables.fixedHeader.min.js"></script>
    <!-- endbuild -->
</head>

<body class="mui-android mui-android-5 mui-android-5-1 mui-android-5-1-1 mui-segmented-control-vertical" ng-app="myApp" ng-controller="TaskBaseCtrl" ng-cloak>
<div ng-controller="DeviceDtsListCtrl" id="taskListWrapper">
<header class="mui-bar bg-header">
    <a class="mui-icon  mui-icon-left-nav mui-pull-left btn-back" onclick="pageBack()"></a>
    <h1 class="mui-title">{{'menu.ops.defect' | translate}}</h1>
    <a ng-click="openDtsCreatePage()" class="mui-action-menu mui-icon mui-pull-right" ng-if="hasOpsAuth"><i class="iconfont anticon-plus"></i></a>
</header>
<div id="taskList" style="top:61px;" class="scroll-wrapper">
    <div class="mui-scroll1" ng-if="!isLoading && !loadingFailed">
        <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed task-list no-out-border no-border" ng-if="tasks.length">
            <li class="mui-table-view-cell mui-media task-item" ng-repeat="task in tasks"
                ng-click="openTask(task)" ng-class="{'closed': task.stage_id == TaskStatus.Closed}">
                <div class="main-body">
                    <div class="mui-media-body task-main">
                        <h4 class="mui-ellipsis task-title" style="margin-top: 0">
                            <i class="task-icon iconfont anticon-task-{{task.iconClass}}"></i>
                            <span class="task-type" ng-class="{'ergent': task.task_type_id===3}">{{task.task_type_name}}</span>
                        </h4>
                    </div>
                    <div class="sub-body task-infos">
                        <p class="task-name">
                            {{task.name}}
                        </p>
                        <div ng-if="!task.finish_time">
                            <span class="task-info-label">{{task.riplan_create_time ? ('start time' | myTranslate) : ('create time' | myTranslate)}}：</span>
                            <span class="task-info-value" ng-if="!task.isToStart">{{task.create_time}}</span>
                            <span class="task-info-value" ng-if="task.isToStart">{{task.create_time}}</span>
                        </div>
                        <div ng-if="task.stage_id !== TaskStatus.Closed">
                            <span class="task-info-label">{{'task.person.current' | translate}}：</span>
                            <span class="task-info-value">{{task.current_handler_name}}</span>
                        </div>
                        <div ng-if="task.finish_time">
                            <span class="task-info-label">{{'task.time.finished' | translate}}：</span>
                            <span class="task-info-value" ng-class="{'timeout': task.isTimeout}">{{task.finish_time}}</span>
                        </div>
                    </div>
                    <div class="task-status">
                        <span ng-if="!task.isMyself">{{task.stage_name}}</span>
                        <span ng-if="task.isMyself">{{task.stage_name}}</span>
                    </div>
                </li>
            </ul>
            <div class="page-alert-wrapper" ng-if="tasks.length==0 && !isLoading && !loadingFailed">
                <div class="page-alert">
                    <i class="alert-icon no-task"></i>
                    <div class="alert-text info">{{'none menu.ops.defect' | myTranslate}}</div>
                </div>
            </div>
        </div>
        <div class="page-alert-wrapper" ng-if="isLoading">
            <div class="page-alert">
                <img src="../../../img/page-loading.gif" class="loading-img">
                <div class="alert-text info">{{'loading' | translate}}...</div>
            </div>
        </div>
        <div class="page-alert-wrapper" ng-if="loadingFailed">
            <div class="page-alert">
                <i class="alert-icon warning"></i>
                <div class="alert-text info">{{'tip.load.failed.network' | translate}}</div>
                <div class="alert-reload" ng-click="getDataList()">{{'reload' | translate}}</div>
            </div>
        </div>
    </div>
    </div>

    <!-- build:js -->
    <script type="text/javascript" src="/config/config.js"></script>
    <script src="/js/echartsTheme.js"></script>
    <script src="/js/my/notify.js"></script>
    <script type="text/javascript" src="/js/app/utils.js"></script>
    <script type="text/javascript" src="/js/app/app.js"></script>
    <script type="text/javascript" src="/js/service/appstore.js"></script>
    <script type="text/javascript" src="/js/service/common-service.js"></script>
    <script type="text/javascript" src="/js/router/router.js"></script>
    <script type="text/javascript" src="/js/controller/login.js"></script>
    <script type="text/javascript" src="/js/controller/task.js"></script>
    <script type="text/javascript" src="/js/controller/sites.js"></script>
    <script src="/js/controller/user-energy.js"></script>
    <script src="/js/controller/setting.js"></script>
    <script type="text/javascript" src="/js/service/varData.js"></script>
    <script type="text/javascript" src="/js/controller/kanban.js"></script>
    <script type="text/javascript" src="/js/controller/monitor.js"></script>
    <script type="text/javascript" src="/js/controller/device.js"></script>
    <script type="text/javascript" src="/js/controller/ipc.js"></script>
    <script type="text/javascript" src="/js/controller/site-monitor.js"></script>
    <script type="text/javascript" src="/js/controller/site/security_evaluate.js"></script>
    <script type="text/javascript" src="/js/controller/site/maintenance-checks.js"></script>
    <script type="text/javascript" src="/js/controller/energy.js"></script>
    <script type="text/javascript" src="/js/controller/static-devices.js"></script>
    <script type="text/javascript" src="/js/controller/dts.js"></script>
    <!-- endbuild -->
</body>

</html>