<div class="page page-fade" ng-controller="StaticDeviceEditCtrl" id="staticDeviceEditPage">
    <header class="mui-bar bg-header" style="box-shadow: none;">
        <a class="mui-icon" onclick="history.back()" style="font-size: 16px;margin-top: 6px;margin-left: 6px;">{{'cancel' | translate}}</a>
        <h1 class="mui-title">{{'device edit' | myTranslate}}</h1>
        <a class="mui-action-menu mui-icon mui-pull-right" style="font-size: 16px;line-height: 28px;margin-right: 6px;" ng-click="save()">{{'save' | translate}}</a>
    </header>
    <div class="body-content" ng-cloak style="padding-bottom: 60px;top: 60px;">
        <div style="height: 80px">
            <image-uploader images="deviceImages" single="true" class="center"></image-uploader>
        </div>
        <div class="is-edit" style="padding: 4px 30px 0px 12px;font-size: 14px;margin: 4px 0 -6px;">
            <label style="padding: 4px 6px;font-size: 12px;width: calc(100% - 120px);display: inline-block;">
                {{'staticdevice.param.click.tip' | translate}}
            </label>
            <a class="add-property-btn" style="margin-top: 4px;" ng-click="onClickAddProperty(device.properties)">{{'add property' | myTranslate}}</a>
        </div>
        <div ng-if="device.properties">
            <div class="info-group properties-group is-edit">
                <li ng-click="onClickEditDevice('设备名称', 'name')">
                    <label class="title">{{'设备名称' | myTranslate}}</label>
                    <span class="value">{{device.name}}</span>
                </li>
                <li ng-click="onClickEditDevice('设备类型', 'product_type')">
                    <label class="title">{{'设备类型' | translate}}</label>
                    <span class="value">{{device.product_type}}</span>
                </li>
                <li ng-click="onClickEditDevice('设备型号', 'product_model_number')">
                    <label class="title">{{'设备型号' | translate}}</label>
                    <span class="value">{{device.product_model_number}}</span>
                </li>
                <li ng-click="onClickEditDevice('设备编号', 'device_number')">
                    <label class="title">{{'设备编号' | translate}}</label>
                    <span class="value">{{device.device_number}}</span>
                </li>
                <li ng-click="onClickEditDevice('安装位置', 'position_desp')">
                    <label class="title">{{'安装位置' | translate}}</label>
                    <span class="value">{{device.position_desp}}</span>
                </li>
                <li ng-click="onClickEditDevice('安装日期', 'initial_time')">
                    <label class="title">{{'安装日期' | translate}}</label>
                    <span class="value">{{device.initial_time ? device.initial_time.substring(0, 10) : ''}}</span>
                </li>
                <li ng-click="onClickEditDevice('投运日期', 'operation_time')">
                    <label class="title">{{'投运日期' | translate}}</label>
                    <span class="value">{{device.operation_time ? device.operation_time.substring(0, 10) : ''}}</span>
                </li>
                <li ng-click="onClickEditDevice('生产厂家', 'provider_name')">
                    <label class="title">{{'生产厂家' | translate}}</label>
                    <span class="value">{{device.provider_name}}</span>
                </li>
                <li ng-click="onClickEditDevice('巡检周期', 'inspection_cycle')">
                    <label class="title">{{'巡检周期' | translate}}</label>
                    <span class="value">{{device.inspection_cycle}} {{'days' | translate}}</span>
                </li>
                <li ng-click="onClickEditDevice('保养周期', 'maintenance_cycle')">
                    <label class="title">{{'保养周期' | translate}}</label>
                    <span class="value">{{device.maintenance_cycle}} {{'days' | translate}}</span>
                </li>
                <li ng-click="onClickEditDevice('额定容量', 'capacity')">
                    <label class="title">{{'额定容量' | translate}}</label>
                    <span class="value">{{device.capacity}} kVA</span>
                </li>
                <li ng-repeat="p in device.properties" ng-click="onClickEditProperty(device.properties, $index)">
                    <label class="title">{{p.name}}</label>
                    <span class="value">{{p.value}}{{p.unit}}</span>
                    <a class="iconfont anticon-minus-circle color-danger" ng-click="onClickDeleteProperty($event, device.properties, $index)"></a>
                </li>
            </div>
        </div>
        <div class="card no-padding sub-device-card" ng-repeat="item in device.items" style="margin-top: 24px;">
            <div class="card-header device-detail-title is-edit">
                <label ng-click="onClickEditItem(device.items, $index)">
                    {{item.name}}
                    <a class="iconfont anticon-minus-circle color-danger" ng-click="onClickDeleteItem($event, device.items, $index)"></a>
                </label>
                <a class="add-property-btn" ng-click="onClickAddProperty(item.properties)">{{'add property' | myTranslate}}</a>
            </div>
            <div class="card-content" style="padding-top: 0; margin-top: 8px;">
                <div class="info-group properties-group is-edit" ng-if="item.properties && item.properties.length">
                    <li ng-repeat="p in item.properties" ng-click="onClickEditProperty(item.properties, $index)">
                        <label class="title">{{p.name}}</label>
                        <span class="value">{{p.value}}{{p.unit}}</span>
                        <a class="iconfont anticon-minus-circle color-danger" ng-click="onClickDeleteProperty($event, item.properties, $index)"></a>
                    </li>
                </div>
                <div class="card" ng-repeat="sub in item.contains">
                    <div class="card-header">{{sub.name}}</div>
                    <div class="card-content">
                        <ul  class="mui-table-view font-14 info-group">
                            <li class="mui-table-view-cell" ng-repeat="c in sub.config">{{c.name}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 36px; padding: 0 12px;">
            <button class="mui-btn mui-btn-primary mui-btn-block add-item-btn" ng-click="onClickAddItem(device.items)">{{'add staticdevice.param.component' | myTranslate}}</button>
        </div>
    </div>
</div>