<div class="page page-left" ng-controller="StaticDeviceDetailCtrl" style="background-color: #fff;">
    <header class="mui-bar bg-header" style="height: 120px;box-shadow: none;">
        <a class="mui-icon  mui-icon-left-nav mui-pull-left text-white btn-back" onclick="history.back()"></a>
        <h1 class="mui-title">{{device.name}}</h1>

    </header>
    <ul class="vertical-tabs" style="position: absolute; top: 50px;height: 70px;width: 100%;">
        <li class="tab" ng-click="gotoOpsList()">
            <span class="value">{{opsTaskCount}}</span>
            <span class="name">{{'staticdevice.count.ops' | translate}}</span>
        </li>
        <li class="tab" ng-click="gotoDtsList('doing')">
            <span class="value">{{unhandledDtsCount}}</span>
            <span class="name">{{'staticdevice.count.defects.unresolved' | translate}}</span>
        </li>
        <li class="tab" ng-click="gotoDtsList('finish')">
            <span class="value">{{closedDtsCount}}</span>
            <span class="name">{{'staticdevice.count.defects.resolved' | translate}}</span>
        </li>
    </ul>
    <div class="body-content" ng-include="'/templates/site/static-devices/device-info-detail.html'" style="top: 120px;background-color: #fff;">
    </div>
    <div class="device-edit-btn" ng-click="startDeviceEditor()" ng-if="canEdit">
        <i class="icon icon-24 icon-edit"></i>
    </div>
</div>