<div ng-cloak style="background-color: #fff;padding-bottom: 40px;padding-top: 10px;height: 100%;">
    <a ng-if="device.showMap" style="padding: 0 0 8px 10px; font-size: 14px;" href="javascript:void(0);" ng-click="openDeviceMap()">
        <i class="icon icon-16 icon-location"></i> 查看位置
    </a>
    <div class="device-img-wrapper">
        <ul class="container">
            <li class="img device-img"
                style="background-image: url({{device.device_photo_src_link}});background-position: center;background-repeat: no-repeat; background-size: contain;">
                <i class="icon icon-no-picture icon-36" ng-if="!device.device_photo_src_link"></i>
                <div style="color: #999; font-size: 13px;margin-top: -4px;" ng-if="!device.device_photo_src_link">{{'tip.nopicture' | translate}}</div>
            </li>
            <li class="img qr"
                style="background-image: url({{device.qr_photo_src_link}});background-position: center;background-repeat: no-repeat; background-size: cover;">
                <i class="icon icon-no-qr icon-36" ng-if="!device.qr_photo_src_link"></i>
                <div style="color: #999; font-size: 13px;margin-top: -4px;" ng-if="!device.qr_photo_src_link">{{'staticdevice.noqr' | translate}}</div>
            </li>
        </ul>
    </div>
    <div class="info-group properties-group">
        <li>
            <label class="title">{{'设备类型' | translate}}</label>
            <span class="value">{{device.product_type}}</span>
        </li>
        <li>
            <label class="title">{{'设备型号' | translate}}</label>
            <span class="value">{{device.product_model_number}}</span>
        </li>
        <li>
            <label class="title">{{'设备编号' | translate}}</label>
            <span class="value">{{device.device_number}}</span>
        </li>
        <li>
            <label class="title">{{'安装地址' | translate}}</label>
            <span class="value">{{device.position_desp}}</span>
        </li>
        <li>
            <label class="title">{{'安装日期' | translate}}</label>
            <span class="value">{{device.initial_time ? device.initial_time.substring(0, 10) : ''}}</span>
        </li>
        <li>
            <label class="title">{{'投运日期' | translate}}</label>
            <span class="value">{{device.operation_time ? device.operation_time.substring(0, 10) : ''}}</span>
        </li>
        <li>
            <label class="title">{{'生产厂家' | translate}}</label>
            <span class="value">{{device.provider_name}}</span>
        </li>
        <li>
            <label class="title">{{'巡检周期' | translate}}</label>
            <span class="value">{{device.inspection_cycle}} {{'days' | translate}}</span>
        </li>
        <li>
            <label class="title">{{'保养周期' | translate}}</label>
            <span class="value">{{device.maintenance_cycle}} {{'days' | translate}}</span>
        </li>
        <li>
            <label class="title">{{'额定容量' | translate}}</label>
            <span class="value">{{device.capacity}} kVA</span>
        </li>
        <li ng-repeat="p in device.properties" ng-if="device.properties">
            <label class="title">{{p.name}}</label>
            <span class="value">{{p.value}}{{p.unit}}</span>
        </li>
    </div>
    <div class="card no-padding sub-device-card" ng-repeat="item in device.items">
        <div class="card-header device-detail-title">{{item.name}}</div>
        <div class="card-content">
            <div class="info-group properties-group">
                <li ng-repeat="p in item.properties">
                    <label class="title">{{p.name}}</label>
                    <span class="value">{{p.value}}{{p.unit}}</span>
                </li>
            </div>
            <div class="card" ng-repeat="sub in item.contains">
                <div class="card-header">{{sub.name}}</div>
                <div class="card-content">
                    <ul  class="mui-table-view font-14 info-group">
                        <li class="mui-table-view-cell" ng-repeat="c in sub.config">{{c.name}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>