<div class="page page-fade" ng-controller="StaticDeviceEditCtrl">
    <header class="mui-bar bg-header" style="box-shadow: none;background: #fff;">
        <a class="mui-icon text-white" onclick="history.back()" style="color: #9a9a9a;font-size: 16px;margin-top: 6px;margin-left: 6px;">取消</a>
        <h1 class="mui-title" style="color: #444;">设备编辑</h1>
        <a class="mui-action-menu mui-icon mui-pull-right" style="font-size: 16px;line-height: 28px;color: #222;margin-right: 6px;" ng-click="save()">保存</a>
    </header>
    <div class="mui-content" ng-cloak style="background-color: #fff;padding-bottom: 60px;top: 60px;">
        <div class="device-img-wrapper">
            <ul class="container">
                <li class="img device-img" ng-click="chooseDeviceImage()"
                    style="background-image: url({{deviceImage}});background-position: center;background-repeat: no-repeat; background-size: contain;">
                    <i class="icon icon-camera-blue icon-36" ng-if="!deviceImage"></i>
                    <div style="color: #0091E0; font-size: 13px;margin-top: -4px;" ng-if="!deviceImage">设备图片</div>
                    <div ng-if="deviceImage" style="background-color: #0091E0;color: #fff;border-radius: 14px;font-size: 12px;padding: 4px 10px;font-weight: 400;">更新图片</div>
                    <div class="image-uploader" style="position: absolute; top: 0; width: 100%; height: 100%;">
                        <input class="add-btn" type="file" accept="image/*" name="upload" ng-model="chosenFile" onchange="angular.element(this).scope().chooseImage(this.files)" ng-if="!useMobileGallery">
                        <input class="add-btn" name="upload" ng-model="chosenFile" ng-click="openMobileGallery()" ng-if="useMobileGallery">
                    </div>
                </li>
                <!--<li class="img qr" ng-click="chooseDeviceQr()">-->
                    <!--<i class="icon icon-camera-blue icon-36"></i>-->
                    <!--<div style="color: #0091E0; font-size: 13px;margin-top: -4px;">二维码</div>-->
                <!--</li>-->
            </ul>
        </div>
        <div class="is-edit" style="padding: 4px 30px 0px 12px;font-size: 14px;margin: 4px 0 -6px;">
            <label style="background-color: #E0FCED;padding: 4px 6px;color: #989898;font-size: 12px;width: calc(100% - 80px);display: inline-block;">
                点击对应属性进行编辑
            </label>
            <a class="add-property-btn" style="margin-top: 4px;" ng-click="onClickAddProperty(device.properties)">添加属性</a>
        </div>
        <div ng-if="device.properties">
            <div class="info-group properties-group is-edit">
                <li ng-click="onClickEditDevice('设备名称', 'name')">
                    <label class="title">设备名称</label>
                    <span class="value">{{device.name}}</span>
                </li>
                <li ng-repeat="p in device.properties" ng-click="onClickEditProperty(device.properties, $index)">
                    <label class="title">{{p.name}}</label>
                    <span class="value">{{p.value}}{{p.unit}}</span>
                    <a class="icon icon-delete" ng-click="onClickDeleteProperty($event, device.properties, $index)"></a>
                </li>
            </div>
        </div>
        <div class="card no-padding sub-device-card" ng-repeat="item in device.items">
            <div class="card-header device-detail-title is-edit">
                <label ng-click="onClickEditItem(device.items, $index)">
                    {{item.name}}
                    <a class="icon icon-delete" ng-click="onClickDeleteItem($event, device.items, $index)"></a>
                </label>
                <a class="add-property-btn" ng-click="onClickAddProperty(item.properties)">添加属性</a>
            </div>
            <div class="card-content">
                <div class="info-group properties-group is-edit" ng-if="item.properties && item.properties.length">
                    <li ng-repeat="p in item.properties" ng-click="onClickEditProperty(item.properties, $index)">
                        <label class="title">{{p.name}}</label>
                        <span class="value">{{p.value}}{{p.unit}}</span>
                        <a class="icon icon-delete" ng-click="onClickDeleteProperty($event, item.properties, $index)"></a>
                    </li>
                </div>
                <div class="card" ng-repeat="sub in item.contains">
                    <div class="card-header">{{sub.name}}</div>
                    <div class="card-content">
                        <ul  class="mui-table-view font-14 info-group">
                            <li class="mui-table-view-cell" ng-repeat="c in sub.config">{{c.name}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 10px">
            <button class="mui-btn mui-btn-primary mui-btn-outlined add-item-btn" ng-click="onClickAddItem(device.items)">添加新部件</button>
        </div>
    </div>
</div>