<div class="page page-left" ng-controller="StaticDeviceDetailCtrl" style="background-color: #fff;">
    <header class="mui-bar bg-header" style="height: 84px;box-shadow: none;">
        <a class="mui-icon  mui-icon-left-nav mui-pull-left text-white" onclick="history.back()"></a>
        <h1 class="mui-title">{{device.name}}</h1>
        <div class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted sd-tabs">
            <a class="mui-control-item" ng-click="changeTabType('$event', 'info')" ng-class="{'active': showTab=='info'}">
                <div class="tab-name">设备信息</div>
            </a>
            <a class="mui-control-item" ng-click="changeTabType($event, 'ops')" ng-class="{'active': showTab=='ops'}">
                <div class="tab-name">运维记录</div>
            </a>
            <a class="mui-control-item" ng-click="changeTabType($event, 'dts')" ng-class="{'active': showTab=='dts'}">
                <div class="tab-name last">缺陷记录</div>
            </a>
        </div>
    </header>
    <div class="mui-control-content" ng-class="{'mui-active': showTab === 'info'}" ng-include="'/templates/site/static-devices/device-info-detail.html'">
    </div>
    <div class="mui-control-content" ng-class="{'mui-active': showTab === 'ops'}" ng-include="'/templates/site/static-devices/device-ops-history.html'">
    </div>
    <div class="mui-control-content" ng-class="{'mui-active': showTab === 'dts'}" ng-include="'/templates/site/static-devices/device-dts-history.html'">
    </div>
</div>