<div ng-controller="StaticDeviceSubListCtrl" class="page page-left">
    <header class="mui-bar mui-bar-nav bg-header">
        <a class="mui-icon mui-action-back mui-icon-left-nav mui-pull-left text-white" onclick="pageBack()"></a>
        <h1 class="mui-title">{{deviceData.name}}</h1>
    </header>
    <div class="mui-content" ng-cloak>
        <ul class="mui-table-view" style="font-size: 14px;">
            <li class="mui-table-view-cell" ng-repeat="device in deviceData.types">
                <a class="mui-navigate-right" href="#" ng-click="openPage(device)">
                    {{device.name}}
                </a>
            </li>
        </ul>
    </div>
</div>