<div style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden;"
     ng-controller="SiteTreeCtrl" class="page page-down">
    <header class="mui-bar bg-header mui-segmented-control-vertical bg-transparent" style="padding-left: 14px;padding-left: 14px;box-shadow: none;">
        <a class="mui-icon mui-pull-left" ng-click="cancel()" style="font-size: 16px;top:6px;">取消</a>
        <h1 class="mui-title" style="font-weight: bold;font-size: 18px;left: 60px;right:60px;">监测点选择</h1>
    </header>
    <div class="device-select-body bg-white" style="position: fixed;bottom: 0;top: 60px;width: 100%;">
        <div class="site-tree" >
            <ul class="tree-group device-tree-selector">
                <li class="tree-cell" ng-repeat="item in treeData"
                    ng-class="{'active': item.$$isExpend, 'collapse': !isLeaf(item), 'is-leaf': isLeaf(item)}"
                    ng-include="'/templates/energy/device-selector/tree-item.html'"
                    ng-if="!item.unvisible"
                ></li>
            </ul>
        </div>
    </div>
</div>