<div ng-controller="EnergyReportCtrl" class="mui-page energy-page" ng-cloak>
    <header class="mui-bar bg-header mui-segmented-control-vertical">
        <a class="mui-icon  mui-icon-left-nav mui-pull-left btn-back" onclick="history.back()"></a>
        <h1 class="mui-title">{{'menu.energy.dataline' | translate}}</h1>
    </header>
    <div class="body-content">
        <div ng-if="!isLoading && currentLabel">
            <ul class="selector-group" id="tabs" style="background-color: transparent;padding: 0 10px;">
                <drop-down-menu options="timeTypeList" on-select="onSelect" model-name="'timeType'" selected="timeType"
                                style="padding: 4px 20px 4px 0;height: 28px;width: 50%;"></drop-down-menu>
                <li class="selector-tab" style="padding: 4px 20px 4px 0;height: 28px;width: 50%;margin-left: 16px;">
                    <label>{{dateName}}</label>
                    <button style="position: absolute;top:0;width: 100%;height: 100%;left: 0;background-color: transparent;border: none;"
                            id="datePicker"></button>
                </li>
            </ul>
            <div class="card data-table" style="padding: 0;" id="tableParent" energy-report-table-repeat-finish>
                <table class="stripe row-border order-column dataTable no-footer" style="border-bottom: none;" id="energyReportTable">
                    <thead>
                        <tr>
                            <th ng-repeat="item in tableHeader" energy-report-table-repeat-finish>
                                {{item}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in tableBodyData track by $index">
                            <td ng-repeat="col in item track by $index">
                                {{col}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="data-loading" ng-if="isDataLoading"></div>
        </div>
        <div class="page-alert-wrapper" ng-if="!isLoading && !selectedItems.length">
            <div class="page-alert">
                <i class="alert-icon no-task"></i>
                <div class="alert-text info">{{currentLabel ? ('atleastone' | myTranslate) + ' ' + currentLabel.name : ('tip.thereisno report' | myTranslate)}}</div>
            </div>
        </div>
        <div class="page-alert-wrapper" ng-if="isLoading">
            <div class="page-alert">
                <img src="../../img/page-loading.gif" class="loading-img">
                <div class="alert-text info">{{'loading' | translate}}...</div>
            </div>
        </div>
        <div class="page-alert-wrapper" ng-if="loadingFailed">
            <div class="page-alert">
                <i class="alert-icon warning"></i>
                <div class="alert-text info">{{'tip.load.failed.network' | translate}}</div>
                <div class="alert-reload" ng-click="getDataList()">{{'reload' | translate}}</div>
            </div>
        </div>
    </div>
</div>