<table class="stripe row-border order-column dataTable no-footer" style="border-bottom: none;" id="energyReportTable" ng-show="tableBodyData.length">
    <thead>
    <tr>
        <th ng-repeat="item in tableHeader track by $index" energy-report-table-repeat-finish>
            {{item}}
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in tableBodyData track by $index">
        <td ng-repeat="col in item track by $index">
            {{col}}
        </td>
    </tr>
    </tbody>
</table>