<div ng-controller="EnergyMeterReadingCtrl" class="mui-page energy-page" ng-cloak>
    <header class="mui-bar bg-header mui-segmented-control-vertical">
        <a class="mui-icon  mui-icon-left-nav mui-pull-left text-white btn-back" onclick="pageBack()"></a>
        <h1 class="mui-title">{{'menu.energy.meterreading' | translate}}</h1>
    </header>
    <div class="body-content">
        <div ng-if="!isLoading && categories.length">
            <ul class="selector-group" id="tabs" style="background-color: transparent;padding: 0 10px;">
                <li class="selector-tab" style="padding: 4px 20px 4px 0;height: 28px;">
                    <label>{{startDate.substring(0, 16)}}</label>
                    <button style="position: absolute;top:0;width: 100%;height: 100%;left: 0;background-color: transparent;border: none;height: 25px;"
                            id="startDatePicker"></button>
                </li>
                <li class="selector-tab" style="width: 0;padding: 4px;">{{'to2' | translate}}</li>
                <li class="selector-tab" style="padding: 4px 20px 4px 0;height: 28px;">
                    <label>{{endDate.substring(0, 16)}}</label>
                    <button style="position: absolute;top:0;width: 100%;height: 100%;left: 0;background-color: transparent;border: none;"
                            id="endDatePicker"></button>
                </li>
            </ul>
            <div class="card data-table" id="tableParent" style="padding: 0;" energy-meter-reading-table-repeat-finish="">
                <table class="stripe row-border order-column dataTable no-footer" style="border-bottom: none;" id="meterReadingTable" ng-show="tableBodyData.length">
                    <thead>
                    <th ng-repeat="item in tableHeader">
                        {{item}}
                    </th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in tableBodyData track by $index">
                        <td ng-repeat="col in item track by $index" energy-meter-reading-table-repeat-finish>
                            {{col}}
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="page-alert-wrapper" ng-if="!selectedItems.length">
                    <div class="page-alert">
                        <i class="alert-icon no-task"></i>
                        <div class="alert-text info">{{'atleastone' | translate}} {{currentLabel.name}}</div>
                    </div>
                </div>
            </div>
            <div class="data-loading" ng-if="isDataLoading"></div>
        </div>
        <div class="page-alert-wrapper" ng-if="!isLoading && !categories.length">
            <div class="page-alert">
                <i class="alert-icon no-task"></i>
                <div class="alert-text info">{{'energy.meterreading.nosetting' | translate}}</div>
            </div>
        </div>
        <div class="page-alert-wrapper" ng-if="isLoading">
            <div class="page-alert">
                <img src="../../img/page-loading.gif" class="loading-img">
                <div class="alert-text info">{{'loading' | translate}}...</div>
            </div>
        </div>
        <div class="page-alert-wrapper" ng-if="loadingFailed">
            <div class="page-alert">
                <i class="alert-icon warning"></i>
                <div class="alert-text info">{{'tip.load.failed.network' | translate}}</div>
                <div class="alert-reload" ng-click="getDataList()">{{'reload' | translate}}</div>
            </div>
        </div>
    </div>
</div>