<div ng-controller="EnergyBaseCtrl" class="energy-page page page-left">
    <header class="mui-bar bg-header mui-segmented-control-vertical">
        <a class="mui-icon  mui-icon-left-nav mui-pull-left btn-back" onclick="history.back()"></a>
        <h1 class="mui-title">用电概况</h1>
    </header>
    <div class="body-content energy-page-body" style="background-color: transparent;">
        <div class="head-select-tabs no-border">
            <div class="item" ng-click="openDeviceSelector()">
                <label class="title">监测点</label>
                <label class="value">{{currentDevice.name}}</label>
            </div>
            <div class="item" id="datePicker">
                <label class="title">用电周期</label>
                <label class="value">{{showDateName}}</label>
            </div>
        </div>
        <div ng-controller="EnergyOverviewCtrl">
            <div style="display: flex;width: 100%;padding-top: 12px;" class="sides-values energy-header-bg">
                <div class="value-tab">
                    <label class="top">当月用电量</label>
                    <label class="value">{{statisticsObj.allDegree}}<span class="unit">kWh</span></label>
                </div>
                <div class="value-tab">
                    <label class="top">当月总电费</label>
                    <label class="value">{{statisticsObj.allCharge}}<span class="unit">元</span></label>
                </div>
            </div>
            <div style="padding: 20px 0 10px 16px;" class="energy-header-bg">
                <label class="energy-value-title">{{isCurrentMonth ? '平均电度电价' : '平均电价'}}</label>
                <label class="energy-value">{{isCurrentMonth ? statisticsObj.avgDegreePrice : statisticsObj.avgPrice}}</label>
                <label class="energy-value-title">元</label>
                <label class="energy-value-separate"></label>
                <label class="energy-value-title">电度电费</label>
                <label class="energy-value">{{statisticsObj.degreeCharge}}</label>
                <label class="energy-value-title">元</label>
            </div>
            <div class="bg-white" style="padding-bottom: 12px;">
                <div style="padding: 10px 0;">
                    <div class="light-value-tabs">
                        <div class="value-tab">
                            <label class="top">功率因数</label>
                            <label class="value">{{statisticsObj.cos || '-'}}</label>
                        </div>
                        <div class="value-tab">
                            <label class="top">最大需量</label>
                            <label class="value">{{statisticsObj.maxDemand || '-'}}</label>
                        </div>
                    </div>
                    <div class="light-value-tabs border-top">
                        <div class="value-tab">
                            <label class="top">平均负荷率</label>
                            <label class="value">{{statisticsObj.avgLoad}}</label>
                        </div>
                        <div class="value-tab">
                            <label class="top">最高负荷率</label>
                            <label class="value">{{statisticsObj.maxLoad}}</label>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="chart-title">电度电费</div>
                    <div id="charge_chart" style="height: 150px;"></div>
                </div>
                <div class="card">
                    <div class="chart-title">平均电度电价</div>
                    <div id="price_chart" style="height: 130px;"></div>
                </div>
                <div class="card" style="margin-bottom: 0;">
                    <div class="chart-title">日负荷率曲线</div>
                    <div id="load_chart" style="height: 130px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>