<li class="selector-tab" ng-class="{active: active}">
    <label ng-click="toggle()">{{isEnglish ? '' : labelName}}{{'select' | translate}}</label>
    <div class="dropdown" style="position: fixed; top: 96px;bottom: 0;border: none;">
        <div class="site-tree" style="padding-bottom: 0px;position: absolute;top: 0;bottom: 60px;width: 100%;overflow-y: auto;border-bottom: none;" ng-if="datas.length">
            <ul class="tree-group checkbox-tree" ng-if="datas.length">
                <li class="tree-cell" ng-repeat="item in datas"
                    ng-class="{'active': item.$$isExpend, 'collapse': !isLeaf(item), 'is-leaf': isLeaf(item)}"
                    ng-include="'/templates/energy/tree-item.html'"
                    ng-if="!item.unvisible"
                ></li>
            </ul>
        </div>
        <div ng-if="!datas.length"  ng-click="toggle()">{{'energy.noitem' | translate}}</div>
        <div style="position: absolute; bottom: 0;width: 100%;height: 48px;line-height: 48px;padding: 0;margin: 0;">
            <a class="cancel-btn" style="height: 100%;float: left; width: 50%;text-align: center;" ng-click="onCancel()">{{'cancel' | translate}}</a>
            <a ng-click="toggle()"
               style="height: 100%;float: left; width: 50%;text-align: center;background: linear-gradient(to bottom left, #4063DF, #6C93F2);color: #fff;">
                {{'confirm' | translate}}
            </a>
        </div>
    </div>
    <div style="position: fixed;background-color: transparent;width: 100%;height: 100%;top:60px;z-index: 1;left: 0;" ng-if="active" ng-click="toggle()"></div>
</li>