<a href="javascript:;"
   ng-class="{'is_leaf': item.isLeaf}">
    <label class="mui-checkbox mui-left checkbox-square" ng-click="onCheckItem($event, item)" disabled="item.isVirtual">
        <span class="checkbox" ng-class="{'checked': item.checked}"></span>
    </label>
    <i class="node-group" ng-if="!item.isLeaf" ng-class="{'virtual': item.isVirtual}"></i>
    <span ng-click="onCheckAllChildren($event, item);">{{item.name}}</span>
    <i class="navigate" ng-click="onToggleExpand($event, item)" ng-if="!item.isLeaf"></i>
</a>
<ul class="tree-group" ng-if="!item.isLeaf && item.children.length && !item.unvisible">
    <li class="tree-cell" ng-repeat="item in item.children"
        ng-class="{'active': item.$$isExpend, 'collapse': !isLeaf(item), 'is-leaf': isLeaf(item)}"
        ng-include="'templates/energy/tree-item.html'"
        ng-if="!item.unvisible"
    >
    </li>
</ul>