.energy-home {
    background: url(../img/site-title-bg@2x.png) no-repeat top left;
    background-size: cover;
    overflow: hidden;
}
.energy-page {
    background: url(../img/energy-page-bg.png) no-repeat top left;
    background-size: cover;
}
.energy-page>header {
    background: none;
    box-shadow: none;
}
.energy-header {
    background: none;
}
.site-header .mui-title {
    font-size: 18px;
    left: 70px;
    right: 70px;
    text-align: center;
}
.site-header .mui-title>label {
    position: relative;
}
.site-header .mui-title>label:after {
    position: absolute;
    content: '\a604';
    font-family: "iconfont" !important;
    display: inline-block;
    margin-left: 10px;
    color: #fff;
    top: -10px;
    right: -20px;
    font-size: 10px;
}
.value-tab {
    text-align: center;
    color: #fff;
    flex: 1px;
    position: relative;
}
.value-tab .top {
    font-size: 12px;
    margin-bottom: 20px;
    color: #C8DAFF;
    display: block;
}
.value-tab .value {
    font-size: 30px;
    display: block;
}
.value-tab .value .unit {
    font-size: 14px;
    margin-left: 4px;
}
.value-tab .bottom {
    margin-top: 2px;
    font-size: 12px;
    display: block;
    font-weight: 200;
}
.value-mask {
    background-color: rgba(0, 0, 0, 0.1);
}
.h-values {
    display: flex;
}
.h-values .item {
    flex: 1;
    text-align: center;
    color: #fff;
}
.h-values .item .name {
    font-size: 12px;
    color: #C8DAFF;
}
.h-values .item .value {
    font-size: 14px;
    margin-left: 8px;
}
.h-values .item .unit {
    font-size: 12px;
    font-weight: 100;
}
.head-select-tabs {
    display: -webkit-box;
    background-color: rgba(255, 255, 255, 0.4);
}
.head-select-tabs>.item {
    -webkit-box-flex: 1;
    text-align: center;
    padding: 10px;
    position: relative;
}
.head-select-tabs>.item>.title {
    font-size: 12px;
    color: #333333;
    display: block;
}
.head-select-tabs>.item>.value {
    font-size: 14px;
    color: #333;
    font-weight: 700;
}
.head-select-tabs>.item:before {
    content: '';
    display: block;
    background-color: #D2E3FF;
    width: 1px;
    top: 17px;
    bottom: 17px;
    left: 0;
}
.head-select-tabs>.item:first-child:before {
    display: none;
}
.head-select-tabs>.item:after {
    content: '\e70a';
    font-family: "iconfont" !important;
    display: block;
    position: absolute;
    right: 23px;
    top: 50%;
    margin-top: -11px;
    font-size: 10px;
    color: #666;
}
.sides-values {
    display: -webkit-box;
    -webkit-box-pack: justify;
    padding: 12px 15px 0 15px;
}
.sides-values>.value-tab>.value {
    font-size: 24px;
}
.sides-values>.value-tab:first-child {
    text-align: left;
}
.sides-values>.value-tab>.top {
    margin-bottom: 12px;
}
.sides-values>.value-tab:last-child {
    text-align: right;
}
.energy-value-title {
    color: #B0D3EF;
    font-size: 12px;
}
.energy-value {
    color: #fff;
    font-size: 14px;
    margin-left: 4px;
}
.energy-value-unit {
    color: #B0D3EF;
    font-size: 12px;
}
.energy-value-separate {
    width: 1px;
    height: 12px;
    display: inline-block;
    margin: 0 6px;
    background-color: #85A7FD;
}
.light-value-tabs {
    display: flex;
    padding: 8px;
}
.light-value-tabs>.value-tab>.top {
    color: #333;
    font-size: 12px;
    margin-bottom: 0;
}
.light-value-tabs>.value-tab:before {
    display: inline-block;
    content: '';
    width: 1px;
    background-color: #F5F7F8;
    position: absolute;
    top: 11px;
    bottom: 11px;
    left: 0;
}
.light-value-tabs>.value-tab>.value {
    color: #808080;
    font-size: 14px;
    display: block;
}
.light-value-tabs.border-top {
    border-top: #E7EAED 1px solid;
}
.chart-title {
    background-color: #F6FAFD;
    font-size: 14px;
    padding: 4px;
    color: #333;
    text-align: center;
}
.energy-rate {
    position: relative;
    padding-left: 8px;
    font-weight: 500;
}
.energy-rate.up {
    color: #BA1930;
}
.energy-rate.down {
    color: #4cd964;
}
.energy-rate.up:before {
    content: '\a615';
    font-family: "iconfont" !important;
    display: inline-block;
    color: #BA1930;
    font-size: 12px;
}
.energy-rate.down:before {
    content: '\a614';
    font-family: "iconfont" !important;
    display: inline-block;
    color: #4cd964;
    font-size: 12px;
}
.pfv-texts {
    padding: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
}
.pfv-texts>.item {
    font-size: 12px;
    margin-bottom: 4px;
}
.pfv-texts>.item:last-child {
    margin-bottom: 0;
}
.pfv-texts>.item>.value {
    width: 90px;
    display: inline-block;
}
.device-selector-line {
    background: #fff;
    padding: 9px;
    text-align: center;
    color: #666;
    font-size: 14px;
}
.device-selector-line>label {
    position: relative;
}
.device-selector-line>label:after {
    position: absolute;
    content: '\a604';
    font-family: "iconfont" !important;
    right: -20px;
    display: block;
    color: #666;
    font-size: 8px;
    top: 50%;
    margin-top: -10px;
}
.energy-realtime-values {
    padding: 10px;
    display: flex;
}
.energy-realtime-values>.item {
    flex: 1;
    margin-right: 4px;
    padding: 10px 0;
    text-align: center;
    background-color: #ECF0F9;
    position: relative;
}
.energy-realtime-values>.item.warning:after {
    display: block;
    position: absolute;
    content: '\e6be';
    font-family: "iconfont" !important;
    top: 0;
    right: 4px;
    font-size: 12px;
    color: #EC4B62;
}
.energy-realtime-values>.item .title {
    color: #596CAD;
    font-size: 12px;
}
.energy-realtime-values>.item .unit {
    color: #596CAD;
    font-size: 10px;
}
.energy-realtime-values>.item .value {
    color: #596CAD;
    font-size: 13px;
    display: block;
    margin-top: -2px;
}
.energy-realtime-values>.item:last-child {
    margin-right: 0;
}
.monitor-table {
    font-size: 13px;
    width: calc(100% - 12px);
    margin-left: 6px;
}
.monitor-table th, .monitor-table td {
    border: #fff 2px solid;
}
.monitor-table th {
    color: #333;
    font-weight: bold;
    background-color: #E5E5E5;
    padding: 10px 0;
    text-align: center;
}
.monitor-table td {
    background-color: #F4F4F4;
    color: #666666;
    font-size: 12px;
    padding: 10px 0;
    text-align: center;
}
.monitor-table td.title {
    font-size: 13px;
    color: #333;
}
.monitor-table td.warning {
    position: relative;
}
.monitor-table td.warning:after {
    display: block;
    position: absolute;
    content: '\e6be';
    font-family: "iconfont" !important;
    top: 0;
    right: 4px;
    font-size: 12px;
    color: #EC4B62;
}
.report-card {
    margin: 8px 0;
    padding: 10px 15px;
    background-color: #fff;
}
.report-card .header {
    margin-bottom: 8px;
}
.report-card .header .title {
    color: #333;
    font-size: 15px;
}
.report-card .report-list>.report-item {
    background-color: #F2F4F5;
    display: -webkit-box;
    -webkit-box-align: center;
    padding: 8px;
    -webkit-box-pack: justify;
    margin-top: 2px;
}
.report-item>.title{
    color: #333;
    font-size: 13px;
    width: 75px;
}
.report-item>.group {
    text-align: center;

}
.report-item>.group .value {
    color: #1A2664;
    font-size: 14px;
    font-weight: 500;
}
.report-item>.group .title {
    color: #666;
    font-size: 12px;
    display: block;
}
.report-item>.conclusion {
    border-radius: 12px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding: 2px 8px;
    min-width: 52px;
}
.conclusion.pass {
    background: linear-gradient(to left bottom, #538EFF 0%,#72A2FF 100%);
}
.conclusion.fail {
    background: linear-gradient(to left bottom, #FF4C52 0%,#FF6065 100%);
}
.report-item.nodata {
    font-size: 14px;
    color: #777;
    padding-left: 18px;
}
.report-item.nodata:before {
    display: inline-block;
    content: '\e6be';
    font-family: "iconfont" !important;
    font-size: 12px;
    color: #f0ad4e;
}