.site-header .mui-title {
    font-size: 18px;
    left: 70px;
    right: 70px;
    text-align: center;
}
.site-header .mui-title>label {
    position: relative;
}
.site-header .mui-title>label:after {
    position: absolute;
    content: '\a604';
    font-family: "iconfont" !important;
    display: inline-block;
    margin-left: 10px;
    color: #fff;
    top: -10px;
    right: -20px;
    font-size: 10px;
}
