
.icon{
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.icon-xs{
    height: 14px;
    width: 14px;
}
.icon-ms{
    height: 24px;
    width: 24px;
}
.icon-md{
    height: 42px;
    width: 42px;
}
.icon-28{
    height: 28px !important;;
    width: 28px !important;;
}
.icon-32{
    height: 32px !important;;
    width: 32px !important;;
}
.icon-36{
    height: 36px !important;;
    width: 36px !important;;
}
.icon-24{
    height: 24px !important;;
    width: 24px !important;;
}
.icon-16{
    height: 16px !important;;
    width: 16px !important;;
}
.icon-20{
    height: 20px !important;
    width: 20px !important;;
}
.icon-device-monitor{
    background-image: url("../img/dashboard/icon-device-monitor@2x.png");
}
.icon-events{
    background-image: url("../img/light/icon-events@2x.png");
    position: relative;
}
.icon-docs{
    background-image: url("../img/dashboard/icon-documents@2x.png");
}
.icon-history-line{
    background-image: url("../img/dashboard/icon-history-line.png");
}
.icon-history-report{
    background-image: url("../img/dashboard/icon-history-report.png");
}
.icon-energy-reading {
    background-image: url("../img/dashboard/icon-energy-reading.png");
}
.icon-energy-history {
    background-image: url("../img/dashboard/icon-energy-history.png");
}
.icon-energy-statistics {
    background-image: url("../img/dashboard/icon-energy-statistics.png");
}
.icon-app-store {
    background-image: url("../img/dashboard/icon-app-store.png");
}
.icon-more{
    background-image: url("../img/light/64X64/more.png");
}
.icon-scan{
    background-image: url("../img/dark/64X64/scan.png");
}
.white.icon-scan{
    background-image: url("../img/light/64X64/scan.png");
}
.icon-add{
    background-image: url("../img/dark/64X64/add.png");
}
.white.icon-add{
    background-image: url("../img/light/64X64/add.png");
}
.icon-txt{
    background-image: url("../img/dark/64X64/txt.png");
}
.icon-doc{
    background-image: url("../img/dark/64X64/doc.png");
}
.icon-pdf{
    background-image: url("../img/dark/64X64/pdf.png");
}
.icon-rar{
    background-image: url("../img/dark/64X64/rar.png");
}
.icon-unknown-file{
    background-image: url("../img/dark/64X64/unknown-file.png");
}
.icon-dwg{
    background-image: url("../img/dark/64X64/dwg.png");
}
.icon-csv{
    background-image: url("../img/dark/64X64/csv.png");
}
.icon-download{
    background-image: url("../img/icon/icon-report-download@2x.png");
}
.icon-kanban{
    background-image: url("../img/dashboard/icon-kanban@2x.png");
}
.icon-monitor-list{
    background-image: url("../img/icon/monitor-list@2x.png");
}
.icon-monitor{
    background-image: url("../img/dashboard/icon-monitor@2x.png");
}
.icon-clock{
    background-image: url("../img/icon/icon-clock@2x.png");
}
.icon-station{
    background-image: url("../img/icon/icon-station@2x.png");
}
.icon-device-grey{
    background-image: url("../img/icon/device-grey.png");
}
.icon-event-red{
    background-image: url("../img/icon/event-red.png");
}
.icon-site-blue{
    background-image: url("../img/icon/site-blue.png");
}
.icon-phone{
    background-image: url("../img/icon/phone.png");
}
.icon-location{
    background-image: url("../img/icon/location.png");
}
.icon-device-analog{
    background-image: url("../img/icon/icon-device-analog.png");
}
.icon-device-status{
    background-image: url("../img/icon/icon-device-status.png");
}
.icon-task-history{
    background-image: url("../img/icon/task-history.png");
}
.icon-device-info{
    background-image: url("../img/icon/icon-device-info.png");
}
.icon-device-install{
    background-image: url("../img/icon/icon-device-install.png");
}
.icon-card-event{
    background-image: url("../img/icon/icon-card-event.png");
}
.icon-navigate{
    background-image: url("../img/light/64X64/navigator.png");
}
.icon-warning{
    background-image: url("../img/icon/icon-warning.png");
}
.icon-all-right{
    background-image: url("../img/icon/icon-all-right.png");
}
.icon-circle-grey{
    background-image: url("../img/icon/icon-circle-grey.png");
}
.icon-security{
    background-image: url("../img/dashboard/icon-security@2x.png");
}
.icon-poweroff{
    background-image: url("../img/dashboard/icon-poweroff@2x.png");
}
.icon-checklist{
    background-image: url("../img/dark/64X64/074-checklist.png");
}
.icon-devices{
    background-image: url("../img/dark/64X64/icon-devices.png");
}
.icon-camera{
    background-image: url("../img/dark/64X64/icon-camera.png");
}
.icon-usb{
    background-image: url("../img/dark/64X64/icon-usb.png");
}
.icon-archives{
    background-image: url("../img/dashboard/icon-archives@2x.png");
}
.icon-reports{
    background-image: url("../img/dashboard/icon-report@2x.png");
}
.icon-events-1{
    background-image: url("../img/dark/64X64/event.png");
    display: inline-block;
    white-space:nowrap; 
    letter-spacing: -1em; 
    text-indent: -99em; 
    color: transparent;
    padding-top: 4px; 
}
.icon-events-1:before { 
    content: '\3000'; 
}

.icon-history-1{
    background-image: url("../img/dark/64X64/task.png");
    display: inline-block;
    white-space:nowrap; 
    letter-spacing: -1em; 
    text-indent: -99em; 
    color: transparent;
    padding-top: 4px; 
}
.icon-history-1:before { 
    content: '\3000'; 
}
.loading-spinner {
    background-image: url(../img/page-loading.gif);
    width: 28px !important;
    height: 28px !important;
}
.icon-delete {
    background-image: url("../img/dark/64X64/delete-circle-o.png");
}
.icon-search {
    background-image: url("../img/dark/32X32/search-grey.png");
}
.icon-qr-blank {
    background-image: url("../img/dark/64X64/no-qr.png");
}
.icon-image-blank {
    background-image: url("../img/dark/64X64/no-picture.png");
}
.icon-static-device {
    background-image: url("../img/static-device-icon.png");
}
.icon-xunjianstatus-normal {
    background-image: url("../img/xunjianstatus-normal@2x.png");
    width: 36px;
    height: 36px;
}
.icon-xunjianstatus-danger {
    background-image: url("../img/xunjianstatus-danger.png");
    width: 36px;
    height: 36px;
}
.icon-xunjianstatus-waiting {
    background-image: url("../img/xunjianstatus-waiting.png");
    width: 36px;
    height: 36px;
}
.icon-dashboard-dts{
    background-image: url("../img/dashboard/icon-dts@2x.png");
}
.icon-camera-blue {
    background-image: url(../img/dark/64X64/icon-camera-blue.png);
}
.icon-no-picture {
    background-image: url(../img/dark/64X64/no-picture.png);
}
.icon-no-qr {
    background-image: url(../img/dark/64X64/no-qr.png);
}