body {
  background: url("../../theme/img/dark/page-bg.png") 50% no-repeat;
  background-size: cover;
}
html,
body {
  font-family: SimHei, 'Helvetica Neue', Arial, 'Droid Sans', sans-serif;
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.main-icon {
  margin-top: 20%;
  width: 57%;
  margin-left: 21.5%;
}
.login-area {
  padding: 0;
  overflow: hidden;
  left: 0;
  width: 100%;
  bottom: 40px;
  margin-top: 12%;
}
.form-item {
  border-bottom: #5B9BAE 1px solid;
  padding: 2px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 44px;
  position: relative;
}
.form-item label {
  color: #FEFEFE;
  font-size: 16px;
  position: absolute;
  left: 0;
  line-height: 46px;
  /*top: 2px;*/
}
.form-item input {
  outline: none;
  border: none;
  padding-left: 84px;
  /*width: calc(100% - 115px);*/
  font-size: 18px;
  line-height: 46px;
  margin: 0;
  color: #FEFEFE;
  background-color: transparent;
}
.form-item .password-not-seen {
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url("../img/login/password-not-seen.png") no-repeat 50%;
  background-size: 100% 100%;
  position: absolute;
  right: 6px;
  top: 12px;
}
.form-item .password-can-seen {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url("../img/login/password-can-seen.png") no-repeat 50%;
  background-size: 100% 100%;
  position: absolute;
  right: 6px;
  top: 12px;
}
input::-webkit-input-placeholder {
  color: rgba(254, 254, 254, 0.75);
}
input::-moz-placeholder {
  color: rgba(254, 254, 254, 0.75);
}
.login-btn {
  background-color: #72ecc6;
  border-radius: 4px;
  margin: 20px 4% 0 4%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 18px;
  color: #FAFAFA;
}
.login-btn.enable {
  background-color: #1DDB9F;
}
.error {
  color: #FF6769;
  padding-left: 20px;
  margin-top: 10px;
}
@media screen and (max-height: 600px) {
  .main-icon {
    margin-top: 15%;
  }
  .login-area {
    margin-top: 10%;
  }
  .login-btn {
    margin-top: 30px;
    height: 40px;
    line-height: 40px;
  }
}
.login-checkbox {
  position: relative;
  color: #ddd;
  font-size: 14px;
}
.login-checkbox input[type=checkbox] {
  position: absolute;
  display: inline-block;
  outline: 0!important;
  background-color: transparent;
  -webkit-appearance: none;
  border: rgba(91, 155, 174, 0.3) 1px solid;
  border-radius: 4px;
  width: 16px;
  height: 16px;
  top: -2px;
  left: 0;
}
.login-checkbox label {
  display: inline-block;
  float: none;
  width: 100%;
  padding-left: 24px;
}
.login-checkbox input[type=checkbox]:checked {
  background-color: #1DDB9F;
  border-color: #1DDB9F;
}
.login-checkbox input[type=checkbox]:checked:before {
  content: '';
  position: absolute;
  display: block;
  width: 8px;
  height: 4px;
  border-left: rgba(91, 155, 174, 0.3) 2px solid;
  border-bottom: rgba(91, 155, 174, 0.3) 2px solid;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 2px;
  left: 2px;
}
input::-webkit-input-placeholder {
  font-size: 14px;
}
input::-moz-placeholder {
  font-size: 14px;
}
input:-ms-input-placeholder {
  font-size: 14px;
}
input::-ms-input-placeholder {
  font-size: 14px;
}
input::placeholder {
  font-size: 14px;
}
