html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #efeff4;
}
* {
    padding: 0;
    margin: 0;
}
.font-14{
    font-size: 14px;
}
.login-page {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ffffff;
}
.login-page .main-icon {
    margin-top: 31%;
    width: 57%;
    margin-left: 21.5%;
}
.login-page .middle {
    position: absolute;
    width: 100%;
    bottom: 25%;
    left: 0;
    text-align: center;
}
.login-page .sub-title {
    width: 72px;
    height: 19px;
    line-height: 19px;
    border-radius: 9px;
    border: rgba(77,129,239,0.5) 1px solid;
    text-align: center;
    font-size: 14px;
    color: rgb(127,186,255);
    display: inline-block;
}
.login-page .title {
    color: rgb(22,102,255);
    font-size: 28px;
    word-spacing: 2px;
    margin-top: 12px;
}
.login-page .bottom {
    position: absolute;
    width: 100%;
    bottom: 15%;
    left: 0;
    text-align: center;
    color: rgb(118,167,246);
    font-size: 18px;
}
.login-page .bottom-img {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.login-icon {
    margin-top: 20%;
    width: 57%;
    margin-left: 21.5%;
}
.login-area {
    padding: 0px;
    overflow: hidden;
    left: 0;
    width: 100%;
    bottom: 40px;
    margin-top: 15%;
}
.login-area .form-item {
    border-bottom: rgb(232,232,232) 1px solid;
    padding: 12px 0;
    box-sizing: border-box;
    margin: 0 44px;
    position: relative;
}
.login-area .form-item label {
    color: rgb(1,1,1);
    font-size: 18px;
    position: absolute;
    left: 0;
    top: 15px;
}
.login-area .form-item input {
    outline: none;
    border: none;
    margin: 0;
    width: 100%;
    font-size: 18px;
    padding: 0 0 0 84px;
    line-height: 22px;
    height: 24px;
}
.login-area input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: rgb(187,187,187);
}
.login-area input::-moz-placeholder {
    /* placeholder颜色  */
    color: rgb(187,187,187);
}
.login-btn {
    background-color: rgb(195,227,249);
    border-radius: 4px;
    margin: 42px 4% 0 4%;
    box-sizing: border-box;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}
.login-btn.enable {
    background-color: #108ee9;
}
@media screen and (max-height: 600px) {
    .login-icon {
        margin-top: 15%;
    }
    .login-area .login-area {
        margin-top: 10%;
    }
    .login-area .login-btn {
        margin-top: 30px;
        height: 40px;
        line-height: 40px;
    }
}
.page{
    height: 100%;
    z-index: 1;
}
.page-left.ng-enter {
    -webkit-animation: slideInRight 0.5s;
    -moz-animation: slideInRight 0.5s;
    -ms-animation: slideInRight 0.5s;
    animation: slideInRight 0.5s;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
}
.page-left.ng-leave {
    -webkit-animation: slideOutRight 0.5s;
    -moz-animation: slideOutRight 0.5s;
    -ms-animation: s
    lideOutRight 0.5s;
    animation: slideOutRight 0.5s;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
}
.page-fade.ng-enter {
    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -ms-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
}
.page-fade.ng-leave {
    -webkit-animation: fadeOut 0.5s;
    -moz-animation: fadeOut 0.5s;
    -ms-animation: fadeOut 0.5s;
    animation: fadeOut 0.5s;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
}
header.bg-header{
    background-image: url(../img/background/bg-header.png);
    background-size: cover;
}
header.mui-bar{
    z-index: 0;
}
header .mui-action-menu.add-task {
    line-height: 24px;
    color: #ffffff;
    font-size: 14px;
}
nav.bg-footer{
    background-color: #fff;
}
nav.bg-footer .mui-tab-item{
    color: #fff !important;
}
.mui-btn, button, input[type=button], input[type=reset], input[type=submit]{
    padding: 4px 12px;
}
.bg-white{
    background-color: #fff;
}
.head-img{
    width: 40px;
    height: 40px;
    bottom: 10px;
}
.view-page.ng-enter{
    transition: transform .5s;
    transform: translateX(100%);
}
.view-page.ng-enter.ng-enter-active{
    transform: translateX(0);
}
.view-page.ng-leave{
    transition: transform .5s;
}
.view-page.ng-leave.ng-leave-active{
    transform: translateX(-100%);
}
.bg-header h1{
    color: #fff;
}
.bg-header .mui-action-back{
    color: #fff;
}
.mui-bar-nav{
    background-color: #4791FC;
}
.mui-bar-nav a{
    color: #fff;
}
.mui-bar-nav h1{
    color: #fff;
}
.white-header{
    background-color: #fff;
    box-shadow: 0 0px 0px #ddd
}
.white-header h1{
    color: #000;
}
.bg-cell{
    position: relative;
    color: #fff !important;
}
.bg-cell .desp{
    position: absolute;
    left: 16px;
    color: #fff;
    font-size: 0.9em;
    top:6px;
}
.mui-table-view.mui-grid-view .mui-table-view-cell.bg-cell .mui-media-body{
    color: #fff;
    font-size: 1.4em;
    padding: 1em 0;
    height: auto !important;
}
.bg-1{
    background-color: #00BFA5 !important;
}
.bg-2{
    background-color: #4FC3F7 !important;
}
.bg-3{
    background-color: #CDDC39 !important;
}
.bg-4{
    background-color: #FFB74D !important;
}

.chart {
    height: 200px;
    margin: 0px;
    padding: 0px;
}
header.mui-bar{
    height: 60px;
    padding-top: 8px;
    top:0px;
}
.mui-content{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px !important;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 60px;
    bottom: 0px;
    width: 100%;
    background-color: #f5f5f5;
}
.unit{
    font-size: 14px;
}
.mui-table-view .mui-media-object.status-normal{
    height: 20px;
    margin-top: 8px;
}
.box-horizontal{
    display: -webkit-box;
}
.box-center{
    -webkit-box-pack: center;
}
.flex-1{
    -webkit-box-flex: 1;
    display: block;
}
.flex-2{
    -webkit-box-flex: 2;
    display: block;
}
.mui-btn-s{
    padding: 4px 12px;
}
.no-padding{
    padding: 0 !important;
}
.btn-md{
    padding: 2px 10px;
}
.mr8{
    margin-right: 8px;
}
.task-list ul{
    background-color: transparent;
}
.task-list ul>li{
    background-color: #fff;
    margin-bottom: 6px;
}
.task-list .mui-table-view-cell:after{
    display: none;
}
.mui-table-view.mui-grid-view.task-detail .mui-table-view-cell{
    text-align: left;
    font-size: 14px !important;
}
.task-result{
    background-color: #fff;
}
.task-result textarea{
    font-size: 16px;
    border: #fff;
    margin-bottom: 0;
}
.image-list{
    position: relative;
    list-style: none;
    padding: 0px 16px 8px 16px;
    text-align: center;
    margin: 0;
}
.image-list:after{
    content: '';
    display: block;
    clear: both;
}
.image-list .image-item, .image-list .upload-item{
    width: 25%;
    padding-top:25%;
    position: relative;
    float:left;
}
.image-item .content, .upload-item .content{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 6px;
}
.upload-item .image-uploader{
    border: #d9d9d9 1px solid;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.upload-item .image-uploader:before{
    content: '';
    position: absolute;
    width: 2px;
    height: 70%;
    top:15%;
    left: calc(50% - 1px);
    background-color: #d9d9d9;
    display: inline-block;
}
.upload-item .image-uploader:after{
    content: '';
    position: absolute;
    height: 2px;
    width: 70%;
    top:calc(50% - 1px);
    left: 15%;
    background-color: #d9d9d9;
    display: inline-block;
}
.image-uploader input[type='file']{
    width: 100%;
    height: 100%;
    opacity: 0;
    display: inline-block;
}
.image-item .img-file{
    float: left;
    margin-right: 9px;
    margin-bottom: 9px;
    width: 100%;
    height: 100%;
    background: no-repeat 50%;
    background-size: cover;;
}
.image-item img{
    float: left;
    margin-right: 9px;
    margin-bottom: 9px;
    width: 100%;
    height: 100%;
    background: no-repeat 50%;
    background-size: cover;;
}
.weui-gallery2 {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    z-index: 1000;
}
@-webkit-keyframes fadeIn {
     from {
         opacity: 0;
     }
     to {
         opacity: 1;
     }
 }
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.weui-animate-fade-in2 {
    -webkit-animation: fadeIn ease .3s forwards;
    animation: fadeIn ease .3s forwards;
}
@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.weui-animate-fade-out {
    -webkit-animation: fadeOut ease .3s forwards;
    animation: fadeOut ease .3s forwards;
}
.weui-gallery__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 60px;
    left: 0;
    background: 50% no-repeat;
    background-size: contain;
}
.weui-gallery__opr {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0d0d0d;
    color: #fff;
    line-height: 60px;
    text-align: center;
}
.weui-gallery__del {
    display: inline-block;
    padding: 0 16px;
}
.weui-icon-delete.weui-icon_gallery-delete {
    color: #fff;
    font-size: 28px;
    vertical-align: middle;
    cursor: pointer;
}
.inner-page{
    position: fixed;
    width: 100%;
    left: 0;
    height: 100%;
    background-color: #efeff4;
    opacity: 1;
    z-index: 100;
    top:0;
}
@keyframes down-to-up {
    0% {top: 100%}
    50% {top: 50%}
    100% {top: 0}
}
@-webkit-keyframes down-to-up {
    0% {top: 100%}
    50% {top: 50%}
    100% {top: 0}
}
@keyframes up-to-down {
    0% {top: 0}
    50% {top: 50%}
    100% {top: 100%}
}
@-webkit-keyframes up-to-down {
    0% {top: 0}
    50% {top: 50%}
    100% {top: 100%}
}

.down-to-up{
    animation: down-to-up 0.2s forwards;
    -webkit-animation: down-to-up 0.2s forwards;
}
.up-to-down{
    animation: up-to-down 0.2s forwards;
    -webkit-animation: up-to-down 0.2s forwards;
}
.mui-slider .mui-slider-group{
    height: 100%;
}
.mui-slider .mui-slider-group .mui-slider-item>a:not(.mui-control-item) {
    height: 100%;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.can-delete.mui-slider .mui-slider-group .mui-slider-item>a:not(.mui-control-item){

    margin-top: -30px;
}
.gallery-index{
    float: right;
    color: #fff;
    margin: 16px;
}
.scroll-content{
    position: fixed;top:0px;width: 100%;bottom: 60px;overflow-y: auto !important;
}
.mui-off-canvas-left, .mui-off-canvas-right{
    width: 100%;
}
aside .mui-table-view{
    background-color: #fff;
}
aside.light{
    background-color: #efeff4;
}
.mt20{
    margin-top: 20px;
}
.mui-off-canvas-wrap.mui-active .mui-off-canvas-backdrop{
    box-shadow: none;
}
aside.light .mui-table-view-cell>a:not(.mui-btn){
    color: #000;
}
.page-bottom{
    padding-bottom: 54px;
}
.nav-icon{
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: -3px;
    width: 24px;
    height: 24px;
}
.todo{
    background-image: url("../img/dark/64X64/todo.png");
}
.nav-task-grab{
    background-image: url("../img/dashboard/icon-home-grab@2x.png");
}
.nav-all-tasks{
    background-image: url('../img/dashboard/icon-home-task@2x.png');
}
.mui-active .nav-all-tasks{
    background-image: url('../img/dashboard/icon-home-task-active@2x.png');
}
.mui-active .nav-task-grab{
    background-image: url("../img/dashboard/icon-home-grab-active@2x.png");
}
.nav-sites{
    background-image: url('../img/dashboard/icon-home-sites@2x.png');
}
.mui-active>.nav-sites {
    background-image: url('../img/dashboard/icon-home-sites-active@2x.png');
}
.mui-active>.nav-setting{
    background-image: url('../img/dashboard/icon-home-profile-active@2x.png');
}
.nav-setting{
    background-image: url('../img/dashboard/icon-home-profile@2x.png');
}
.mui-active>.nav-icon.todo{
    background-image: url("../img/dark/64X64/todo_active.png");
}
.profile{
background-image: url("../img/light/64X64/profile.png");
}
.nav-icon.profile{
    background-image: url("../img/dark/64X64/profile.png");
}
.mui-active>.nav-icon.profile{
    background-image: url("../img/dark/64X64/profile_active.png");
}
.task-history{
    background-image: url("../img/dark/64X64/history.png");
}
.mui-active>.nav-icon.task-history{
    background-image: url("../img/dark/64X64/history_active.png");
}
.discover{
    background-image: url("../img/dark/64X64/discover.png");
}
.mui-active>.nav-icon.discover{
    background-image: url("../img/dark/64X64/discover_active.png");
}
.mui-bar-tab.nav-horizontal{
    display: -webkit-box;
    padding-top: 2px;
}
.mui-bar-tab.nav-horizontal .mui-tab-item{
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}
.mui-bar-tab.nav-horizontal .mui-tab-item .mui-icon~.mui-tab-label{
    display: inline-block;
    padding-top: 6px;
    color: rgb(141,140,143);
    font-size: 12px;
}
.mui-active>.mui-tab-label {
    color: rgb(88,107,243) !important;
}
.mui-bar-tab.nav-horizontal .mui-tab-item .mui-icon{
    height: 22px;
    margin-top: 2px;
    display: block;
}
.sites{
    background-image: url("../img/dark/64X64/sites.png");
}
.building {
    background-image: url(../img/building.png);
}
.motorbike{
    background-image: url("../img/motorbike.png");
}
.msg{
    background-image: url("../img/msg.png");
}
.mui-active>.nav-icon.sites{
    background-image: url("../img/dark/64X64/sites_active.png");
}

.header-icon{
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
}
.setting{
    background-image: url("../img/light/64X64/setting.png");
}
.top-base {
    width: 100%;
    height: 36%;
    position: relative;
    background-color: #fff;
}
@media screen and (max-width: 600px){

    .top-base {
        height: 44%;
    }
}
.top-base .portrait {
    width: 82px;
    height: 82px;
    background: url("../img/icon/portrait-bg.png") 50% no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 25px;
    top: 52%;
    margin-top: -41px;
}
.portrait img {
    height: 58px;
    margin-top: 16px;
    margin-left: 16px;
}
.top-base .base-info {
    position: absolute;
    bottom: 18px;
    left: 25px;
    right: 25px;
    height: 50px;
}
.account-info .name {
    font-size: 18px;
    color: #000;
}
.account-info .role {
    margin-left: 6px;
    border-radius: 2px;
    border: rgba(75,118,252, 0.55) 1px solid;
    color: rgb(75,118,252);
    font-size: 12px;
    padding: 3px 10px;
    text-align: center;
}
.account-info .account {
    font-size: 15px;
    color: rgb(102,102,102);
}
.history{
    background-image: url("../img/light/64X64/history.png");
}
.mui-table-view-cell .footer-icon{
    width: 16px;
    height: 14px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
}

.box-center{
    display: -webkit-box;
    -webkit-box-pack:center;
}
.page-alert-wrapper{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    -webkit-box-pack:center;
}
.page-alert-wrapper .page-alert{
    padding-top: 35%;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
}
.page-alert .mui-spinner{
    width: 36px;
    height: 36px;
}
.page-alert .alert-icon{
    width: 64px;
    height: 64px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 35%;
}
.page-alert .alert-icon.nodata-info{
    background-image: url(../img/nodata-info.png);
}
.page-alert .alert-icon.nodata {
    background-image: url(../img/nodata.png);
}
.page-alert .alert-icon.warning {
    background-image: url(../img/loading-error.png);
}
.page-alert .loading-img{
    width: 25px;
    height: 25px;
}
.page-alert .alert-text{
    display: block;
    /*margin-top: 24px;*/
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.page-alert .alert-reload {
    width: 114px;
    height: 29px;
    text-align: center;
    line-height: 29px;
    border: rgba(153, 153, 153, 0.66) 1px solid;
    border-radius: 2px;
    color: rgb(153,153,153);
    margin-top: 10px;
    font-weight: 300;
}
.alert-text.info{
    color: rgb(153,153,153);
    font-size: 16px;
    font-weight: 300;
}
.height-wrap-parent{
    height: 100%;
}
.no-margin{
    margin: 0;
}
@keyframes loading1 {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}
@-webkit-keyframes loading1 {
    0% {-webkit-transform: rotate(0deg)}
    100% {-webkit-transform: rotate(360deg)}
}
.page-alert .alert-icon.loading{
    background-image: url(../img/loading.png);
}
.loading{
    animation: loading1 0.6s;
    -webkit-animation: loading1 0.8s ease-in-out infinite;
}
.hide{
    display: none;
}
.mui-scroll{
    min-height: 100%;
}
.bg-header .text-white{
    color: #fff;
}

/*    notify    */
.mui-popup-backdrop.notify{
    background-color: transparent;
}

.mui-popup-backdrop.notify .mui-popup.mui-popup-in{
    color: #fff;
    background-color: #5a5a5a;
    width: auto;
    display: block;
}
.mui-popup-backdrop.notify .mui-popup-icon{
    width: 80px;
    height: 80px;
    display: inline-block;
}
.mui-popup-backdrop.notify .mui-popup-icon .mui-icon{
    font-size: 80px;
}
.mui-popup-backdrop.notify .mui-popup-icon .mui-icon.mui-icon-info {
     font-size: 48px;
    margin-top: 16px;
}
.mui-popup-backdrop.notify .mui-popup-icon .mui-icon.spinner{
    animation: spinner-spin 1s step-end infinite;
    font-size: 40px;
    margin-top: 18px;
}
.mui-popup-backdrop.notify .mui-popup-inner.has-text .spinner{
    margin-top: 24px;
}
.mui-popup-backdrop.notify .mui-popup-inner{
    background-color: transparent;
    min-width: 110px;
    min-height: 110px;
}
.mui-popup-backdrop.notify .mui-popup-inner.has-text .mui-popup-icon{
    margin-top: -18px;
}
.mui-popup-backdrop.notify .mui-popup-text{
    display: none;
}
.mui-popup-backdrop.notify .mui-popup-inner.has-text .mui-popup-text{
    display: block;
}
/*****   notify   ****/
.dev-status-circle{
    float: left;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-top: 2px;
    margin-right: 4px;
}
.dev-status-circle.danger{
    background-color: #e00202;
}
.dev-status-circle.normal{
    background-color: #08b762;
}
.dev-status-circle.offline{
    background-color: darkgrey;
}
.dev-status{
    display: inline-block;
    margin-top: 2px;
    padding: 2px 8px;
    border-radius: 4px;
    color: #fff;
    font-style: normal;
    font-size: 0.9em;
}
.dev-status.danger{
    background-color: #e00202;
}
.dev-status.normal{
    background-color: #08b762;
}
.dev-status.offline{
    background-color: darkgrey;
}
.bg-red{
    background-color: #e00202;
}
.bg-green{
    background-color: #08b762;
}
.bg-grey{
    background-color: darkgrey;
}
.triangle{
    width: 24px;
    height:24px;
    display: inline-block;
    background: url(../img/triangle.png) no-repeat;
}
.triangle-left {
    transform: rotate(-90deg);
}
.triangle-right {
    transform: rotate(90deg);
}
.mui-card{
    box-shadow: none;
}
.site-list{
    background-color: transparent;
}
.site-list>li{
    background-color: #fff;
    margin-bottom: 8px;
}
.site-list>li:after{
    display: none;
}
.site-list .title>span{
    line-height: 24px;
    color: #546E7A;
}
.site-list .attr-item{
    list-style: none;
    padding-left: 0;
    width: 45%;
    display: inline-block;
    margin-top: 6px;
}

#slides {
    position:fixed;
    top:0px;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: #000;
    z-index: 1000;
}
#slides .slidesjs-container{
    height: 100% !important;
}
#slides .slidesjs-control{
    height: 100% !important;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}
#slides .slidesjs-control img{
    display: block;
    top: auto;
}
#slides .slidesjs-navigation {
    margin-top:5px;
}

a.slidesjs-next,
a.slidesjs-previous,
a.slidesjs-play,
a.slidesjs-stop {
    background-repeat: no-repeat;
    display:block;
    width:12px;
    height:18px;
    overflow: hidden;
    text-indent: -9999px;
    float: left;
    margin-right:5px;
}

a.slidesjs-next {
    margin-right:10px;
    background-position: -12px 0;
}

a:hover.slidesjs-next {
    background-position: -12px -18px;
}

a.slidesjs-previous {
    background-position: 0 0;
}

a:hover.slidesjs-previous {
    background-position: 0 -18px;
}

a.slidesjs-play {
    width:15px;
    background-position: -25px 0;
}

a:hover.slidesjs-play {
    background-position: -25px -18px;
}

a.slidesjs-stop {
    width:18px;
    background-position: -41px 0;
}

a:hover.slidesjs-stop {
    background-position: -41px -18px;
}

.slidesjs-pagination {
    margin: 7px 0 0;
    float: right;
    list-style: none;
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
    padding: 0;
    z-index: 1001;
}

.slidesjs-pagination li {
    margin: 0 4px;
    display: inline-block;
}
.slidesjs-pagination li a{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    bottom: 10px;
    background: #aaa;
    -webkit-box-shadow: 0 0 1px 1px rgba(130,130,130,.7);
    box-shadow: 0 0 1px 1px rgba(130,130,130,.7);
    color: transparent;
    padding: 0;
    margin: 0;
    display: block;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
    background-color: #fff;
}
.kanban-slider .slidesjs-pagination {
    bottom: 0;
}
.kanban-slider .chart {
    margin-top: 10px;
}
#slides a:hover,
#slides a:active {
    color: #9e2020
}
.mui-segmented-control{
    width: 80%;
    margin-left:10%;
}
.mui-segmented-control .mui-control-item{
    line-height: 30px;
}
.slides img{
    width: 100%;
    /*height: 100%;*/
    display: block;
}
.slides>div{
    width: 100%;
    /*height:100%;*/
}
.slides .img-container{
    height: calc(100% - 40px);
    display: -webkit-box;
    -wekkit-box-align:center;
}
.slides .img-container>div{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}
.slides .img-container>img{
    height: auto;
    display: block;
}
.dropload-up{
    margin-top: 12px;
    text-align: center;
    margin-bottom: 12px;
    color: #444;
    font-size: 14px;
}
.icon-24X24{
    width: 24px;
    height: 24px;
    padding-top: 0;
    padding-bottom: 0;
    display: inline-block;
    background-size: cover;
}
.icon-20X20{
    width: 20px;
    height: 20px;
    padding-top: 0;
    padding-bottom: 0;
    display: inline-block;
    background-size: cover;
}
.event{
    background-image: url("../img/dark/32X32/event.png");
}
.todo-black{
    background-image: url("../img/dark/32X32/todo_black.png");
}
.box-vertical-center{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
}
.box-horizontal-center{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
}
.site-var{
    margin-right: 70px;
}
.site-var label{
    float: right;
}
.site-var .unit{
    width: 30px;
    display: inline-block;
}
.site-var .value{
    color: #00b0ff;
    font-weight: 400;
    font-size: 14px;
    text-align: right;
}
.no-margin{
    margin: 0 !important;
}

.grab-task-list{

}
.grab-task-list li h4{
    font-weight: normal;
}
.grab-task-list li h4 label{
    margin-right: 10px;
}
.grab-task-list li h4 img{
    width: 18px;
    height: 18px;
    margin-right: 4px;
    line-height: 18px;
}
.grab-task-list li h4 .header-time, .grab-task-list li h4 .header-location{
    font-size: 14px;
    margin-right: 10px;
    position: relative;
}
.grab-task-list li h4 .header-location .icon{
    position: absolute;
    left: 0;
}
.grab-task-list li h4 .header-location{
    padding-left: 24px;
}
.grab-task-list li h5{
    margin-top: 8px;
}
.grab-task-list li .btn-grab{
    position: absolute;
    right: 0;
    width: 60px;
    top: 0px;
    bottom: 0px;
    background-color: #f0ad4e;
    color: #f7f7f7;
    /*box-shadow: -1px 0 2px #f0ad4e;*/
    cursor: pointer;
}
.grab-task-list li .btn-grab label{
    top: 50%;
    position: absolute;
    width: 100%;
    margin-top: -12px;
    text-align: center;
}
.btn-grab:active, .btn-grab:focus, .btn-grab:visited{
    background-color: rgba(240, 173, 78, 0.73);
}
.clock{
    background-image: url(../img/dark/32X32/clock.png);
}
.map{
    background-image: url(../img/dark/32X32/map.png);
}
.location{
    background-image: url(../img/location.png);
}
.mui-popup.mui-popup-in.android-dialog{
    display: block;
    width: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 8px 10px;
}
.android-dialog .mui-btn-block{
    padding: 6px 0;
}
.android-dialog h5{
    text-align: left;
    line-height: 18px;
    color: #444;
}
.android-dialog .mui-popup-title{
    text-align: left;
}
.android-dialog .mui-popup-inner{
    padding: 8px;
}
.mui-ellipsis-2{
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.bg-image{
    background-size: cover;
    background-repeat: no-repeat;
}

.page{
    height: 100%;
    z-index: 1;
}

.page-left.ng-enter {
    -webkit-animation: slideInRight 0.5s;
    -moz-animation: slideInRight 0.5s;
    -ms-animation: slideInRight 0.5s;
    animation: slideInRight 0.5s;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
}
.page-left.ng-leave {
     -webkit-animation: slideOutRight 0.5s;
     -moz-animation: slideOutRight 0.5s;
     -ms-animation: s
     lideOutRight 0.5s;
     animation: slideOutRight 0.5s;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
 }
.card{
    background-color: #fff;
    margin:0 0 6px 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 8px 16px;
    position: relative;
    display: block;
}
.round-card {
    margin: 10px 10px 0 10px;
    border-radius: 4px;
}
.card .card-header{
    padding-bottom: 6px;
    line-height: 24px;
    font-size: 0.9em;
}
.card .card-header .icon{
    float:left;
    width: 24px;
    height: 24px;
    margin-right: 4px;
}
.card .card-header.border{
    border-bottom: #eee 1px solid;
}
.card .card-content{
    padding-top:8px;
    position: relative;
}
.bg-status{
    background-image: url("../img/station_status/normal.png");
    display: inline-block;
    background-size: cover;
    position:absolute;
    padding:8px 10px 10px 10px;
    color: #fff;
    font-weight: 100;
    font-size: 14px;
}
.status-top-right{
    top:0px;
    right: 12px;
}
.bg-status.danger{
    background-image: url("../img/station_status/alarm.png");
}
.bg-status.normal{
    background-image: url("../img/station_status/normal.png");
}
.bg-status.offline{
    background-image: url("../img/station_status/offline.png");
}
.info-group{
    margin: 0;
    padding: 0;
}

.info-group .icon-xs{
    float: left;
    margin-top:4px;
}
.info-group>li{
    list-style: none;
    line-height: 1.6em;
    padding: 5px 2px;
}
.info-group>li:after {
    display: block;
    content: '';
    clear: both;
}
.info-group .title{
    color: rgb(141,140,143);
    width: 98px;
    display: inline-block;
    float: left;
}
.info-group .value{
    color: rgb(51,51,51);
    display: block;
    margin-left: 100px;
}
.info-group .icon{
    margin-right: 4px;
}
.info-group input {
    width: calc(100% - 110px);
    padding: 0px;
    height: 21px;
}
.media-lg{
    width: 60px;
    height:60px;
}
.card .mui-media-object{
    margin-right:6px;
    border-radius: 4px;
}
.no-border{
    border:none !important;
}
.no-border:before{
    display: none !important;
}
.no-border:after{
    display: none !important;
}
.text-status{
    font-size: 13px;
}
.text-status.normal{
    color: #0bb20c !important;
}
.text-status.danger{
    color: red !important;
}
.text-status.offline{
    color: grey;
}
.mui-popover{
    width: 200px;
}
.link{
    color: rgb(96, 181, 255);
}
.scroll-wrapper{
    position:absolute;
    top:0px;
    bottom:0px;
    width: 100%;
    overflow-y: auto;
}
.content-wrapper {
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: 100%;
    overflow-y: auto;
}
.mui-table-view.card-view{
    background-color: transparent;
}
.mui-table-view.card-view .mui-table-view-cell{
    background-color: #fff;
    margin-bottom: 6px;
}
.mui-table-view.card-view .mui-table-view-cell:after{
    display: none;
}
.bg-transparent{
    background-color: transparent !important;
    background-image: linear-gradient(120deg, transparent 0%, transparent 100%) !important;
}

.statics-card{
    position: relative;
    color: #FFFFFF;
    width: 100%;
    padding-bottom: 75%;
    margin: 0;
    padding-top: 60px;
}
.statics-card.bg-disabled{
    /*background-color: #bdbdbd;*/
    /*background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);*/
    background-color: #E4E4E1;
    background-image: radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(143,152,157,0.60) 100%);
    background-blend-mode: normal, multiply;
}
.statics-card.bg-success{
    /*background-color: #61B460;*/
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
.statics-card.bg-warning{
    /*background-color: #ffa500;*/
    background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
}
.statics-card .container{
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
}
.statics-card h5{
    padding: 16px 16px;
    color: #FFFFFF;
}
.statics-card .chart-container{
    width: 100%;
    position: absolute;
    top: 45px;
    bottom: 68px;
    height: auto;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}
.statics-card .chart-container .mui-icon-arrowright{
    position: absolute;
    right: 20px;
    color: #ffffff;
    top: 50%;
    margin-top: -12px;
}
.statics-card .chart-container .circleChart_text{
    color: #FFFFFF;
}
.statics-card .chart-container .chart{
    height: auto;
}
.statics-card .footer-list{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 64px;
    display: -webkit-box;
    padding: 0 10%;
    margin: 0;
}
.statics-card .footer-list li{
    display: block;
    -webkit-box-flex: 1;
    text-align: center;
}
.statics-card .footer-list li .title{
    font-size: 12px;
    display: block;
}
.statics-card .footer-list li .value{
    font-size: 28px;
    display: block;
    margin-top:6px;
}
header.bg-disabled{
    background-image: linear-gradient(120deg, #B5B9B9 0%, #B1B5B4 100%);
}
header.bg-success{
    background-image: linear-gradient(120deg, #87EFC3 0%, #8fd3f4 100%);
}
header.bg-warning{
    background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
}
.check-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
}
.check-item{
    padding: 11px 0;
    position: relative;
}
.check-item:after{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0px;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #efeef0;
}
.check-item.active{
    background-color: rgba(228, 228, 228, 0.8);
}
.check-item a{
    color: inherit;
    position: relative;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 16px 0 8px;
}
.check-item a .icon{
    margin-top: 2px;
    float: left;
    margin-right: 4px;
    height: 14px !important;
    width: 14px !important;
}
.check-item .mui-navigate-right:after{
    right: 6px;
    content: '\e583';
    font-family: Muiicons;
    font-size: inherit;
    line-height: 1;
    position: absolute;
    top: 50%;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-decoration: none;
    color: inherit;
    -webkit-font-smoothing: antialiased;
}
.left-panel{
    height: 100%;
    overflow-y: auto;
}
.right-panel{
    height: 100%;
    overflow-y: auto;
}
.check-box-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.check-box-item{
    border-radius: 6px;
    border: #e0e0e0 1px solid;
    background-color: #FFFFFF;
    padding: 8px;
    margin-bottom: 12px;
}
.check-box-item .name{
    font-size: 12px;
    position: relative;
    margin-bottom: 2px;
}
.check-box-item .name:after{
    clear: both;
}
.check-box-item label{
    padding-right: 50px;
    display: inline-block;
    line-height: 16px;
}
.check-box-item .name .mui-radio, .check-box-item .name .mui-checkbox{
    font-size: 12px;
    position: absolute;
    right: 0;
    top: -3px;
}
.check-box-item .mui-checkbox input[type=checkbox], .check-box-item .mui-radio input[type=radio]{
    position: relative;
    width: 20px;
    height: 20px;
    right: 0;
    top:0px;
}
.check-box-item .mui-checkbox input[type=checkbox]:before, .check-box-item .mui-radio input[type=radio]:before {
    font-size: 18px;
}
.info-group input::-webkit-input-placeholder {
    color: #b2b2b2;
}
.info-group input:-ms-input-placeholder { // IE10+
color: #a7a7a7;
}
.info-group input:-moz-placeholder { // Firefox4-18
color: #a7a7a7;
}
.info-group input::-moz-placeholder { // Firefox19+
color: #a7a7a7;
}

.device-card{
    margin:6px 0 0 0;
    width: 100%;
    background-color: #fff;
}
.device-card .device-name{
    position: relative;
    line-height: 24px;
    padding: 6px 8px;
    border-bottom: #eee 1px solid;
}
.device-card .device-name:before{
    position: absolute;
    display: block;
    content: '';
    width: 3px;
    top: 0;
    height: 100%;
    left: 0;
    background-color: #3bb1f5;
}
.device-card .device-content{
    display: none;
}
.device-card .device-content.active{
    display: block;
}
.device-content .properties{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.device-content .properties>li{
    padding: 8px;
    border-bottom: #eee 1px solid;
    font-size: 14px;
}
.properties>li .title{
    min-width: 110px;
    display: inline-block;
    text-align: left;
    padding-left: 14px;
    color: #999999;
}
.properties>li .value{
    display: inline-block;
    text-align: left;
    color: #444;
    padding-left: 8px;
}
.device-content .device-items{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
}
.device-items>li h5{
    background-color: #F0F0F0;
    padding: 8px;
    margin: 0;
    color: #444;
    line-height: 18px;
}
.device-items>li h5 .icon{
    float: left;
}

.device-content .empty-alert{
    color: #f0ad4e;
    padding: 6px 16px;
    font-size: 14px;
    font-weight: normal;
}
.zoom-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*z-index: 100;*/
    background-color: #000000;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}
.zoom-wrapper.ng-enter {
    -webkit-animation: fadeIn 0.2s;
    -moz-animation: fadeIn 0.2s;
    -ms-animation: fadeIn 0.2s;
    animation: fadeIn 0.2s;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
}
.zoom-wrapper.ng-leave {
    -webkit-animation: fadeOut 0.2s;
    -moz-animation: fadeOut 0.2s;
    -ms-animation: fadeOut 0.2s;
    animation: fadeOut 0.2s;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
}
.zoom-wrapper .zoom-obj{
    display: block;
}
.zoom-wrapper .pinch-zoom-container{
    width: 100%;
    height: 100%;
}
.no-border .mui-table-view-cell:after {
    display: none !important;
}
.icon-events .mark {
    background-color: rgb(255,0,48);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: 0px;
}
.site-header .mui-pull-left {
    color: rgb(255,255,255);
    font-size: 14px;
    border-bottom: rgb(232,232,232) 1px dashed;
    font-weight: 100;
    margin-top:10px;
}
.site-header {
    /*height: 35%;*/
    background: url(../img/site-title-bg@2x.png) no-repeat top left;
    background-size: contain;
}
.site-header .mui-pull-right {
    margin-top: 13px;
}
.layout-center {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
}
.site-img-wrapper {
    padding-bottom: 40%;
    position: relative;
    width: 80%;
    margin-left: 10%;
}
.site-img-wrapper .img-border {
    background: url("../img/site-img-border@2x.png") 50% no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1px;
    box-sizing: border-box;
}
.site-img-wrapper .status-line {
    position: absolute;
    bottom: 0;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    left: 1px;
    right: 1px;
}
.status-line .status {
    position: absolute;
    right: 10px;
    bottom: 1px;
    padding-left: 6px;
}
.status-line .status.normal {
    color: rgb(41,202,147);
    font-size: 10px;
}
.status-line .status.abnormal {
    color: rgb(210,77,88);
    font-size: 10px;
}
.status-line .status.offline {
    color: rgb(202, 202, 202);
    font-size: 10px;
}
.status-line .status.unknown {
    color: rgb(202, 202, 202);
    font-size: 10px;
}
.status:before {
    content: '';
    display: block;
    margin-right: 4px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    font-size: 3px;
    position: absolute;
    left: -8px;
    top: 50%;
    margin-top: -2px;

}
.status.status-normal:before {
    background-color: rgb(41,202,147);
}
.mui-popover.dark-popover .mui-popover-arrow:after {
    background-color: #323234;
}
.mui-popover.dark-popover .mui-table-view {
    background-color: #323234;
}
.dark-popover .mui-table-view-cell {
    color: #FFFEFF;
    font-weight: 100;
}
.dark-popover .mui-table-view-cell:after {
    background-color: rgb(73,72,75);
}
.site-status {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #ffffff;
    display: inline-block;
    margin-right: 6px;
    float: left;
    margin-top: 8px;
}
.site-status.normal {
    background-color: rgb(94,206,77);
}
.site-status.abnormal {
    background-color: rgb(210,77,88);
}
.site-status.offline {
    background-color: rgb(202, 202, 202);
}
.site-status.unknown {
    background-color: rgb(202, 202, 202);
}
.mui-popover .site-event {
    background-color: rgb(255, 255, 254);
    color: rgb(51,51,51);
    font-size: 12px;
    border-radius: 2px;
    min-width: 20px;
    display: inline-block;
    text-align: center;
    padding: 0 4px;
    float: right;
    height: 16px;
    line-height: 16px;
    margin-top: 2px;
    margin-left: 6px;
}
.popover-mask {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
}
.card-title.big-card-title {
    font-size: 14px;
    color: rgb(68,79,100);
    position: relative;
}
.big-card-title:after {
    content: '';
    display: block;
    width: 15px;
    height: 2px;
    background-color: rgb(212,164,101);
    position: absolute;
    bottom: 0px;
    left: 0;
}
.mui-table-view-cell:after {
    background-color: rgb(245, 245, 245);
}
.event-list {
    background-color: transparent;
    position: relative;
}
.event-list>li {
    margin: 6px 0;
    background-color: rgb(247,247,247);
}
.event-list>li .event-title {
    background-color: rgb(255,255,255);
    color: rgb(35,35,35);
    margin: -11px -15px 0 -15px;
    min-height: 36px;
    line-height: 24px;
    padding-left: 20px;
    font-weight: 400;
    font-size: 16px;
    position: relative;
    padding-right: 30px;
    padding-top: 6px;
}
.event-title:before {
    position: absolute;
    content: '';
    display: block;
    left: 12px;
    width: 2px;
    top: 10px;
    bottom: 10px;
    background-color: rgb(87,164,247);
}
.event-list .title {
    color: rgb(35,35,35);
    font-weight: 300;
    font-size: 15px;
}
.event-list h5 {
    color: rgb(149,149,149);
    font-weight: 300;
    font-size: 15px;
}
.event-list .event-task {
    position: absolute;
    bottom: 16px;
    right: 14px;
    width: 70px;
    height: 26px;
    border-radius: 13px;
    border: rgb(244,118,48) 1px solid;
    color: rgb(244,118,48);
    text-align: center;
    line-height: 26px;
    font-size: 14px;
}
.event-list .close {float: right;
    width: 28px;
    height: 28px;
    background: url(../img/icon/icon-event-close@2x.png) 50% no-repeat;
    background-size: contain;
    border: transparent 6px solid;
    position: absolute;
    right: 8px;
    top: 4px;
}
.icon-report-download {
    position: absolute;
    top: 50%;
    right: 18px;
    margin-top: -16px;
    padding: 0;
    border: transparent 6px solid;
    width: 32px;
    height: 32px;
}
.margin-table-view {
    background-color: transparent;
}
.margin-table-view .mui-table-view-cell {
    margin: 6px 0;
    background-color: #ffffff;
}
.cascade-selector {
    line-height: 44px;
    border-bottom: rgba(220, 220, 220, 0.45) 1px solid;
    font-size: 15px;
    color: rgb(51,51,51);
    display: -webkit-box;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 2;
}
.cascade-selector .selector {
    text-align: center;
    height: 44px;
    background-color: #fff;
}
.cascade-selector.collapse {
    height: 100%;
}
.cascade-selector .selector label.result-label {
    position: relative;
    display: inline-block;
}
.selector label.result-label:after {
    position: absolute;
    display: block;
    content: '\e581';
    font-family: Muiicons;
    font-size: inherit;
    top: 0px;
    right: -20px;
}
.cascade-selector .option-wrapper {
    background-color: rgb(245,245,245);
    width: 100%;
    list-style: none;
    position: absolute;
    display: none;
    left: 0;
    text-align: left;
    overflow-y: auto;
    top: 45px;
    max-height: calc(100% - 44px);
}
.option-vertical>li {
    height: 54px;
    line-height: 54px;
    width: 100%;
    padding-left: 30px;
    font-size: 14px;
    color: rgb(51,51,51);
    text-align: left;
    font-weight: 300;
    cursor: pointer;
}
.option-vertical>li.selected {
    color: rgb(88,107,243);
    position: relative;
    font-family: Muiicons;
}
.option-vertical>li.selected:after {
    content: '\e472';
    font-size: 24px;
    position: absolute;
    top: -2px;
}
.option-wrapper.option-horizontal {
    padding: 8px 18px;
}
.option-horizontal:after {
    content: '';
    display: block;
    clear: both;
}
.option-horizontal>li {
    color: rgb(121,121,121);
    border: rgba(195,195,195, 0.7) 1px solid;
    background-color: rgb(255,255,255);
    border-radius: 4px;
    min-width: 75px;
    text-align: center;
    margin-top: 6px;
    margin-right: 13px;
    margin-bottom: 6px;
    float: left;
    font-size: 14px;
    height: 28px;
    line-height: 26px;
    font-weight: 300;
}
.option-horizontal>li.selected {
    background-color: rgb(88,107,243);
    color: #fff;
    border: none;
}
.selector.collapse .result-label {
    color: rgb(88,107,243);
}
.selector.collapse label.result-label:after {
    content: '\e580';
}
.selector.collapse .option-wrapper {
    display: block;
}
.selector label.nodata {
    color: #7d8491;
}
.selector label.nodata:after {
    display: none;
}
.cascade-selector .selector-mask {
    position: fixed;
    top: 105px;
    left: 0;
    width: 100%;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.3);
}
.calendar-tabs {
    height: 45px;
    width: 100%;
    display: -webkit-box;
    list-style: none;
    background-color: #ffffff;
    position: relative;
}
.calendar-tabs:after {
    content: '';
    display: block;
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 0;
    height: 1px;
    background-color: rgba(220, 220, 220, 0.45);
}
.calendar-tabs>.tab {
    width: 50%;
    text-align: center;
    color: rgb(195,195,195);
    font-size: 14px;
    font-weight: 300;
    line-height: 45px;
}
.calendar-tabs>.tab.active {
    color: rgb(88,107,243);
    position: relative;
}
.calendar-tabs>.tab.active:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 50%;
    left: 25%;
    background-color: rgb(88,107,243);
    bottom: 0;
}
.calendar-tabs>.tab label {
    display: inline-block;
}
.calendar-tabs .icon {
    width: 14px;
    height: 14px;
    margin-right: 8px;
    float: left;
    margin-top: 16px;
}
.calendar-tabs .icon-tab-clock {
    background-image: url("../img/icon/icon-tab-clock@2x.png");
}
.calendar-tabs .active .icon-tab-clock {
    background-image: url("../img/icon/icon-tab-clock-active@2x.png");
}
.calendar-tabs .icon-tab-calendar {
    background-image: url("../img/icon/icon-calendar@2x.png");
}
.calendar-tabs .active .icon-tab-calendar {
    background-image: url("../img/icon/icon-calendar-active@2x.png");
}
.device-tree-container {
    position: absolute;
    top: 45px;
    bottom: 0px;
    width: 100%;
    z-index: 1;
    background-color: #fff;
}
.device-tree-container .tree-left-sider {
    width: 48%;
    height: 100%;
    overflow-y: auto;
    float: left;
    border-right: rgb(241, 241, 241) 1px solid;
}
.device-tree-container .tree-right-sider {
    width: 52%;
    height: 100%;
    overflow-y: auto;
    float: left;
}
.tree-left-sider .device-tree {
    list-style: none;

}
.first-list>li {
    background-color: rgb(248,248,248);
    width: 100%;
    font-size: 16px;
    color: rgb(51,51,51);
    border-bottom: rgb(230,230,230) 1px solid;
    font-family: Muiicons;
    padding-left: 18px;
    line-height: 0px;
}
.first-list>li>label {
    padding-right: 24px;
    height: 48px;
    line-height: 48px;
    position: relative;
    display: block;
}
.first-list>li.group>label:after {
    content: '\e581';
    display: block;
    right: 8px;
    position: absolute;
    top: 0px;
}
.first-list>li.selected>label {
    color: rgb(88,107,243);
}
.first-list>li.collapse>label:after {
    content: '\e580';
}
.second-list {
    border-top: #e1e1e1 1px solid;
    list-style: none;
    margin-left: -16px;
    display: none;
}
.second-list>li {
    height: 39px;
    background-color: #fff;
    padding-left: 30px;
    font-size: 15px;
    color: rgb(51,51,51);
    font-weight: 300;
    line-height: 39px;
}
.second-list>li.selected {
    border-top: rgba(230,230,230,0.5) 1px solid;
    border-bottom: rgba(230,230,230,0.5) 1px solid;
    border-right: #fff 1px solid;
    margin-right: -1px;
    color: rgb(88,107,243);
    margin-top: -1px;
}
/*
.second-list .selected label:before {
    content: '';
    display: block;
    position: absolute;
    left: -14px;
    width: 8px;
    height: 12px;
    background: url(/img/icon/device-selected-mark@2x.png) 50% no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    top: 50%;
    margin-top: -8px;
}
*/
.device-list li {
    list-style: none;
    height: 50px;
    line-height: 50px;
    padding-left: 24px;
    color: rgb(51,51,51);
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
}
.device-tree .device-status {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    margin-right: 8px;
    margin-top: -3px;
    top: 50%;
    left: -14px;
}
.first-list .collapse .second-list {
    display: block;
}
.device-status.normal {
    background-color: rgb(122,202,95);
}
.device-status.abnormal {
    background-color: rgb(196,86,91);
}
.device-status.offline {
    background-color: #9a9a9a;
}
.device-tree label {
    position: relative;
}
.properties-group {
    background-color: #ffffff;
    margin-bottom: 8px;
    padding-left: 20px;
}
.entrance-list>li {
    margin: 9px 0 !important;
}
.entrance-list .mui-media-body {
    margin-top: 0px !important;
}
.card .card-header.device-detail-title {
    height: 44px;
    line-height: 44px;
    padding-left: 12px;
    font-size: 18px;
    color: rgb(51,51,51);
    border-bottom: rgba(220, 220, 220, 0.51) 1px solid;
}







.site-value .mui-icon {
    font-size: 14px;
    color: #007aff;
    margin-left: -15px;
    padding-right: 10px;
}
input {
    color: #000;
}
.mui-grid-view.mui-grid-9 .mui-media .mui-icon {
    font-size: 1.6em;
    position: relative;
    padding: 0;
    margin: 0;
}
.mui-grid-view.mui-grid-9 {
    border: 0;
}
.mui-grid-view.mui-grid-9 .mui-media {
    border: 0;
}
.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body {
    font-size: 12px;
}
.red{
    color: red !important;
}
.mui-grid-view.mui-grid-9 {
    background-color: transparent;
    border-radius: 0;
}
.site-list .mui-card:nth-child(odd){
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#CFD9DF), to(#E2EBF0));
}
.site-list .mui-card:nth-child(even){
    /*background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FDFBFB), to(#EBEDEE));*/
    /*background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FDFCFB), to(#E2D1C3));*/
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#CFD9DF), to(#E2EBF0));
}
.mui-table-view-cell.mui-media{
    border-radius: 0 !important;
}
.text-red{
    color: red !important;
}
.text-grey{
    color: #6d6d6d !important;
}
header.bg-header{
    background-color: #2856b6;
}
.bg-header h1{
    color: #fff;
}
.bg-header .mui-action-back{
    color: #fff;
}
.info-list span{
    display: inline-block;
}
.info-list{
    margin-bottom: 0;
}
.task-title .time{
    position: absolute;
    right: 0;
    top:0;
}
.info-list .status{
    float: right;
    color: #007aff;
}
.cell-body{
    padding: 11px 16px;
}
.cell-footer{
    border-top: #eee 1px solid;
    padding: 6px 16px;
    line-height: 26px;
}
.task-list .mui-table-view .mui-media-object{
    line-height: 32px;
    max-width: 32px;
    height: 32px;
    margin-top: 5px;
}
.mui-center.mui-title{
    margin-left: 0 !important;
}

.tree .mui-table-view-cell:after{
    background-color: #eee;
}
.tree .mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell:after{
    background-color: #eee;
}
.tree .mui-table-view-cell.mui-active{
    background-color: #fff;
}
.tree .mui-table-view-cell.mui-collapse.mui-active .mui-collapse-content {
    display: none;
}
.tree .mui-active>.mui-collapse-content{
    display: block !important;
}
.tree .mui-table-view-cell>a:not(.mui-btn){
    border-bottom: #eee 1px solid;
}
.tree .mui-table-view-cell.mui-collapse.mui-active{
    margin-top:0px;
}
.tree .mui-table-view-cell.mui-collapse .mui-collapse-content{
    margin: 11px -15px 0px;
    padding: 0px 15px;
}
.tree .mui-table-view-cell.mui-collapse .mui-table-view{
    margin-top: 0px;
}
.tree .mui-navigate-right:after{
    color: #444;
}
.tree .is-leaf>.mui-navigate-right:after{
    right: 24px;
    font-size: 14px;
    color: #bbb;
}
.tree .mui-table-view-cell.is-leaf>a{
    font-size: 14px;
    color: #8a8a8a;
}

table.monitor-table {
    width: 100%;
}
.monitor-table th,td{
    text-align: left;
    height: 40px;
    border-bottom: #eee 1px solid;
    font-size: 14px;
}
.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body{
    font-size: 0.8em;
}
.monitor-table tbody tr:nth-child(odd) {background: rgba(246, 246, 246, 0.6)}
.monitor-table tbody tr:nth-child(even) {background: #FFF}
.monitor-table td, th{
    padding-left: 16px;
}
@media screen and (max-width: 360px) {
    .monitor-table th, td {
        font-size: 12px;
    }
}
.task-type-control.mui-active {
    border-bottom: none !important;
}
.no-shadow {
    box-shadow: none !important;
}
.switch-open {
    transition-duration: 0.2s;
    transform: translate(16px, 0px);
}
.switch-close {
    transition-duration: 0.2s;
    transform: translate(0px, 0px);
}
div.pinch-zoom, div.pinch-zoom-container{
    height: 100%;
}