.sd-tabs {
    margin-left: 0;
    position: fixed;
    top: 2px !important;
    height: 30px;
    color: #fff;
    font-size: 13px;
}
.sd-tabs .mui-control-item {
    line-height:28px;
}
.sd-tabs .mui-control-item.active {
    color: #FFFF00;
}
.sd-tabs .mui-control-item.active .tab-name {
    border-bottom: #fff 2px solid;
}
.sd-tabs .tab-name {
    display: inline-block;
    padding: 0 6px;
}
.add-item-btn {
    width: 90%;
    margin-left: 5%;
    border-radius: 20px;
    font-size: 14px;
    padding: 8px;
    border: #0091E0 dashed 1px;
    color: #0091E0;
    cursor: pointer;
}
.add-item-btn:active,.add-item-btn:focus,.add-item-btn:enabled:active {
    background-color: #0091E0;
    color: #fff;
    border: none;
}
.property-editor-popup {
    display: block;
    opacity: 1;
    transform: translate3d(-50%,-50%,0) scale(1);
    width: 80%;
    border-radius: 4px;
}
.property-editor-popup .mui-popup-inner {
    border-radius: 4px 4px 0 0;
}
.property-editor-popup .mui-popup-button:first-child {
    border-bottom-left-radius: 4px;
}
.property-editor-popup .mui-popup-button:last-child {
    border-bottom-right-radius: 4px;
}
.form-group {
    text-align: left;
}
.form-group label {
    color: #7A7A7A;
    margin-bottom: 4px;
    display: block;
    font-size: 14px;
}
.form-group input {
    display: block;
    width: 100%;
    line-height: 32px;
    padding: 4px 0;
    background-color: #fff;
    border: #efefef 1px solid;
    margin-bottom: 8px;
    padding-left: 8px;
    color: #5f5f5f;
}
.device-img-wrapper {
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 33%;
    position: relative;
}
.device-img-wrapper .container {
    position: absolute;
    top: 0;
    height: 100%;
    left: 12px;
    right: 12px;
    display: -webkit-box;
    list-style: none;
}
.device-img-wrapper .img {
    height: 100%;
    background-color: #F4F4F4;
    margin-right: 4px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}
.device-img-wrapper .img:last-child {
    margin-right: 0;
}
.device-img-wrapper .img.device-img {
    -webkit-box-flex: 1;
}
.device-img-wrapper .img.qr {
    width: 33.33%;
}