/*.kk-card{*/
    /*padding: 0 8px;*/
/*}*/

.task-control .mui-bar-tab>a{
    padding: 0px 2px 4px 2px;
}
.task-list{
    background-color: transparent;
}
.task-list .task-item{
    background-color: #fff;
    margin: 0px 8px 7px 8px;
    padding: 0;
    position: relative;
}
.task-item .task-icon{
    height: 22px;
    margin-left: 0px;
    margin-right: 8px;
    margin-top: 8px;
}

.task-title{
    font-weight: normal;
    line-height: 40px;
    position: relative;
    /*padding-right: 80px;*/
    margin: 0;
    padding-left: 12px;
}
.task-item .task-main{
    margin-bottom: 0px;
    padding-right: 16px;
}
.task-main p {
    color: rgb(102,102,102);
    font-weight: 300;
}
.task-item .task-progress{
    text-align: right;
    width: 100%;
    font-size: 12px;
}
.task-item .sub-body {
    padding-left: 12px;
    border-top: #efeff1 0.5px solid;
}
.task-info-label {
    font-size: 13px;
    color: #999999;
    padding-right: 12px;
}
.task-info-value {
    font-size: 14px;
    color: #666666;
    font-family: 'PingFang-SC-Medium';
}
.sub-body .task-name{
    padding-top: 10px;
    font-size: 16px;
    color: #333333;
}
.sub-body .icon {
    float: left;
    margin-right: 10px;
    width: 12px;
    height: 12px;
    margin-top: 5px;
}
.task-status{
    position: absolute;
    right: 10px;
    top: 0;
    padding: 10px 6px;
    color: #586bf3;
    font-size: 14px;
    /* border-radius: 0 0 4px 4px;
    background-color: rgb(70,167,248); */
}
.task-progress .task-deadline{
    color: #8f8f94;
    position: relative;
}

.timeout.task-status{
    color: red;
}
.timeout {
    color: red;
}
.task-item.closed .main-body, .task-item.closed .sub-body{
    background-color: rgba(241, 241, 241, 0.2);
}
.task-item.closed .task-status{
    color: #8f8f94;
} 
.closed.task-status{
    color: #8f8f94 !important;
}
.task-item.closed h4{
    color: #8f8f94 !important;
}
.task-item.closed .task-type{
    color: #8f8f94 !important;
}
.task-deadline .icon{
    width: 12px;
    height: 12px;
    margin-right: 4px;
    position: absolute;
    right: 64px;
    top:3px;
}
.task-item .task-bottom{
    padding-left: 36px;
    border-top:#eee 1px solid;
    padding-top: 4px;
    margin-bottom: -2px;
}
.task-item .site{
    color: #545454;
}
.task-desp{
    font-size: 1.4em;
    line-height: 1.6em;
}
.task-type-control {
    line-height: 20px!important;
}
.task-type-control.active {
    color: rgb(88,107,243) !important;
    position: relative;
}
.task-type-control.active:after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: rgb(88,107,243);
    left: 25%;
    width: 50%;
}
.task-type-name {
    line-height: 44px;
    position: relative;
}
.task-type-name:after {
    content: '';
    position: absolute;
    right: 0;
    display: block;
    background-color: rgb(219,219,219);
    width: 1px;
    top: 12px;
    bottom: 12px;
}
.task-type-name.last{
    border-right: none;
}
.task-btn-grab{
    position: absolute;
    right: 10px;
    bottom: 12px;
    border-radius: 2px;
    background-color: rgba(88, 107, 243, 0.8);
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    width: 70px;
    color: #ffffff;
}
.task-type{
    color: #000;
    font-size: 16px;
}
.task-type.ergent{
    color: red;
}
.task-type.serious {
    color: #FF8F00;
}
.steps{
    display: -webkit-box;
    padding: 16px 0px 0px 0px;
    position: relative;
    margin: 0 -16px;
}
.steps .progress-bar{
    content: '';
    display: inline-block;
    height: 2px;
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    top: 26px;
}
.steps .progress-bar .progress{
    height: 100%;
    background-color: #fff;
}
.steps .progress-bar .motorbike{
    position: absolute;
    left: 18%;
    top:-24px;
}
.steps .step{
    -webkit-box-flex: 1;
    position: relative;
    text-align: center;
}
.steps .step .icon{
    display: inline-block;
    width: 12px;
    height: 12px;
    /* background-color: #fff; */
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    border: #fff 1px solid;
}
.steps .step .desc{
    font-size: 12px;
    color: #fff;
    margin-top:4px;
}
.steps .step.active .icon{
    background-color: #fff;
    color: #fff;
    width: 16px;
    height:16px;
    top:3px;
    position:relative;
}
.steps .step.active .desc{
    color: #fff;
}
.steps .step.finished .icon{
    background-color: #fff;
    color: #fff;
    position: relative;
    width: 16px;
    height:16px;
    top:3px;
}
.steps .step .motorbike{
    top: -40px;
    left: -12px;
    width: 24px;
    height: 24px;
    border: 0;
}
.steps .step.finished .desc{
    color: #fff;
}
.steps .step.finished .icon:after{
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    display: inline-block;
    background: url(../img/dark/32X32/check.png) no-repeat 50%;
    left: 1px;
    background-size: cover;
    top: 2px;
}
.steps .step:before{
    position: absolute;
    content:'';
    display:block;
    height:1px;
    background-color: #fff;
    width: calc(50% - 6px);
    left: 0px;
    top:10px;
}
.steps .step:after{
    position:absolute;
    content: '';
    display:block;
    height: 1px;
    background-color: #fff;
    width: calc(50% - 6px);
    right: 0px;
    top:10px;
}
.steps .step:first-child:before{
    display: none;
}
.steps .step:last-child:after{
    display: none;
}
.m0{
    margin: 0;
}
.text-red{
    color: red;
}
.alert {
    padding: 8px 16px;
    margin-bottom: 8px;
    border: 1px solid transparent;
    border-radius: 1px;
    color: #fff;
    font-size: 14px;
}
.alert-warning {
    color: #FFF;
    background-color: #f8c969;
}

.timeline-vertical{
    position: relative;
    list-style: none;
    padding: 16px 12px 0px 16px;
    background-color: #fff;
    margin: 0px;
}
.timeline-vertical .timeline-one{
    padding-bottom: 12px;
    position: relative;
    padding-left: 28px;
}
.timeline-vertical .timeline-one:last-child{
    margin-bottom: 0px;
    padding-bottom: 0;
}
.timeline-vertical .time-day{
    width: 50px;
    line-height: 20px;
    display: inline-block;
    font-size: 12px;
    color: #808080;
}
.timeline-vertical .time{
    line-height: 20px;
    display: inline-block;
    font-size: 12px;
    color: #808080;
}
.timeline-vertical .time-icon{
    left: 3px;
    width: 8px;
    height: 8px;
    background-color: #eaeaea;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 8px;
}
.timeline-one.active .time-icon{
    background-color: rgb(96, 181, 255);
    width: 12px;
    height: 12px;
    left: 1px;
}
.timeline-one.active .time-icon:before{
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    position: absolute;
    left: -3px;
    top:-3px;
    background-color: rgba(96, 181, 255, 0.3);
    border-radius: 50%;
}
.timeline-one  .time-icon.handle-item{
    left: 4px;
    width: 7px;
    height: 7px;
    top: 8px;
}
.timeline-one .time-icon.handle-item:before{
    display: none;
}
.timeline-vertical .timeline-one:before{
    content: '';
    display: block;
    position: absolute;
    background-color: rgba(204, 204, 204, 0.54);
    width: 1px;
    left: 7px;
    top:0;
    height: 12px;
}
.timeline-vertical .timeline-one:after{
    content: '';
    display: block;
    position: absolute;
    background-color: rgba(204, 204, 204, 0.3);
    bottom: 0;
    width: 1px;
    left: 7px;
    top:12px;
}
.timeline-vertical .timeline-one:first-child{
    padding-top: 10px;
}
.timeline-vertical .timeline-one:first-child .time-icon{
    top: 14px;
}
.timeline-vertical .timeline-one:first-child:before{
    display: none;
    height: 28px;
    border-left: #d6d6d6 2px dotted;
    background-color: transparent;
}
.timeline-vertical .timeline-one:first-child:after{
    top: 28px;
}
.timeline-vertical .timeline-one .timeline-body{
    border-bottom: #f1f1f1 1px solid;
    padding-bottom: 10px;
}
.timeline-vertical .timeline-one.end{
    padding-top: 0;
}
.timeline-vertical .timeline-one.end .timeline-body{
    border-bottom: 0;
}
.timeline-vertical .timeline-one.end .time-icon{
    top: 4px;
    width: 16px;
    height: 16px;
    left: 0px;
    background-color: #fff;
    border: #fff 1px solid;
    z-index: 1;
}
.timeline-vertical .timeline-one.end .time-icon:before{
    width: 10px;
    height: 10px;
    content: '';
    display: inline-block;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 2px;
    top: 2px;
}
.timeline-vertical .timeline-one.end:before{
    display: none;
}
.timeline-vertical .timeline-one.end:after{
    top:6px;
}
.timeline-vertical .handler{
    color: rgb(96, 181, 255);
    position: relative;
}
.timeline-vertical .handler.is-msg{
    padding-left: 24px;
}
.timeline-vertical .is-msg .msg{
    position: absolute;
    left: 0;
}
.timeline-vertical .timeline-content{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    font-size: 14px;
}
.timeline-vertical .timeline-comment{
    font-size: 14px;
    color: #717171;
}
.mui-bar .mui-btn-block.task-btn {
    height: 40px;
    margin-bottom: 6px;
    padding: 10px 0 8px 0;
}
.task-btn.mui-btn-primary{
    background-color: #03a9f4;
    border: 0;
    color: #fff;
}
.task-btn.mui-btn-danger{
    background-color: #ff9800;
    border:0;
    color:#fff;
}
.task-item .triangle-topleft {
    width: 0px;
    height: 0;
    border-top: 32px solid rgba(236, 52, 124, 0.98);
    border-right: 32px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
}
.task-item .triangle-topleft .label{
    position: absolute;
    top: -32px;
    left: 4px;
    font-size: 10px;
}
.task-create-rows .mui-input-row>.label {
    width: 160px;
}
.mui-input-group .mui-input-row {
    height: 50px;
}
.mui-input-group .mui-input-row>.label {
    line-height: 28px;

    font-size: 18px;
    color: rgb(51,51,51);
}
.mui-input-group .mui-input-row input {
    height: 50px;
}
.mui-input-group .mui-input-row input::-webkit-input-placeholder { /* WebKit browsers */
    color:rgb(153,153,153);
}
.mui-input-group .mui-input-row input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:rgb(153,153,153);
}
.mui-input-group .mui-input-row input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:rgb(153,153,153);
}
.mui-input-group .mui-input-row input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:rgb(153,153,153);
}
.mui-input-group .mui-input-row:after {
    background-color: rgb(226, 224, 224);
}
.mui-bar-tab>a:first-child {
    padding-left: 4px;
}
.mui-bar-tab>a:last-child {
    padding-right: 4px;
}
.xunjian-devices-area {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #fff;
    margin-bottom: 10px;
}
.xunjian-devices-area {
    text-align: center;
}
.xunjian-devices-area .item {
    height: 80px;
    float: left;
    width: 50%;
    padding-top: 16px;
    position: relative;
}
.xunjian-devices-area .item:last-child:before {
    content: '';
    display: block;
    width: 1px;
    height: 44px;
    background-color: #e8e8e8;
    position: absolute;
    left: 0;
    top: 14px;
}
.xunjian-devices-area .name {
    color: #666666;
    font-size: 14px;
    display: block;
}
.xunjian-devices-area .count {
    color: #5177FD;
    font-size: 24px;
}
.xunjian-devices-area button {
    background-color: #fff;
    border: #00A1EA 1px dotted;
    border-radius: 20px;
    padding: 8px 70px;
    color: #4E82FD;
    font-size: 16px;
    margin-bottom: 12px;
}
.xunjian-devices-area.horizontal {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    height: 70px;
}
.xunjian-devices-area.horizontal .name {
    color: #666666;
    font-size: 14px;
}
.xunjian-devices-area.horizontal .count {
    color: #5177FD;
    font-size: 24px;
    margin-left: 14px;
}
.xunjian-devices-area.horizontal button {
    background-color: #E7E7E7;
    border-radius: 12px;
    border: none;
    outline: none;
    color: #666666;
    font-size: 12px;
    margin-left: 50px;
    padding: 6px 30px;
    margin-bottom: 0;
}