<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>安全评测记录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <!-- build:css -->
    <ng-include src="'/templates/css-importer.html'"></ng-include>
    <!-- endbuild -->

    <!-- build:js -->
    <script type="text/javascript" src="../../components/libs/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../../components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="../../components/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="../../components/angular-ui-router/release/stateEvents.min.js"></script>
    <script type="text/javascript" src="../../js/app/utils.js"></script>
    <script type="text/javascript" src="../../js/app/app.js"></script>
    <script type="text/javascript" src="../../js/controller/site/security_evaluate.js"></script>
    <script src="../../components/fastclick-master/lib/fastclick.js"></script>
    <script src="../../js/my/notify.js"></script>
    <script src="../../js/lib/circleChart.es5.min.js"></script>
    <!-- endbuild -->
</head>
<body class="box-vertical-center" ng-app="myApp" ng-controller="SecurityBaseCtrl">
</body>
</html>