<div class="mui-page" ng-controller="SecurityEvaluateHome">

        <header class="mui-bar bg-header" style="z-index:1;" id="transparentHeader">
            <a class="mui-icon mui-icon-left-nav mui-pull-left btn-back" onclick="history.back()"></a>
            <h1 class="mui-title" id="header_title">{{'ops.security' | translate}}</h1>
        </header>
        <div class="body-content" ng-cloak  onscroll="bodyScroll(this)">
            <div class="statics-card bg-{{evaluateData.status}}">
                <div class="container">
                    <h5 ng-if="!isEnglish">共{{evaluateData.total}}个检查项</h5>
                    <h5 ng-if="isEnglish">Has {{evaluateData.total}} check items</h5>
                    <div class="chart-container">
                        <div class="chart">
                            <div id="evaluateChart">
                                <div style="position: absolute;text-align: center;width: 100%;font-size: 12px;top:18%;">{{'finished' | translate}}</div>
                            </div>
                        </div>
                        <a class="mui-icon mui-icon-arrowright" ng-click="openPage('/templates/evaluate/security-evaluate-first-classify.html')"></a>
                    </div>
                    <ul class="footer-list">
                        <li><label class="title">{{'dts.type.fatal' | translate}}</label><label class="value">{{evaluateData.emergency}}</label> </li>
                        <li><label class="title">{{'dts.type.serious' | translate}}</label><label class="value">{{evaluateData.serious}}</label> </li>
                        <li><label class="title">{{'dts.type.general' | translate}}</label><label class="value">{{evaluateData.normal}}</label> </li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <ul class="info-group" style="font-size: 14px;">
                    <li style="line-height: 28px;"><label class="title">{{'station' | translate}}：</label><span class="value">{{evaluateData.station_name}}</span> </li>
                    <li style="line-height: 28px;"><label class="title">{{'ops.security.handler' | translate}}：</label><span class="value">{{evaluateData.creator_name}}</span> </li>
                    <li style="line-height: 28px;"><label class="title">{{'ops.security.time' | translate}}：</label><span class="value">{{evaluateData.create_time.substring(0, 16)}}</span> </li>
                    <!--<li style="line-height: 28px;"><label>上一次保存时间：</label><span class="value">{{evaluateData.update_time}}</span> </li>-->
                </ul>
            </div>
            <div class="card" style="padding: 8px 0 0 0;" ng-if="evaluateData.unqualifiedList.length">
                <div class="card-header border" style="padding-left: 12px;">
                    <i class="iconfont anticon-alert-circle color-warning"></i>{{'defects' | translate}}（{{evaluateData.unqualifiedList.length}}）
                </div>
                <div class="card-content no-padding">
                    <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed no-border">
                        <li class="mui-table-view-cell" ng-repeat="item in evaluateData.unqualifiedList">
                            <div class="mui-table">
                                <div class="mui-table-cell mui-col-xs-10">
                                        <span class="mui-ellipsis" style="display: block;">{{item.name}}
                                        </span>
                                    <h5><span class="title">{{'ops.security.type' | translate}}</span> ：{{item.path}}</h5>
                                    <h5><span class="title">{{'ops.security.item.solution' | translate}}</span> ：{{item.resolve}}</h5>
                                </div>
                                <div class="mui-table-cell mui-col-xs-2 mui-text-right">
                                    <span class="mui-pull-right text-status danger" style="position: absolute;right: 0;">{{item.type | translate}}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

</div>